<div class="sidebar">
  <div class="navigation-buttons">
    <button mat-button routerLinkActive="active" routerLink="/my/profile">
      <i class="material-icons">perm_identity</i>
      <span>Мій Профіль</span>
    </button>
    <button mat-button routerLinkActive="active" routerLink="/my/wishlist">
      <i class="material-icons">favorite_border</i>
      <span>Список Бажань</span>
    </button>
    <button mat-button routerLinkActive="active" routerLink="/my/purchases">
      <i class="material-icons">shopping_basket</i>
      <span>Мої Замовлення</span>
    </button>
<!--    <button mat-button routerLinkActive="active" routerLink="/my/favourite-articles">-->
<!--      <i class="material-icons">notes</i>-->
<!--      <span>Улюблені Статті</span>-->
<!--    </button>-->
  </div>
</div>
