@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: grid;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: mat-color($primary);
}

.header-content {
  display: grid;
  grid-template-columns: max-content auto max-content;

  .mobile-menu {
    width: 200px;
    @include response-from(sm) {
      display: none;
    }
  }

  .logo {
    padding: 8px 16px;
    @include response-to(xs) {
      display: none;
      justify-content: center;
    }

    img {
      height: 28px;
      width: 28px;
    }
  }

  .main-navigation {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(100%);
    @include response-to(xs) {
      display: none;
    }

    a, button {
      color: mat-color($primary, 100);

      &.active-link {
        border-bottom: 2px solid white;
        color: white;
        background-color: mat-color($primary, 800);
      }
    }

  }

  .login-button-wrapper {
    display: grid;

    @include response-from(xs) {
      justify-content: flex-end;
    }

    .login-button {
      span {
        margin-left: 7px;
      }
      @include response-to(xs) {
        display: none;
      }
    }

    .login-with-bucket {
      display: flex;
      .bucket-button {
        display: flex;
        align-items: center;

        .bucket {
          height: 37px;
          font-size: 20px;
          display: flex;
          align-items: center;
          .bucket-index {
            margin: -16px 0px 0px -10px;
            color:white;
            width: 16px;
            height: 16px;
            background-color: red;
            border-radius: 50%;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .mobile-login-button {
      justify-content: center;
      @include response-from(sm) {
        display: none;
      }
    }

  }


  a, button {
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &.active-link {
      border-bottom: 2px solid white;
      color: white;
    }

    span {
      margin-top: 2px;
    }

    i {
      margin: 4px;
    }

  }

}

::ng-deep .bucket-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -8px;
  padding: 12px 24px;
  max-width: 270px !important;

  .mat-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-800;
    font-weight: 500;

    .default-bucket-info {
    }

  }

  .bucket-info-wrapper {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 12px;
    line-height: 160%;

    .bucket-items-amount {
      color: mat-color($accent);
    }

    .bucket-items-price {
      color: mat-color($accent);
    }

    .bucket-flower-button {
      color: #4caf50;
      padding: 12px;
      display: flex;
      border-bottom: 1px solid $grey-700;
      .name-in-bucket {
        display: flex;
        width: 150px;
      }

      .size-in-bucket {
        justify-content: center;
        color: $grey-400;
        display: flex;
        width: 60px;
      }

      .price-in-bucket {
        justify-content: flex-end;
        color: mat-color($accent);
        display: flex;
        width: 70px;
      }
    }
  }

  button {
    width: 100%;
    i {
      margin-right: 8px;
    }
  }

  .check-bucket-button {
    margin-top: 12px;
  }

}

::ng-deep .auth-menu {
  margin-top: -8px;
  margin-right: 8px;

  button {
    position: relative;
    color: white;
    padding: 8px 12px 8px 16px;
    border: none;
    display: flex;
    width: 100%;
    font-size: 16px !important;

    &.user-menu-button {
      border-radius: 0px;
      color: $black-100;

      i {
        margin-right: 12px;
      }

    }



  }

}

::ng-deep .main-navigation-menu {
  margin-top: -8px;
  margin-left: 8px;
  color: $black-100;
  width: 135px;

  .mat-menu-content {
    display: flex;
    flex-direction: column;
  }

  button, a {
    border-radius: initial;
    padding: 8px 12px 8px 12px;
    font-size: 16px !important;
  }

}


