@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: grid;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: mat-color($primary);
}

.header-content {
  display: flex;
  align-items: center;
  //grid-template-columns: max-content auto max-content;

  .middle-block {
    width: 100%;
    margin: 0px 4px;

    .mobile-search-wrapper {
      display: flex;
      position: relative;
      height: 30px;

      i {
        position: absolute;
        color: $grey-400;
        left: 3px;
        top: 3px;
        pointer-events: none;
      }

      input {
        width: 100%;
        max-width: 240px;
        height: 100%;
        padding-left: 30px;
        padding-right: 4px;
        border: 0px;
        border-radius: 2px;
        font-size: 16px;

        &::placeholder {
          color: $grey-200;
        }

      }

      @include response-from(sm) {
        display: none;
      }
    }
  }

  .mobile-menu {
    //padding: 0px 16px !important;

    @include response-from(sm) {
      display: none;
    }
  }

  .logo {
    padding: 8px 16px;
    @include response-to(xs) {
      display: none;
      justify-content: center;
    }

    img {
      height: 28px;
      width: 28px;
    }
  }

  .main-navigation {
    display: flex;
    //grid-auto-flow: column;
    //grid-auto-columns: fit-content(100%);
    @include response-to(xs) {
      display: none;
    }

    a, button {
      color: mat-color($primary, 50);

      &.active-link {
        border-bottom: 2px solid mat-color($primary, 50);;
        color: white;
        background-color: mat-color($primary, 800);
      }
    }

  }

  .right-buttons-wrapper {
    display: grid;

    @include response-from(xs) {
      justify-content: flex-end;
    }

    .login-button {
      padding-left: 8px;
      text-align: center;
      align-items: center;
      justify-content: center;
      div {
        display: inline-block;
        margin-left: 6px;
        margin-top: 2px;

        @include response-to(xs) {
          margin-right: 8px;
        }

        &.user-name {
          display: inline-block;
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
      @include response-to(xs) {
        padding: 0px;
        min-width: auto;
        display: flex;
        justify-content: center;
        width: 50px;

        div {
          &.user-name {
            display: none;
          }
        }
      }
    }

    .login-with-bucket {
      display: flex;
      .bucket-button {
        display: flex;
        align-items: center;

        @include response-to(xs) {
          padding: 0px;
          min-width: auto;
          display: flex;
          justify-content: center;
          width: 50px;
        }

        .bucket {
          height: 37px;
          font-size: 20px;
          display: flex;
          align-items: center;
          .bucket-index {
            margin: -16px 0px 0px -10px;
            color:white;
            width: 16px;
            height: 16px;
            background-color: red;
            border-radius: 50%;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .mobile-login-button {
      display: none;
      justify-content: center;
      @include response-from(sm) {
        display: none;
      }
    }

  }


  a, button {
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &.icon-button {
      justify-content: center;
      border-bottom: none;
      min-width: 50px;
      padding: 0 8px;
    }

    &.active-link {
      border-bottom: 2px solid white;
      color: white;
    }

    span {
      margin-top: 2px;
    }

    i {
      margin: 4px;
    }

  }

}

::ng-deep .bucket-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -8px;
  padding: 12px 24px;
  max-width: 270px !important;

  .mat-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey-800;
    font-weight: 500;

    .default-bucket-info {
    }

  }

  .bucket-info-wrapper {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 12px;
    line-height: 160%;

    .bucket-items-amount {
      color: mat-color($accent);
    }

    .bucket-items-price {
      color: mat-color($accent);
    }

    .bucket-flower-button {
      color: #4caf50;
      padding: 12px;
      display: flex;
      border-bottom: 1px solid $grey-700;
      .name-in-bucket {
        display: flex;
        width: 150px;
      }

      .size-in-bucket {
        justify-content: center;
        color: $grey-400;
        display: flex;
        width: 60px;
      }

      .price-in-bucket {
        justify-content: flex-end;
        color: mat-color($accent);
        display: flex;
        width: 70px;
      }
    }
  }

  button {
    width: 100%;
    i {
      margin-right: 8px;
    }
  }

  .check-bucket-button {
    margin-top: 12px;
  }

}

::ng-deep .auth-menu {
  margin-top: -8px;
  margin-right: 8px;

  button {
    position: relative;
    color: white;
    padding: 8px 12px 8px 16px;
    border: none;
    display: flex;
    width: 100%;
    font-size: 16px !important;

    &.user-menu-button {
      border-radius: 0px;
      color: $black-100;

      i {
        margin-right: 12px;
      }

    }

    &.mat-stroked-button .mat-button-focus-overlay, &.mat-stroked-button .mat-button-ripple.mat-ripple {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }



  }

}

::ng-deep .main-navigation-menu {
  margin-top: -8px;
  margin-left: 8px;
  color: $black-100;
  width: 200px;

  .mat-menu-content {
    display: flex;
    flex-direction: column;

    .mat-menu-item {
      color: $black-100;
      display: flex;
      align-items: center;

      i {
        margin-right: 8px;
      }
    }

  }

  button, a {
    border-radius: initial;
    padding: 8px 12px 8px 12px;
    font-size: 16px !important;
  }

}

