@import "../../../theme";
@import '~@angular/material/theming';
@import "../../../mixins.scss";

:host {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: mat-color($primary);
  @include mat-elevation(2);
}

.logo {
  padding: 8px 16px;
  img {
    height: 28px;
    width: 28px;
  }
}

.menu-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .left-menu {
    display: flex;
  }

  .right-menu {
    display: flex;

    .mat-button {
      @include response-to(xs) {
        display: none;
      }
    }

    .mat-icon-button {
      width: 50px;
      justify-content: center;
      @include response-from(sm) {
        display: none;
      }
    }

  }


  a, button {
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;

    &.active-link {
      border-bottom: 2px solid white;
    }

    span {
      margin-top: 2px;
    }

    i {
      margin: 4px;
    }

  }


}

::ng-deep .auth-menu {
  margin-top: -8px;

  button {
    position: relative;
    color: white;
    padding: 10px 12px 10px 36px;
    border: none;

    display: flex;
    width: 100%;


    i {
      position: absolute;
    }

    &.facebook-auth {
      background: #3b5998;
      i {
        left: 15px;
      }
    }

    &.google-auth {
      background: #ec3c1e;
      i {
        left: 12px;
      }
    }
  }

}


