<div class="header-content">

  <button mat-button [matMenuTriggerFor]="mainNavigationMenu" class="mobile-menu icon-button">
    <i class="material-icons md-18">menu</i>
  </button>

  <a routerLink="/" class="logo">
    <img src="/assets/img/common/logo-white.png" alt="logo">
  </a>

  <div class="main-navigation">
    <a  mat-button routerLinkActive="active-link" [mat-menu-trigger-for]="catalogMenu">Каталог</a>
    <a routerLink="/shop" mat-button routerLinkActive="active-link">Магазин</a>
<!--    <a routerLink="/forum" mat-button routerLinkActive="active-link">Блог</a>-->
    <a routerLink="/about-us" mat-button routerLinkActive="active-link">Про нас</a>
  </div>

  <div class="middle-block">
    <div class="mobile-search-wrapper">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Пошук..." name="globalSearch" [(ngModel)]="globalSearch" (ngModelChange)="globalSearchService.onSearchTermChange.next($event)">
    </div>
  </div>

  <div class="right-buttons-wrapper" *ngIf="!securityService.isAuthenticated()">

    <div class="login-with-bucket">
      <button mat-button [matMenuTriggerFor]="bucket" class="bucket-button icon-button" (click)="bucketLocalService.updateBucketFlowerSizes()">
        <div class="bucket">
          <i class="fas fa-shopping-cart"></i>
            <div class="bucket-index" *ngIf="bucketLocalService.bucketInfo.totalItems > 0">
            <div>{{bucketLocalService.bucketInfo.totalItems}}</div>
            </div>
        </div>
      </button>

      <button mat-button class="login-button" (click)="securityService.openAuthDialog()">
        <i class="material-icons md-18">exit_to_app</i>
        <div>Увійти</div>
      </button>

      <button mat-button class="mobile-login-button icon-button" (click)="securityService.openAuthDialog()">
        <mat-icon aria-label="Login">account_circle</mat-icon>
      </button>
    </div>


  </div>

  <div class="right-buttons-wrapper" *ngIf="securityService.isAuthenticated()">

    <div class="login-with-bucket">
      <button mat-button [matMenuTriggerFor]="bucket" class="bucket-button">
        <div class="bucket" >
          <i class="fas fa-shopping-cart"></i>
          <div class="bucket-index" *ngIf="bucketLocalService.bucketInfo.totalItems > 0">
            <div>{{bucketLocalService.bucketInfo.totalItems}}</div>
          </div>
        </div>
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu" class="login-button">
        <mat-icon aria-label="Login">account_circle</mat-icon>
        <div class="user-name">{{securityService.getUser().name}}</div>
      </button>

      <button mat-button [matMenuTriggerFor]="userMenu" class="mobile-login-button">
        <mat-icon aria-label="Login">account_circle</mat-icon>
      </button>
    </div>
  </div>

</div>

<mat-menu #userMenu="matMenu" class="auth-menu">
  <div class="profile-menu user-menu">
    <button mat-flat-button class="user-menu-button" routerLink="/my/profile">
      <i class="material-icons">perm_identity</i>
      <span>Мій профіль</span>
    </button>
    <button mat-flat-button class="user-menu-button" routerLink="/my/wishlist">
      <i class="material-icons">favorite_border</i>
      <span>Список бажань</span>
    </button>
    <button mat-flat-button class="user-menu-button" routerLink="/my/purchases">
      <i class="material-icons">shopping_basket</i>
      <span>Мої замовлення</span>
    </button>
<!--    <button mat-flat-button class="user-menu-button" routerLink="/my/favourite-articles">-->
<!--      <i class="material-icons">notes</i>-->
<!--      <span>Улюблені статті</span>-->
<!--    </button>-->
  </div>

  <div class="profile-menu admin-menu" *ngIf="securityService.hasRole(Role.ADMIN) || securityService.hasRole(Role.SUPPORT)">
    <button mat-stroked-button class="user-menu-button" routerLink="/admin/shop/orders" color="primary">
      <i class="material-icons">table_chart</i>
      <span>Адмін Панель</span>
    </button>
  </div>

  <button mat-flat-button class="user-menu-button" (click)="logout()">
    <i class="material-icons">exit_to_app</i>
    <span>Вийти</span>
  </button>

</mat-menu>

<mat-menu #bucket="matMenu" class="bucket-menu">
  <div class="default-bucket-info" *ngIf="bucketLocalService.bucketInfo.totalItems == 0">Кошик порожній</div>
  <div *ngIf="bucketLocalService.bucketInfo.totalItems > 0">
    <div class="bucket-info-wrapper">
      <div>В вашій корзині <span class="bucket-items-amount">{{bucketLocalService.bucketInfo.totalItems}}</span> позиції</div>
      <div>На сумму <span class="bucket-items-price">{{bucketLocalService.bucketInfo.totalPrice / 100}}</span> грн</div>
    </div>
    <button mat-flat-button color="accent" routerLink="/order">
      <i class="material-icons shopping_basket"></i>
      <span>Оформити замовлення</span>
    </button>
    <button mat-button color="primary" class="check-bucket-button icon-button" (click)="bucketLocalService.openBucketDialog()">Переглянути товари</button>
  </div>
</mat-menu>


<mat-menu #mainNavigationMenu="matMenu" class="main-navigation-menu">
<!--    <a routerLink="/" mat-button routerLinkActive="active-link">Головна</a>-->
<!--    <a routerLink="/forum" mat-button routerLinkActive="active-link">Блог</a>-->
    <a mat-menu-item routerLink="/shop" routerLinkActive="active-link">
      <i class="material-icons shopping_cart"></i>
      <span>Магазин</span>
    </a>
    <a mat-menu-item routerLink="/about-us" routerLinkActive="active-link">
      <i class="material-icons description"></i>
      <span>Про нас</span>
    </a>
    <a mat-menu-item (click)="contactUsService.openMessageOptionsDialog()">
      <i class="material-icons question_answer"></i>
      <span>Звяжіться з нами</span>
    </a>

</mat-menu>

<mat-menu #catalogMenu class="catalog-menu" backdropClass="catalog-menu-backdrop">
  <catalog></catalog>
</mat-menu>
