<div class="panel-header">
  <h1>Складські Операції</h1>
  <div class="navigation-buttons">
    <button pButton [routerLink]="['item', ItemSaveMode.new]" icon="pi pi-plus" class="ui-button-success" label="&nbsp;&nbsp;Додати"></button>
    <button pButton (click)="refresh()" icon="pi pi-refresh" label="&nbsp;&nbsp;Оновити"></button>
  </div>
</div>

<div class="panel-content">
  <p-table #dt [columns]="selectedColumns" [value]="items.content" sortField="date" [sortOrder]="-1" [paginator]="true" [rows]="10" [totalRecords]="items.totalElements"
           [tableStyle]="{'table-layout':'auto'}" [contextMenu]="cm" [(contextMenuSelection)]="selected"
           (onLazyLoad)="onLazyLoad($event)" [lazy]="true">

    <!--Column selector-->
    <ng-template pTemplate="caption">
      <div style="text-align:left">
        <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                       selectedItemsLabel="{0} колонок обрано" [style]="{minWidth: '300px'}" defaultLabel="Оберіть колонки"
                       (onChange)="onColumnSelect($event)"></p-multiSelect>
      </div>
    </ng-template>

    <!--Headers-->
    <ng-template pTemplate="header" let-columns>
      <!--Titles-->
      <tr>

          <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">

            <th *ngSwitchCase="'flowerType'" [pSortableColumn]="'flowerSize.flower.flowerType.nameSingle'" >
              {{col.header}}
              <p-sortIcon [field]="'flowerSize.flower.flowerType.name'"></p-sortIcon>
            </th>

            <th *ngSwitchCase="'flower'" [pSortableColumn]="'flowerSize.flower.name'" >
              {{col.header}}
              <p-sortIcon [field]="'flowerSize.flower.name'"></p-sortIcon>
            </th>

            <th *ngSwitchCase="'size'" [pSortableColumn]="'flowerSize.size.nameOriginal'" >
              {{col.header}}
              <p-sortIcon [field]="'flowerSize.size.nameOriginal'"></p-sortIcon>
            </th>

            <th *ngSwitchCase="'operationType'" >
              {{col.header}}
            </th>

            <th *ngSwitchCase="'direction'">
              {{col.header}}
            </th>

            <th *ngSwitchDefault [pSortableColumn]="col.field" >
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>


          </ng-container>

      </tr>
      <!--Filters-->
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

          <div *ngSwitchCase="'flowerType'">
            <p-multiSelect [options]="flowerTypes" defaultLabel="Всі"
                           class="table-filter"
                           (onChange)="dt.filter($event.value, 'flowerTypeNames', 'in')"></p-multiSelect>
          </div>

          <input *ngSwitchCase="'flower'" pInputText type="text" (input)="dt.filter($event.target.value, 'flowerNamePart', 'startsWith')" class="table-filter">
          <input *ngSwitchCase="'size'" pInputText type="text" (input)="dt.filter($event.target.value, 'flowerSizeNamePart', 'startsWith')" class="table-filter">

          <div *ngSwitchCase="'amount'">
            <span>({{amountFilter[0]}} - {{amountFilter[1]}} )</span>
            <i class="fa fa-close" (click)="this.amountFilter=[amountMinMax[0], amountMinMax[1]]; dt.filter(null, col.field, 'range')" title="Очистити"
               [ngStyle]="{'margin-left':'8px', 'margin-bottom': '10px', 'cursor':'pointer'}"></i>
            <p-slider [(ngModel)]="amountFilter" [ngStyle]="{'width':'100%'}" [range]="true"
                      (onSlideEnd)="dt.filter(amountFilter, col.field, 'range')" [min]="amountMinMax[0]" [max]="amountMinMax[1]"></p-slider>
          </div>

          <div *ngSwitchCase="'date'">
            <p-calendar
              [(ngModel)]="dateFilters"
              appendTo="body"
              selectionMode="range"
              [readonlyInput]="false"
              dateFormat="dd.mm.yy"
              (onSelect)="dt.filter(dateFilters, col.field, 'dateTimeRange')"
              (onClearClick)="dt.filter(dateFilters, col.field, 'dateTimeRange')"
              [showButtonBar]="true"
              [locale]="translation.calendar_ua">
            </p-calendar>
          </div>

          <p-multiSelect *ngSwitchCase="'operationType'" [options]="operationTypes" defaultLabel="Всі" class="table-filter"
                         (onChange)="dt.filter($event.value, 'operationTypes', 'in')"></p-multiSelect>
          <p-multiSelect *ngSwitchCase="'direction'" [options]="directionOptions" defaultLabel="Всі" class="table-filter"
                         (onChange)="dt.filter($event.value, 'directions', 'in')"></p-multiSelect>
        </th>
      </tr>
    </ng-template>

    <!--Rows-->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData">
        <td *ngFor="let col of columns" [ngSwitch]="col.field">

          <span *ngSwitchCase="'flowerType'">
            {{rowData.flowerSize.flower.flowerType.nameSingle}}
          </span>

          <span *ngSwitchCase="'flower'">
            {{rowData.flowerSize.flower.nameOriginal}}
          </span>

          <span *ngSwitchCase="'size'">
            {{rowData.flowerSize.size.name}}
          </span>

          <span *ngSwitchCase="'direction'">
            <img class="direction-arrow" *ngIf="rowData.warehouseOperationType.direction == WarehouseOperationType.Direction.IN" src="/assets/icons/interface/arrow-in-green.png">
            <img class="direction-arrow" *ngIf="rowData.warehouseOperationType.direction == WarehouseOperationType.Direction.OUT" src="/assets/icons/interface/arrow-out-red.png">
            <span>{{translation.text.directions[rowData.warehouseOperationType.direction]}}</span>
          </span>

          <span *ngSwitchCase="'operationType'">
            {{translation.text.operationTypes[rowData.warehouseOperationType.operationType]}}
          </span>

          <span *ngSwitchCase="'date'">
            {{rowData[col.field] | date:'dd.MM.yyyy H:mm'}}
          </span>

          <span *ngSwitchCase="'isActive'">
             <div class="true-false-ico">
              <div *ngIf="rowData['isActive']">
                <i class="material-icons">check_box</i>
              </div>
              <div *ngIf="!rowData['isActive']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>

          <span *ngSwitchDefault>
            {{rowData[col.field]}}
          </span>

        </td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

