<form #passwordRestoreForm="ngForm" name="password-restore-form" class="password-restore-form" *ngIf="!confirmed" (ngSubmit)="passwordRestoreForm.valid && restorePassword()">
  <div class="title">Введіть новий пароль</div>

  <div class="input-group">
    <input
      type="password"
      #password="ngModel"
      name="password"
      placeholder="Пароль"
      [(ngModel)]="passwordRestoreConfirm.password"
      validateEqual="confirmPassword"
      validationEqualReverse="true"
      required
    />
    <div class="error-wrapper" *ngIf="password.dirty || password.touched || passwordRestoreForm.submitted">
      <div class="error-message" *ngIf="password.errors?.required">Повинно бути вказано</div>
    </div>

  </div>

  <div class="input-group">
    <input
      type="password"
      #passwordConfirm="ngModel"
      name="passwordConfirm"
      placeholder="Повторіть пароль"
      [(ngModel)]="passwordRestoreConfirm.passwordConfirm"
      validateEqual="password"
      validationEqualReverse="false"
      required
    />
    <div class="error-wrapper" *ngIf="passwordConfirm.dirty || passwordConfirm.touched || passwordRestoreForm.submitted">
      <div class="error-message" *ngIf="passwordConfirm.errors?.required">Повинно бути вказано</div>
      <div class="error-message" *ngIf="passwordConfirm.errors?.validateEqual && !passwordConfirm.errors?.required">Паролі повинні співпадати</div>
    </div>
  </div>

  <button type="submit" mat-flat-button color="primary" class="button-accent" [disabled]="loading">Оновити пароль</button>

</form>

<div *ngIf="confirmed">
  <div class="title">Пароль до вашого акаунту успішно оновлено</div>
  <div class="message">Тепер ви можете авторизуватися з новим паролем</div>
</div>

<confirmation-error *ngIf="hasError"></confirmation-error>

<button *ngIf="confirmed || hasError" mat-raised-button color="primary" class="back-to-home-button" routerLink="/">Повернутись на головну</button>
