<div class="panel-header">
  <h1>Користувачі</h1>
  <div class="navigation-buttons">
    <button pButton [routerLink]="['item', ItemSaveMode.new]" icon="pi pi-plus" class="p-button-success" label="Додати"></button>
    <button pButton (click)="refresh()" icon="pi pi-refresh" label="Оновити"></button>
  </div>
</div>

<div class="panel-content">
  <p-table #dt [value]="items.content" sortField="id" [sortOrder]="-1" [paginator]="true" [rows]="10"
           [tableStyle]="{'table-layout':'auto'}" [contextMenu]="cm" [(contextMenuSelection)]="selected" (onContextMenuSelect)="onContextMenuSelect($event)"
           [customSort]="true" (sortFunction)="sortData($event)"  dataKey="id" rowExpandMode="single" [columns]="selectedColumns"
           (onLazyLoad)="onLazyLoad($event)" [lazy]="true" [totalRecords]="items.totalElements" [filters]="filters">
    <ng-template pTemplate="caption">
      <div style="text-align:left">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                       selectedItemsLabel="{0} колонок обрано" [style]="{minWidth: '300px'}" defaultLabel="Оберіть колонки"
                       (onChange)="onColumnSelect($event)"></p-multiSelect>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>

        <ng-container *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
          <th *ngSwitchCase="'id'" [pSortableColumn]="'id'">
            {{col.header}}
            <p-sortIcon [field]="'id'"></p-sortIcon>
          </th>
          <th *ngSwitchCase="'name'" [pSortableColumn]="'name'">
            {{col.header}}
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th *ngSwitchCase="'email'" [pSortableColumn]="'email'">
            {{col.header}}
            <p-sortIcon [field]="'email'"></p-sortIcon>
          </th>
          <th *ngSwitchCase="'phone'" [pSortableColumn]="'phone'">
            {{col.header}}
          </th>
          <th *ngSwitchCase="'role'" [pSortableColumn]="'role'">
            {{col.header}}
            <p-sortIcon [field]="'role'"></p-sortIcon>
          </th>
          <th *ngSwitchCase="'lastOrderDate'" [pSortableColumn]="'lastOrderDate'">
            {{col.header}}
            <p-sortIcon [field]="'lastOrderDate'"></p-sortIcon>
          </th>
          <th *ngSwitchCase="'isEnabled'">
            {{col.header}}
          </th>
          <th *ngSwitchCase="'isVirtual'">
            {{col.header}}
          </th>
          <th *ngSwitchCase="'isActivated'">
            {{col.header}}
          </th>
          <th *ngSwitchCase="'created'">
            {{col.header}}
          </th>
          <th *ngSwitchCase="'note'">
            {{col.header}}
          </th>
        </ng-container>

      </tr>
      <tr>
        <th *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'id'" pInputText pKeyFilter="pint" type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter" [ngModel]="filters?.id?.value">
          <div *ngSwitchCase="'name'">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'namePart', 'contains')"
                   class="table-filter">
          </div>
          <div *ngSwitchCase="'email'">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'emailPart', 'contains')"
                   class="table-filter">
          </div>
          <div *ngSwitchCase="'phone'">
            <input pInputText type="text" (input)="dt.filter($event.target.value, 'phonePart', 'contains')"
                   class="table-filter">
          </div>

          <div *ngSwitchCase="'role'"></div>
          <div *ngSwitchCase="'isEnabled'"></div>
          <div *ngSwitchCase="'isVirtual'"></div>
          <div *ngSwitchCase="'isActivated'"></div>
          <div *ngSwitchCase="'created'"></div>
          <div *ngSwitchCase="'note'"></div>
          <div *ngSwitchCase="'lastOrderDate'"></div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData" [ngClass]="{'selected' : isContextMenuOpened && selected?.id == rowData?.id}">
        <td *ngFor="let col of selectedColumns" [ngSwitch]="col.field">
          <span *ngSwitchCase="'id'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'name'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'email'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'phone'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'role'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'isEnabled'">
            <div class="true-false-ico">
              <div *ngIf="rowData['isEnabled']">
                <i class="material-icons">check_box</i>
              </div>
              <div *ngIf="!rowData['isEnabled']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>
          <span *ngSwitchCase="'isVirtual'">
            <div class="true-false-ico">
              <div *ngIf="rowData['isVirtual']">
                <i class="material-icons">check_box</i>
              </div>
              <div *ngIf="!rowData['isVirtual']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>
          <span *ngSwitchCase="'isActivated'">
            <div class="true-false-ico">
              <div *ngIf="rowData['isActivated']">
                <i class="material-icons">check_box</i>
              </div>
              <div *ngIf="!rowData['isActivated']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>
          <span *ngSwitchCase="'created'">
            {{rowData[col.field] | date }}
          </span>
          <span *ngSwitchCase="'note'">
            {{rowData[col.field]}}
          </span>
          <span *ngSwitchCase="'lastOrderDate'">
            {{rowData[col.field] | date }}
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-contextMenu #cm [model]="menuItems" (onHide)="onContextMenuHide($event)"></p-contextMenu>

<p-dialog [(visible)]="displayMergeDialog" class="merge-dialog" [modal]="true" (onHide)="resetMergeForm(mergeForm)">
  <p-header>
    Об'єднання користувача з Id - {{selected?.id}} з іншим користувачем
  </p-header>

  <form id="merge_form" #mergeForm="ngForm" class="merge-dialog-content" (ngSubmit)="mergeForm.valid && merge()">

    <div class="p-grid p-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="p-col-4">
          <label>Id іншого користувача</label>
        </div>
        <div class="p-col-4">
          <input pInputText
                 #mergingUser="ngModel"
                 name="mergingUser"
                 [(ngModel)]="mergingUserId"
                 required>
        </div>
        <div class="p-col-4">
          <ng-container *ngIf="mergingUser.dirty || mergingUser.touched || mergeForm.submitted">
            <p-message *ngIf="mergingUser.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="merge_form" icon="{{loading ? 'fas fa-spinner fa-pulse' : 'pi pi-check'}}" label="Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayNoteChangeDialog" class="status-change-dialog" [modal]="true" (onHide)="resetNoteChangeForm(noteChangeForm)">
  <p-header>
    Оновлення примітки для користувача за Id - {{selected?.id}}
  </p-header>

  <form id="note_change_form" #noteChangeForm="ngForm" class="note-change-dialog-content" (ngSubmit)="noteChangeForm.valid && changeNote()">

    <div class="p-grid p-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="p-col-4">
          <label>Примітка</label>
        </div>
        <div class="p-col-4">
          <textarea pInputTextarea
                    #note="ngModel"
                    name="note"
                    [(ngModel)]="userNote"
                    cols="23" rows="6" maxlength="500">
          </textarea>
        </div>
        <div class="p-col-4">
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="note_change_form" icon="{{loading ? 'fas fa-spinner fa-pulse' : 'pi pi-check'}}" label="Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

