<div class="content">

  <div class="page-title">КОНТАКТИ</div>

  <div class="contacts">

    <div class="contact-card" id="phone">
      <div class="logo">
        <img src="https://images.vexels.com/media/users/3/157259/isolated/preview/7e7385df5b67d35bad5671b7fa0a9134-black-and-white-smartphone-icon-by-vexels.png" alt="phone">
      </div>
      <div class="card-info">
        <p>+380 (50) 552 17 23</p>
        <p>+380 (97) 552 17 23</p>
      </div>
    </div>

    <div class="contact-card" id="email">
      <div class="logo">
        <img src="https://nl.daysy.me/static/djangocms_admin_style/fonts/src/envelope-square.svg" alt="e-mail">
      </div>
      <div class="card-info">
        <p>flowershop@gmail.com</p>
      </div>
    </div>

    <div class="contact-card" id="facebook">
      <div class="logo">
        <img src="https://image.flaticon.com/icons/png/512/44/44646.png" alt="facebook">
      </div>
      <div class="card-info">
        <p><a>facebook/flowershop</a></p>
      </div>
    </div>

    <div class="contact-card" id="telegram">
      <div class="logo">
        <img src="https://png.pngtree.com/svg/20170330/7a2cf1738b.svg" alt="telegram">
      </div>
      <div class="card-info">
        <p><a>telegram/flowershop</a></p>
      </div>
    </div>

  </div>

</div>

<div class="find-us">

  <p>вул. Вірменська, 5, м. Івано-Франківськ,Івано-Франківська область, 76018, Україна</p>

  <img src="/assets/img/common/map.png" alt="map">

</div>

