@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}
router-outlet ::ng-deep + * {
  min-height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
}

router-outlet ::ng-deep + * > .container {
  flex-grow: 1;
}
