@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}
router-outlet ::ng-deep + * {
  min-height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
}

router-outlet ::ng-deep + * > .container {
  flex-grow: 1;
}

::ng-deep .message-menu {
  margin-left: -24px;
  margin-bottom: 12px;

  .mat-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      font-size: 24px;
      min-width: 24px;
      margin-right: 12px;
      text-align: center;
    }
  }
}

::ng-deep .message-menu-backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}


