<div class="main">

  <div class="header">
    <h1 class="page-title">Політика конфіденційності</h1>
  </div>

  <div class="content">
    <h1 class="title">1. ЗБІР ОСОБИСТОЇ ІНФОРМАЦІЇ</h1>
    <div class="paragraph">
      <div>1.1. Під час реєстрації або здійснення замовлення на сайті ми просимо вас повідомити необхідну особисту інформацію в обсязі, який є необхідним для надання послуг, а саме:</div>
        <ul>
          <li>прізвища, ім'я, по батькові;</li>
          <li>адреса електронної пошти;</li>
          <li>номери контактних телефонів;</li>
          <li>адресу для доставки замовлень;</li>
        </ul>
      <div>1.2. Файли cookie - коли ви заходите на наш сайт, ми відправляємо один або декілька файлів cookie на ваш комп'ютер або інший пристрій. Файли cookie використовуються для того, щоб підвищувати якість послуг, що надаються: зберігати налаштування користувача.</div>
      <div>1.3. Інформація про відвідання - при доступі на сайт наші сервери автоматично записують певну інформацію. Ці журнали сервера можуть містити таку інформацію, як веб-запит, IP-адресу, тип та мову браузера, дату та час запиту.</div>
      <div>1.4. Наш сайт може обробляти особисту інформацію на серверах в Україні та в інших країнах.</div>
    </div>

    <h1 class="title">2. НАДАННЯ ДОСТУПУ ДО ІНФОРМАЦІЇ</h1>
    <div class="paragraph">
      <div>2.1. Ми надаємо доступ до вашої особистої інформації іншим особам лише за таких обмежених обставин: </div>
      <div>2.1.1. У нас є на це ваш дозвіл. Для передачі будь-якої конфіденційної інформації нам потрібна ваша явна згода. </div>
      <div>2.1.2. У нас є достатні підстави вважати, що доступ, використання, збереження або розкриття такої інформації необхідні для:</div>
      <div>2.1.2.1. дотримання законодавства України, у тому числі надання інформації на вимогу фізичних та юридичних осіб, установ, організацій будь-якої форми власності або державних органів, які мають право на отримання такої інформації згідно із законодавством України;</div>
      <div>2.1.2.2. розслідування потенційних порушень Публічної оферти, що передбачає надання інформації про вас у відповідь на належно оформлений адвокатський запит з інформацією про порушення;</div>
      <div>2.1.2.3. виявлення і запобігання шахрайським діям, а також вирішення проблем безпеки та усунення технічних несправностей;</div>
      <div>2.1.2.4. захисту від безпосередньої загрози правам, майну або безпеці сайту merryflowers.com.ua, його користувачів або громадськості, в межах законодавства України.</div>
    </div>

    <h1 class="title">3. ЗАХИСТ ІНФОРМАЦІЇ</h1>
    <div class="paragraph">
      <div>3.1. Ми вживаємо всіх необхідних заходів для захисту даних від несанкціонованого доступу, зміни, розкриття або знищення. До цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання і обробки даних та заходів безпеки, включаючи відповідне шифрування та заходи щодо забезпечення фізичної безпеки даних для запобігання неавторизованого доступу.</div>
    </div>

    <h1 class="title">4. ДОСТУП ДО ОСОБИСТОЇ ІНФОРМАЦІЇ, ЇЇ ОНОВЛЕННЯ ТА ВИДАЛЕННЯ</h1>
    <div class="paragraph">
      <div>4.1. Ми робимо все, що від нас залежить, щоб надати вам доступ до ваших особистих даних і або виправити їх, якщо вони невірні, чи вилучити за вашим запитом, якщо тільки їх зберігання не вимагається законом або не обумовлено законними діловими цілями.</div>
      <div>4.2. Якщо з якихось причин ви прийняли рішення видалити всі персональні данні з сайту merryflowers.com.ua, вам необхідно написати відповідного листа на електронну скриньку merryflowersua@gmail.com, вказавши адрес електронної адреси, ім'я та прізвище на які зареєстрований ваш аккаунт на сайті merryflowers.com.ua</div>
    </div>

    <h1 class="title">5. ЗМІНА ЦІЄЇ ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</h1>
    <div class="paragraph">
      <div>5.1. Ця політика конфіденційності може час від часу змінюватися. Зміни, що вносяться в політику конфіденційності, будуть публікувати на цій сторінці.</div>
    </div>

  </div>


</div>
