@import "theme";
@import "mixins";

:host {

  form {
    min-width: 280px;
  }

  .forgot-password {
    color: $grey-600;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }

  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 120%;
    padding: 8px 12px;
    font-weight: 400;
  }

  .dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;

    @include response-from(sm) {
      width: 400px;
    }

    & > i.close {
      cursor: pointer;
      position: absolute;
      top: -16px;
      right: -16px;
      color: $grey-400;
      font-size: 24px;
    }

    .dialog-header {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      color: $black-100;
    }

    .content {
      display: flex;
      height: 100%;
      font-size: 20px;
      justify-content: center;

      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;


        .dialog-content {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          width: 100%;


        }

        .dialog-action {
          margin-top: 12px;
          display: flex;
          width: 100%;
          justify-content: space-between;
        }

        .auth-facebook {
          background-color: #3b5998;
          color: white;
          i {
            margin-right: 8px;
          }
        }

        .auth-social-hint {
          font-size: 16px;
          text-align: center;
          color: $grey-400;
          width: 100%;
          margin: 24px 0 24px;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            right: 0;
            background-color: $grey-400;
          }

          span {
            position: relative;
            background: white;
            padding: 0 10px;
          }

        }

      }


    }


    h1 {
      font-size: 2em;
    }

    button {
      font-size: 20px;
    }
  }

  .reg-response-wrapper, .restore-password-response-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    .support-request {
      color: mat-color($primary);
      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
    }

    .message-primary {
      margin-bottom: 16px;
      font-size: 14px;

      .highlight {
        color: mat-color($accent);
      }

    }

    .message-secondary {
      font-size: 13px;
      color: $grey-400;
      margin-bottom: 16px;
    }

    button {
      width: 64px;
      display: flex;
      align-self: center;
    }

  }

}
