@import '../../../../../../node_modules/@angular/material/theming';
@import "theme";
@import "mixins";


:host {
  //@include mat-elevation(2);
  cursor: pointer;
  min-height: 200px;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 200px auto;

  .cover {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    overflow: hidden;

    .add-to-card {
      height: 50px;
      position: absolute;
      color: white;
      background: rgba(#000000,.45);
      width: 100%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -50px;
      transition: bottom .3s, background .25s;
      text-transform: uppercase;

      @include response-to(sm) {
        bottom: 0px;
        height: 40px;
      }

      .mat-icon {
        margin-right: 8px;
      }

      &:hover {
        background: rgba(mat-color($accent, 600), .80);
        transition: bottom .3s, background .25s;
      }

    }

    .favorites-button-wrapper {
      top: 8px;
      left: 8px;
      position: absolute;
      display: flex;
      //visibility: hidden;
      align-items: center;
      width: 100%;
      //opacity: 0;
      //transition: opacity .3s, visibility .3s;

      .mat-icon-button {
        color: $black-100;
        background: $grey-50;
        height: 36px;
        width: 36px;
        line-height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &.in-favorites {
          color: mat-color($accent)
        }

      }

    }

  }

  &:hover {
    .cover {
      .add-to-card {
        bottom: 0px;
        transition: bottom .3s, background .25s;
      }
      .favorites-button-wrapper {
        //display: flex;
        visibility: visible;
        opacity: 1;
        transition: opacity .3s;
      }
    }
  }

  .info {
    background: $grey-50;
    text-align: center;
    padding: 12px 8px 12px;

    .flower-type-name {
      color: $grey-800;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }

    .name {
      //color: $grey-800;
      color: mat-color($primary);
      font-size: 20px;
    }

    .price {
      //color: $black-100;
      color: mat-color($accent, 400);
      font-weight: 500;
      margin-top: 4px;
    }

  }



}
