@import "theme";
@import "mixins.scss";

img.direction-arrow {
  width: 16px;
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: -4px;
}

th[ng-reflect-ng-switch="direction"] {
  width: 160px;
}

body .p-table .p-table-tbody > tr.p-contextmenu-selected {
  background-color: mat-color($accent);
  color: #ffffff;
}
