  <div class="wrapper">

    <div class="title">
      Як провести оплату?
    </div>
    <div class="content">

      <div class="info-block">
        <div class="sub-title">Реквізити для оплати</div>
        <div>Номер картки: <b>5168 7573 6235 6984</b></div>
        <div>Приват Банк, Галинська Марія Федорівна</div>
      </div>

      <div class="info-block">
        <div class="sub-title">Порядок здійснення оплати</div>
        <ul>
          <li>Оплатіть, будь ласка, суму вказану в замовленні у графі <b>«Разом»</b> включно з комісією вашого банку чи платіжної системи. В коментарях до оплати вкажіть, будь ласка, <b>номер свого замовлення</b> та <b>ПІП замовника</b>.</li>
          <li>Повідомте, будь ласка, нас про оплату, відправивши нам <b>фотокопію квитанції</b> або <b>дату, час</b> та <b>зараховану нам суму</b> за допомогою <a href="https://msngr.pro/vi/380507072637/" target="_blank" style="color: #665CAC">Viber</a> або <a href="https://t.me/MarijaHalynska" target="_blank" style="color: #0088cc">Telegram</a> на номер <a href="tel:+380507072637">+380507072637</a> або у приватні повідомлення <a href="https://www.facebook.com/profile.php?id=100015146929090" target="_blank" style="color: #4267B2">Марії Галинскій</a> через <a href="http://m.me/MarijaHalynska" target="_blank" style="color: #0084FF">Facebook Messenger</a>.</li>
        </ul>
        <div style="font-size: 16px"><span style="color: #ff0000">Увага!</span> Щоб ваше замовлення було зафіксоване, оплатіть, будь ласка, його вартість згідно інструкції протягом 10-ти днів.</div>
      </div>

    </div>

  </div>




