  <div class="wrapper">

    <div class="title">
      Як провести оплату?
    </div>
    <div class="content">

      <div class="info-block">
        <div class="sub-title">Реквізити для оплати</div>
        <div>Номер картки: <b>5168 7573 6235 6984</b></div>
        <div>Приват Банк, Галинська Марія Федорівна</div>
      </div>

      <div class="info-block">
        <div class="sub-title">Порядок здійснення оплати</div>
        <ul>
          <li>Оплатіть, будь ласка, суму вказану в замовленні у графі <b>«Разом»</b> включно з комісією вашого банку чи платіжної системи. В коментарях до оплати вкажіть, будь ласка, <b>номер свого замовлення та ПІП замовника</b>.</li>
          <li>Повідомте нас, будь ласка, про оплату, відправивши нам <b>фотокопію чека</b> про оплату або <b>дату, час та зараховану нам суму</b> за допомогою <b>Viber</b> на номер <b>0507072637</b> або у приватні повідомлення <a href="https://www.facebook.com/profile.php?id=100015146929090" target="_blank">Марії Галинскій</a> на <b>Facebook</b>.</li>
        </ul>
      </div>


    </div>

  </div>




