<div class="panel-header">
  <h1>Замовлення</h1>
  <div class="navigation-buttons">
    <button pButton (click)="exportPageToExcel()" icon="fas fa-file-excel" class="ui-button-success" label="&nbsp;Експортувати в Excel"></button>
    <button pButton (click)="displayCreateOrderDialog = true" icon="pi pi-plus" class="ui-button-success" label="&nbsp;&nbsp;Додати"></button>
    <button pButton (click)="refresh()" icon="pi pi-refresh" label="&nbsp;&nbsp;Оновити"></button>
  </div>

</div>

<div class="panel-content">
  <p-table #dt [columns]="selectedColumns" [value]="items.content" sortField="created" [sortOrder]="-1" [paginator]="true" [rows]="10" [totalRecords]="items.totalElements"
           [tableStyle]="{'table-layout':'auto'}" dataKey="id" rowExpandMode="single"
           (onLazyLoad)="onLazyLoad($event)" [lazy]="true"
           [contextMenu]="cm" selectionMode="single" (onContextMenuSelect)="onContextMenuSelect($event)" contextMenuSelectionMode="joint">

    <!--Column selector-->
    <ng-template pTemplate="caption">
      <div style="text-align:left">
        <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
                       selectedItemsLabel="{0} колонок обрано" [style]="{minWidth: '300px'}" defaultLabel="Оберіть колонки"
                       (onChange)="onColumnSelect($event)"></p-multiSelect>
      </div>
    </ng-template>

    <!--Headers-->

    <ng-template pTemplate="header" let-columns>

      <!--Titles-->

      <tr>

        <th></th>

        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">

          <th *ngSwitchDefault [pSortableColumn]="col.field" >
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>

          <th *ngSwitchCase="'userId'" [pSortableColumn]="'user.id'" >
            {{col.header}}
            <p-sortIcon [field]="'user.id'"></p-sortIcon>
          </th>

          <th *ngSwitchCase="'user'" [pSortableColumn]="'user.name'" >
            {{col.header}}
            <p-sortIcon [field]="'user.name'"></p-sortIcon>
          </th>

          <th *ngSwitchCase="'userFacebookNickname'" [pSortableColumn]="'user.facebookNickname'" >
            {{col.header}}
            <p-sortIcon [field]="'user.facebookNickname'"></p-sortIcon>
          </th>

          <th *ngSwitchCase="'phone'" >
            {{col.header}}
          </th>

          <th *ngSwitchCase="'deliveryAddress'" >
            {{col.header}}
          </th>

          <th *ngSwitchCase="'note'" >
            {{col.header}}
          </th>

          <th *ngSwitchCase="'comment'" >
            {{col.header}}
          </th>

          <th *ngSwitchCase="'priceToPay'" >
            {{col.header}}
          </th>

        </ng-container>

      </tr>

      <!--Filters-->

      <tr>
        <th></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">
          <input *ngSwitchCase="'user'" pInputText type="text" (input)="dt.filter($event.target.value, 'userNamePart', 'contains')" class="table-filter">
          <input *ngSwitchCase="'userFacebookNickname'" pInputText type="text" (input)="dt.filter($event.target.value, 'userFacebookNicknamePart', 'startsWith')" class="table-filter">
          <input *ngSwitchCase="'phone'" pInputText type="text" (input)="dt.filter($event.target.value, 'phonePart', 'contains')" class="table-filter">
          <input *ngSwitchCase="'userId'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'equals')" class="table-filter">

          <div *ngSwitchCase="'status'">
            <p-multiSelect [options]="statusesOptions" defaultLabel="Всі"
                           class="table-filter"
                           (onChange)="dt.filter($event.value, 'statusNames', 'in')"></p-multiSelect>
          </div>

          <div *ngSwitchCase="'created'">
            <p-calendar
              [(ngModel)]="createdFilters"
              appendTo="body"
              selectionMode="range"
              [readonlyInput]="false"
              dateFormat="dd.mm.yy"
              (onSelect)="dt.filter(createdFilters, col.field, 'dateRange')"
              (onClearClick)="dt.filter(createdFilters, col.field, 'dateRange')"
              showButtonBar="true"
              [locale]="translation.calendar_ua">
            </p-calendar>
          </div>

          <div *ngSwitchCase="'closed'">
            <p-calendar
              [(ngModel)]="closedFilters"
              appendTo="body"
              selectionMode="range"
              [readonlyInput]="false"
              dateFormat="dd.mm.yy"
              (onSelect)="dt.filter(closedFilters, col.field, 'dateRange')"
              (onClearClick)="dt.filter(closedFilters, col.field, 'dateRange')"
              showButtonBar="true"
              [locale]="translation.calendar_ua">
            </p-calendar>
          </div>

        </th>
      </tr>
    </ng-template>

    <!--Rows-->

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded" >
      <tr [pContextMenuRow]="rowData" [ngClass]="{'selected' : isContextMenuOpened && selected?.id == rowData?.id, 'expanded' : expanded && !(isContextMenuOpened && selected?.id == rowData?.id)}">

        <td>
          <a [pRowToggler]="rowData" class="row-expander">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>

        <td *ngFor="let col of columns" [ngSwitch]="col.field">

          <span *ngSwitchCase="'user'">
            {{rowData[col.field]?.name}}
          </span>

          <span *ngSwitchCase="'userId'">
            {{rowData.user?.id}}
          </span>

          <span *ngSwitchCase="'userFacebookNickname'">
            {{rowData.user?.facebookNickname}}
          </span>

          <span *ngSwitchCase="'phone'">
            {{rowData[col.field]}}
          </span>

          <span *ngSwitchCase="'created'">
            {{rowData[col.field] | date: 'dd.MM.yy HH:mm' }}
          </span>

          <span *ngSwitchCase="'closed'">
            {{rowData[col.field] | date:'dd.MM.yy HH:mm' }}
          </span>

          <span *ngSwitchCase="'status'">
            {{translation.text.orderStatuses[rowData[col.field]]}}
          </span>

          <span *ngSwitchCase="'totalPrice'">
            {{rowData[col.field] / 100 + ' грн'}}
          </span>

          <span *ngSwitchCase="'discount'">
            {{rowData[col.field] / 100 + ' грн'}}
          </span>

          <span *ngSwitchCase="'priceToPay'">
            {{(rowData['totalPrice'] - rowData['discount']) / 100 + ' грн'}}
          </span>

          <span *ngSwitchCase="'isPaid'">
             <div class="true-false-ico">
              <div *ngIf="rowData['isPaid']">
                <i class="material-icons">check_box</i>
              </div>
              <div *ngIf="!rowData['isPaid']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>

          <span *ngSwitchCase="'paid'">
             <div class="true-false-ico">
              <div *ngIf="rowData['paid']">
                 {{rowData[col.field] | date: 'dd.MM.yy' }}
              </div>
              <div *ngIf="!rowData['paid']">
                <i class="material-icons">indeterminate_check_box</i>
              </div>
            </div>
          </span>

          <span *ngSwitchDefault>
            {{rowData[col.field]}}
          </span>

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData>
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="expanded-row-table">
            <div class="body">
              <div class="row">
                <div class="head">Фото</div>
                <div class="head">Назва</div>
                <div class="head">Розмір</div>
                <div class="head">Ціна</div>
                <div class="head">Кількість</div>
                <div class="head">Сума</div>
              </div>
              <div class="row" *ngFor="let orderItem of rowData.orderItems">
                <div class="cell table-row-image-wrapper">
                  <img [src]="orderItem.image" class="table-row-image zoomable" (click)="zoomImage(orderItem.image)">
                </div>
                <div class="cell">{{orderItem.name}}</div>
                <div class="cell">{{orderItem.sizeName}}</div>
                <div class="cell">{{orderItem.price / 100 + ' грн'}}</div>
                <div class="cell">{{orderItem.amount}}</div>
                <div class="cell">{{orderItem.amount * orderItem.price / 100 + ' грн'}}</div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>

<p-contextMenu #cm [model]="menuItems" (onHide)="onContextMenuHide($event)"></p-contextMenu>

<p-dialog [(visible)]="displayStatusChangeDialog" class="status-change-dialog" [modal]="true" (onHide)="resetStatusChangeForm(statusChangeForm)">
  <p-header>
    Зміна статусу замовлення №{{selected?.id}}
  </p-header>

  <form id="status_change_form" #statusChangeForm="ngForm" class="status-change-dialog-content" (ngSubmit)="statusChangeForm.valid && changeStatus()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Статус буде змінено на:</label>
        </div>
        <div class="ui-grid-col-4">
          <label class="new-status-name"
                 [ngClass]="{'png-primary': orderStatusChangeRequest.status == Status.PROCESSING || orderStatusChangeRequest.status == Status.DELIVERING,
                 'png-accent': orderStatusChangeRequest.status == Status.DONE,
                 'png-warn': orderStatusChangeRequest.status == Status.RETURNED,
                 'png-danger': orderStatusChangeRequest.status == Status.CANCELED}">
            {{translation.text.orderStatuses[orderStatusChangeRequest.status]}}
          </label>
        </div>
      </div>

      <div class="prime-form-group" *ngIf="orderStatusChangeRequest.status == Status.DELIVERING">
        <div class="ui-grid-col-4">
          <label>Номер декларації</label>
        </div>
        <div class="ui-grid-col-4">
          <input
            pInputText
            #postDeclaration="ngModel"
            name="postDeclaration"
            [(ngModel)]="orderStatusChangeRequest.postDeclaration"/>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="postDeclaration.dirty || postDeclaration.touched || statusChangeForm.submitted">
            <p-message *ngIf="postDeclaration.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Коментар</label>
        </div>
        <div class="ui-grid-col-4">
          <textarea pInputTextarea
                    #comment="ngModel"
                    name="comment"
                    [(ngModel)]="orderStatusChangeRequest.comment"
                    cols="23" rows="6" maxlength="500">
          </textarea>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="status_change_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayContactsChangeDialog" class="contacts-change-dialog" [modal]="true" (onHide)="resetContactsChangeForm(contactsChangeForm)">
  <p-header>
    Зміна реквізитів замовлення №{{selected?.id}}
  </p-header>

  <form id="contacts_change_form" #contactsChangeForm="ngForm" class="contacts-change-dialog-content" (ngSubmit)="contactsChangeForm.valid && changeContacts()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Телефон</label>
        </div>
        <div class="ui-grid-col-4">
          <input
            pInputText
            #phone="ngModel"
            name="phone"
            [(ngModel)]="orderContactsChangeRequest.phone"
            validation="false"
            prefix="+38 "
            mask='(000) 000-0000'
            maxlength="18"
            pattern=".{10,10}"
            required/>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="phone.dirty || phone.touched || contactsChangeForm.submitted">
            <p-message *ngIf="phone.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
            <p-message *ngIf="!phone.errors?.required && phone.errors?.pattern" severity="error" text="Введіть валідний номер телефону"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Адреса доставки</label>
        </div>
        <div class="ui-grid-col-4">
          <textarea pInputTextarea
            #deliveryAddress="ngModel"
            name="deliveryAddress"
            [(ngModel)]="orderContactsChangeRequest.deliveryAddress"
            cols="23" rows="6" maxlength="500"
            required>
          </textarea>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="deliveryAddress.dirty || deliveryAddress.touched || contactsChangeForm.submitted">
            <p-message *ngIf="deliveryAddress.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="contacts_change_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayNoteChangeDialog" class="status-change-dialog" [modal]="true" (onHide)="resetNoteChangeForm(noteChangeForm)">
  <p-header>
    Оновлення примітки для замовлення №{{selected?.id}}
  </p-header>

  <form id="note_change_form" #noteChangeForm="ngForm" class="note-change-dialog-content" (ngSubmit)="noteChangeForm.valid && changeNote()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Примітка</label>
        </div>
        <div class="ui-grid-col-4">
          <textarea pInputTextarea
                    #note="ngModel"
                    name="note"
                    [(ngModel)]="orderNote"
                    cols="23" rows="6" maxlength="500">
          </textarea>
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="note_change_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayMergeDialog" class="merge-dialog" [modal]="true" (onHide)="resetMergeForm(mergeForm)">
  <p-header>
    Об'єднання замовлення №{{selected?.id}} з іншим замовленням
  </p-header>

  <form id="merge_form" #mergeForm="ngForm" class="merge-dialog-content" (ngSubmit)="mergeForm.valid && merge()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Номер іншого замовлення</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText
                    #mergingOrder="ngModel"
                    name="mergingOrder"
                    [(ngModel)]="mergingOrderId"
                    required>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="mergingOrder.dirty || mergingOrder.touched || mergeForm.submitted">
            <p-message *ngIf="mergingOrder.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="merge_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displaySplitDialog" class="split-dialog" [modal]="true" (onHide)="resetSplitForm(splitForm)">
  <p-header>
    Розділення замовлення №{{splittingOrder?.id}}
  </p-header>

  <form id="split_form" #splitForm="ngForm" class="split-dialog-content" (ngSubmit)="splitForm.valid && split()">

      <div class="orders-splitting-block-wrapper" *ngIf="splittingOrder">
        <div class="split-left">
          <div class="title">Замовлення №<b>{{splittingOrder?.id}}</b></div>
          <div class="split-panel-content">

            <div class="expanded-row-table split-table" *ngIf="splittingOrder.orderItems.length > 0">
              <div class="body">
                <div class="row">
                  <div class="head">Фото</div>
                  <div class="head">Назва</div>
                  <div class="head">Розмір</div>
                  <div class="head">Кількість</div>
                  <div class="head empty"></div>
                </div>
                <ng-template ngFor let-orderItem [ngForOf]="splittingOrder.orderItems" let-i="index">
                  <div class="row">
                    <div class="cell image-wrapper">
                      <img [src]="orderItem.image" class="order-item-logo">
                    </div>
                    <div class="cell">{{orderItem.name}}</div>
                    <div class="cell">{{orderItem.sizeName}}</div>
                    <div class="cell">{{orderItem.amount}}</div>
                    <div class="cell control-wrapper" (click)="moveToOtherOrder(i)">
                      <i class="fas fa-caret-right"></i>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="order-empty" *ngIf="splittingOrder.orderItems.length == 0">
              В основному замовленні повинна залишитись хоча б одна позиція
            </div>

          </div>
        </div>
        <div class="split-right">
          <div class="title">Нове замовлення</div>
          <div class="split-panel-content">

            <div class="expanded-row-table split-table" *ngIf="splittingOtherOrderItems.length > 0">
              <div class="body">
                <div class="row">
                  <div class="head empty"></div>
                  <div class="head">Фото</div>
                  <div class="head">Назва</div>
                  <div class="head">Розмір</div>
                  <div class="head">Кількість</div>
                </div>
                <ng-template ngFor let-orderItem [ngForOf]="splittingOtherOrderItems" let-i="index">
                  <div class="row">
                    <div class="cell control-wrapper" (click)="moveToMainOrder(i)">
                      <i class="fas fa-caret-left"></i>
                    </div>
                    <div class="cell image-wrapper">
                      <img [src]="orderItem.image" class="order-item-logo">
                    </div>
                    <div class="cell">{{orderItem.name}}</div>
                    <div class="cell">{{orderItem.sizeName}}</div>
                    <div class="cell">{{orderItem.amount}}</div>
                  </div>
                </ng-template>

              </div>
            </div>

            <div class="order-empty" *ngIf="splittingOtherOrderItems.length == 0">
              Перемістіть сюди позиції з основного замовлення
            </div>

          </div>
        </div>
      </div>

  </form>

  <p-footer>
    <button pButton form="split_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading || splittingOtherOrderItems.length == 0 || this.splittingOrder.orderItems.length == 0"></button>
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="displayUpdateOrderItemsDialog" class="update-order-items-dialog" [modal]="true" (onHide)="resetUpdateOrderItemsForm(updateOrderItemsForm)" positionTop="120">
  <p-header>
    Оновлення замовлення №{{selected?.id}}
  </p-header>

  <form id="update_order_items" #updateOrderItemsForm="ngForm" class="update-order-items-dialog-content" (ngSubmit)="updateOrderItemsForm.valid && updateOrderItems()">

    <!--TODO: Add loading spinner-->

    <div class="update-order-items-block-wrapper" *ngIf="updatingOrder && flowerSizes">

      <div class="expanded-row-table update-order-items-table">
        <div class="body">
          <div class="row">
            <div class="head">Фото</div>
            <div class="head">Назва</div>
            <div class="head">Розмір</div>
            <div class="head">Кількість</div>
            <div class="head">Сума</div>
            <div class="head"></div>
          </div>
          <ng-template ngFor let-orderItem [ngForOf]="updatingOrder.orderItems" let-i="index">
            <div class="row">
              <div class="cell image-wrapper">
                <img [src]="orderItem.image" class="order-item-logo">
              </div>
              <div class="cell">{{orderItem.name}}</div>
              <div class="cell">{{orderItem.sizeName}}</div>
              <div class="cell">
                <div class="input-wrapper">
                  <i class="fas fa-angle-left" (click)="minusAmount(i)"></i>
                  <input [name]="'orderItem_' + orderItem.flowerSizeId" (ngModelChange)="onAmountModelChange($event, orderItem)" [(ngModel)]="orderItem.amount" maxlength="5" required type="text" digitOnly minValue="1" [maxValue]="getMaxForFlowerSize(orderItem)" >
                  <i class="fas fa-angle-right" (click)="plusAmount(i)"></i>
                </div>
              </div>
              <div class="cell">{{orderItem.amount * orderItem.price / 100 + ' грн'}}</div>
              <div class="cell control-wrapper" (click)="removeOrderItem(i)">
                <i class="fas fa-times"></i>
              </div>
            </div>

          </ng-template>
        </div>
      </div>

      <div class="add-block">

        <p-dropdown class="add-flower-size-dropdown" [options]="flowerSizes" [(ngModel)]="flowerSizeToAdd" name="flowerSizeToAdd" filter="true" placeholder="Оберіть товар" emptyFilterMessage="Не знайдено" optionLabel="flower.name" appendTo="body">
          <ng-template let-selectedItem pTemplate="selectedItem">
            <div class="flower-size-selected">
              <img [src]="selectedItem.value.flower.image"/>
              <div><b>{{selectedItem.value.flower.nameOriginal}}</b> {{selectedItem.value.size.name}}, {{selectedItem.value.flower.flowerType.nameSingle}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="ui-helper-clearfix">
              <div class="flower-size-option">
                <img [src]="item.value.flower.image"/>
                <div class="flower-size-option-info">
                  <div class="flower-size-option-info-main"><b>{{item.value.flower.nameOriginal}}</b> {{item.value.size.name}}, {{item.value.flower.flowerType.nameSingle}}</div>
                  <div class="flower-size-option-info-additional">Ціна: {{item.value.price / 100}} грн, Доступно: {{item.value.available}} шт</div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dropdown>

        <button pButton icon="pi pi-plus" label="&nbsp;&nbsp;Додати" type="button" class="ui-button-success" [disabled]="loading" (click)="addOrderItem()"></button>

      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="update_order_items" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading || updateOrderItemsForm.invalid"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayDiscountChangeDialog" class="discount-change-dialog" [modal]="true" (onHide)="resetDiscountChangeForm(discountChangeForm)">
  <p-header>
    Встановлення знижки для замовлення №{{selected?.id}}
  </p-header>

  <form id="discount_change_form" #discountChangeForm="ngForm" class="discount-change-dialog" (ngSubmit)="discountChangeForm.valid && changeDiscount()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Знижка (грн)</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText
                    #discount="ngModel"
                    name="discount"
                    [(ngModel)]="orderDiscount"
                    maxlength="4"
                    digitOnly
                    required>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="discountChangeForm.dirty || discountChangeForm.touched || discountChangeForm.submitted">
            <p-message *ngIf="discount.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="discount_change_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayPaymentConfirmDialog" class="payment-confirm-dialog" [modal]="true" (onHide)="resetPaymentConfirmForm(discountChangeForm)">
  <p-header>
    Підтвердження оплати для замовлення №{{selected?.id}}
  </p-header>

  <form id="payment_confirm_form" #paymentConfirmForm="ngForm" class="payment-confirm-dialog-content" (ngSubmit)="paymentConfirmForm.valid && confirmPayment()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Дата оплати</label>
        </div>
        <div class="ui-grid-col-4">
          <p-calendar
            #paymentDateCalendar="ngModel"
            name="paymentDate"
            [(ngModel)]="paymentDate"
            appendTo="body"
            [readonlyInput]="false"
            dateFormat="dd.mm.yy"
            showButtonBar="true"
            [locale]="translation.calendar_ua">
          </p-calendar>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="paymentConfirmForm.dirty || paymentConfirmForm.touched || paymentConfirmForm.submitted">
            <p-message *ngIf="paymentDateCalendar.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="payment_confirm_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayCreateOrderDialog" class="create-order-dialog" [modal]="true" (onHide)="resetCreateOrderForm(createOrderForm)">
  <p-header>
    Створення пустого замовлення
  </p-header>

  <form id="create_order_form" #createOrderForm="ngForm" class="create-order-dialog-content" (ngSubmit)="createOrderForm.valid && createOrder()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-4">
          <label>Id користувача</label>
        </div>
        <div class="ui-grid-col-4">
          <input pInputText
                 #userIdToCreateOrderInput="ngModel"
                 name="userIdToCreateOrder"
                 [(ngModel)]="userIdToCreateOrder"
                 required>
        </div>
        <div class="ui-grid-col-4">
          <ng-container *ngIf="userIdToCreateOrderInput.dirty || userIdToCreateOrderInput.touched || createOrderForm.submitted">
            <p-message *ngIf="createOrderForm.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

  </form>

  <p-footer>
    <button pButton form="create_order_form" icon="pi pi-check" label="&nbsp;&nbsp;Підтвердити" type="submit" [disabled]="loading"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayZoomDialog" class="zoom-image-dialog" [modal]="false" (onHide)="resetZoomedImage()">

  <div class="zoomed-image" [ngStyle]="{'background-image': 'url(' + zoomedImage + ''}"></div>

</p-dialog>
