<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="contactInfoGroup">
    <form [formGroup]="contactInfoGroup">
      <ng-template matStepLabel>Контактні данні</ng-template>

      <div class="input-group">
        <label>Ім'я та прізвище</label>
        <input
          name="name"
          formControlName="name"
          placeholder="Ім'я та прізвище"
          required
          email>
        <div class="error-wrapper" *ngIf="contactInfoGroup.get('name').dirty || contactInfoGroup.get('name').touched">
          <div class="error-message" *ngIf="contactInfoGroup.get('name').errors?.required">Повинно бути вказано</div>
        </div>

      </div>

      <div class="input-group">
        <label>Електронна адреса</label>
        <input
            type="email"
            name="email"
            formControlName="email"
            placeholder="Електронна адреса"
            required
            email>
        <div class="error-wrapper" *ngIf="contactInfoGroup.get('email').dirty || contactInfoGroup.get('email').touched">
          <div class="error-message" *ngIf="contactInfoGroup.get('email').errors?.required">Повинно бути вказано</div>
          <div class="error-message" *ngIf="!contactInfoGroup.get('email').errors?.required && contactInfoGroup.get('email').errors?.email">Введіть валідний email</div>
        </div>
      </div>

      <div class="input-group">
        <label>Телефон</label>
        <input
          name="phone"
          formControlName="phone"
          placeholder="Телефон"
          required>
        <div class="error-wrapper" *ngIf="contactInfoGroup.get('phone').dirty || contactInfoGroup.get('phone').touched">
          <div class="error-message" *ngIf="contactInfoGroup.get('phone').errors?.required">Повинно бути вказано</div>
          <div class="error-message" *ngIf="!contactInfoGroup.get('phone').errors?.required && contactInfoGroup.get('phone').errors?.pattern">Введіть валідний номер телефону</div>
        </div>
      </div>

      <div class="buttons-wrapper">
        <button mat-flat-button color="primary" matStepperNext>Далі</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="shippingFormGroup">
    <form [formGroup]="shippingFormGroup">
      <ng-template matStepLabel>Доставка</ng-template>

      <div class="input-group">
        <label>Місто</label>
        <input
          name="city"
          formControlName="city"
          placeholder="Місто"
          required>
        <div class="error-wrapper" *ngIf="shippingFormGroup.get('city').dirty || shippingFormGroup.get('city').touched">
          <div class="error-message" *ngIf="shippingFormGroup.get('city').errors?.required">Повинно бути вказано</div>
        </div>
      </div>

      <div class="buttons-wrapper">
        <button mat-stroked-button color="primary" matStepperPrevious>Назад</button>
      </div>
    </form>
  </mat-step>

</mat-vertical-stepper>

<div class="final-purchase-block-wrapper">

  <div class="final-purchase-block">
    <div class="final-purchase-info-wrapper">
      <div><span class="final-purchase-items-amount">{{bucketLocalService.bucketInfo.totalItems}}</span> позиції</div>
      <div>На сумму <span class="final-purchase-items-price">{{bucketLocalService.bucketInfo.totalPrice / 100}}</span> грн</div>
    </div>
    <button mat-flat-button color="accent" routerLink="/order">
      <i class="material-icons">check</i>
      <span>Підтвердити замовлення</span>
    </button>
  </div>

</div>


