<div class="order-wrapper" *ngIf="!orderId && bucketLocalService.bucket.length > 0">

  <mat-vertical-stepper [linear]="false" #stepper (selectionChange)="stepperSelectionChanged($event)">
    <mat-step [stepControl]="contactInfoFormGroup">

      <form [formGroup]="contactInfoFormGroup">
        <ng-template matStepLabel>
          <span *ngIf="selectedStepIndex == 0 || contactInfoFormGroup.get('name').invalid || contactInfoFormGroup.get('phone').invalid; else showContactsBlock">Контактні данні</span>
          <ng-template #showContactsBlock>
            <span>{{contactInfoFormGroup.get('name').value}}</span>
            <span>, {{contactInfoFormGroup.get('phone').value}}</span>
            <span class="stepper-header-edit-button"> (редагувати)</span>
          </ng-template>
        </ng-template>

        <div class="input-group">
          <label>Ім'я та прізвище</label>
          <input
            name="name"
            formControlName="name"
            placeholder="Ім'я та прізвище"
            required
            [readonly]="securityService.isAuthenticated()">
          <div class="error-wrapper" *ngIf="contactInfoFormGroup.get('name').dirty || contactInfoFormGroup.get('name').touched">
            <div class="error-message" *ngIf="contactInfoFormGroup.get('name').errors?.required">Повинно бути вказано</div>
          </div>

        </div>

        <div class="input-group">
          <label>Електронна адреса</label>
          <input
            type="email"
            name="email"
            formControlName="email"
            placeholder="Електронна адреса"
            required
            email
            [readonly]="securityService.isAuthenticated()">
          <div class="error-wrapper" *ngIf="contactInfoFormGroup.get('email').dirty || contactInfoFormGroup.get('email').touched">
            <div class="error-message" *ngIf="contactInfoFormGroup.get('email').errors?.required">Повинно бути вказано</div>
            <div class="error-message" *ngIf="!contactInfoFormGroup.get('email').errors?.required && contactInfoFormGroup.get('email').errors?.email">Введіть валідний email</div>
          </div>
        </div>

        <div class="input-group">
          <label>Телефон</label>
          <input
            name="phone"
            formControlName="phone"
            placeholder="Телефон"
            validation="false"
            prefix="+38 "
            mask='(000) 000-0000'
            maxlength="18"
            pattern=".{10,10}"
            required>
          <div class="error-wrapper" *ngIf="contactInfoFormGroup.get('phone').dirty || contactInfoFormGroup.get('phone').touched">
            <div class="error-message" *ngIf="contactInfoFormGroup.get('phone').errors?.required">Повинно бути вказано</div>
            <div class="error-message" *ngIf="!contactInfoFormGroup.get('phone').errors?.required && contactInfoFormGroup.get('phone').errors?.pattern">Введіть валідний номер телефону</div>
          </div>
        </div>

        <div class="buttons-wrapper">
          <button mat-flat-button color="primary" matStepperNext>Далі</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="deliveryInfoFormGroup">
      <form [formGroup]="deliveryInfoFormGroup">

        <ng-template matStepLabel>Доставка</ng-template>

        <label class="delivery-type-label">Оберіть спосіб доставки</label>
        <mat-radio-group
          color="primary"
          aria-labelledby="delivery-type"
          class="delivery-type-radio-group"
          formControlName="deliveryType"
          (change)="onDeliveryTypeChange($event)">
          <mat-radio-button class="delivery-type-radio-button" *ngFor="let deliveryTypeOption of deliveryTypeOptions" [value]="deliveryTypeOption.key">
            {{deliveryTypeOption.label}}
          </mat-radio-button>
        </mat-radio-group>

        <div class="input-group" *ngIf="deliveryInfoFormGroup.get('deliveryType').value != DeliveryType.SELF_UZHGOROD">
          <label>Місто</label>
          <input type="text" placeholder="Місто" formControlName="city" [matAutocomplete]="cityAutocomplete" isObjectValidator autocomplete="off" required >
          <mat-autocomplete #cityAutocomplete="matAutocomplete" (optionSelected)="onCitySelect($event)" [displayWith]="displayCityFn">
            <mat-option *ngFor="let city of cities" [value]="city" class="order-page-autocomplete-option">
              {{city.Present}}
            </mat-option>
          </mat-autocomplete>
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('city').dirty || deliveryInfoFormGroup.get('city').touched">
            <div class="error-message" *ngIf="deliveryInfoFormGroup.get('city').errors?.required || deliveryInfoFormGroup.get('city').errors?.isObject">Вкажіть населений пункт</div>
          </div>
        </div>

        <div class="input-group" *ngIf="directAddressRequired()">

          <label class="with-loader">
            <span>Вулиця</span>
            <mat-spinner *ngIf="loadingWarehouses" diameter="16" mode="indeterminate"></mat-spinner>
          </label>

          <input type="text" placeholder="Вулиця" formControlName="street" [matAutocomplete]="streetAutocomplete" [disabled]="loadingStreets" autocomplete="off" required>
          <mat-autocomplete #streetAutocomplete="matAutocomplete" (optionSelected)="onStreetSelect($event)" [displayWith]="displayStreetFn" >
            <mat-option *ngFor="let street of streets" [value]="street" class="order-page-autocomplete-option">
              {{street.Present}}
            </mat-option>
          </mat-autocomplete>
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('street').dirty || deliveryInfoFormGroup.get('street').touched">
            <div class="error-message" *ngIf="deliveryInfoFormGroup.get('street').errors?.required">Вкажіть вулицю</div>
          </div>

        </div>

        <div class="input-group" *ngIf="directAddressRequired()">
          <label>Будинок</label>
          <input
            name="house"
            formControlName="house"
            placeholder="Будинок"
            [required]="directAddressRequired()" >
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('house').dirty || deliveryInfoFormGroup.get('house').touched">
            <div class="error-message" *ngIf="deliveryInfoFormGroup.get('house').errors?.required">Повинно бути вказано</div>
          </div>
        </div>

        <div class="input-group" *ngIf="directAddressRequired()">
          <label>Квартира</label>
          <input
            name="apartment"
            formControlName="apartment"
            placeholder="Квартира">
        </div>

        <div class="input-group" *ngIf="deliveryInfoFormGroup.get('deliveryType').value == DeliveryType.UKR_POSHTA">
          <label>Поштовий індекс</label>
          <input
            name="postalCode"
            formControlName="postalCode"
            placeholder="Поштовий індекс"
            maxlength="5"
            pattern=".{5,5}"
            digitOnly
            required>
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('postalCode').dirty || deliveryInfoFormGroup.get('postalCode').touched">
            <div class="error-message" *ngIf="deliveryInfoFormGroup.get('postalCode').errors?.required">Повинно бути вказано</div>
            <div class="error-message" *ngIf="!deliveryInfoFormGroup.get('postalCode').errors?.required && deliveryInfoFormGroup.get('postalCode').errors?.pattern">Введіть валідний поштовий індекс</div>
          </div>
        </div>

        <div class="input-group" *ngIf="deliveryInfoFormGroup.get('deliveryType').value == 'NOVA_POSHTA_DEPARTMENT'">
          <label class="with-loader">
            <span>Відділення Нової Пошти</span>
            <mat-spinner *ngIf="loadingWarehouses" diameter="16" mode="indeterminate"></mat-spinner>
          </label>

          <input type="text" placeholder="Відділення" formControlName="novaPoshtaDepartment" [matAutocomplete]="novaPoshtaDepartmentAutocomplete" required isObjectValidator [disabled]="loadingWarehouses">
          <mat-autocomplete #novaPoshtaDepartmentAutocomplete="matAutocomplete" (optionSelected)="onNovaPoshtaDepartmentSelect($event)" [displayWith]="displayWarehouseFn">
            <mat-option *ngFor="let warehouse of filteredWarehouses" [value]="warehouse" class="order-page-autocomplete-option">
              {{warehouse.Description}}
            </mat-option>
          </mat-autocomplete>
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('novaPoshtaDepartment').dirty || deliveryInfoFormGroup.get('novaPoshtaDepartment').touched">
            <div class="error-message" *ngIf="deliveryInfoFormGroup.get('novaPoshtaDepartment').errors?.required || deliveryInfoFormGroup.get('novaPoshtaDepartment').errors?.isObject">Оберіть відділення</div>
          </div>
        </div>

        <div class="input-group">
          <label>ПІП отримувача <span class="additional">(необов'язково)</span></label>
          <input
            name="receiverFullName"
            formControlName="receiverFullName"
            placeholder="ПІП отримувача">
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('receiverFullName').dirty || deliveryInfoFormGroup.get('receiverFullName').touched">

          </div>
        </div>

        <div class="input-group">
          <label>Телефон отримувача <span class="additional">(необов'язково)</span></label>
          <input
            name="receiverPhone"
            formControlName="receiverPhone"
            placeholder="Телефон отримувача"
            validation="false"
            prefix="+38 "
            mask='(000) 000-0000'
            maxlength="18">
          <div class="error-wrapper" *ngIf="deliveryInfoFormGroup.get('receiverPhone').dirty || deliveryInfoFormGroup.get('receiverPhone').touched">

          </div>
        </div>

        <div class="input-group">
          <label>Коментар до замовлення <span class="additional">(необов'язково)</span></label>
          <textarea
            name="comment"
            formControlName="comment"
            cols="30" rows="4"
            maxlength="500"
            placeholder="Коментар до замовлення">
        </textarea>
        </div>

        <div class="buttons-wrapper">
          <button mat-stroked-button color="primary" matStepperPrevious>Назад</button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>

  <div class="final-purchase-block-wrapper">

    <div class="final-purchase-block">
      <div class="final-purchase-info-wrapper">
        <div><span class="final-purchase-items-amount">{{bucketLocalService.bucketInfo.totalItems}}</span> позиції <span class="check-items" (click)="bucketLocalService.openBucketDialog()">(переглянути товари)</span></div>
        <div>На сумму <span class="final-purchase-items-price">{{bucketLocalService.bucketInfo.totalPrice / 100}}</span> грн</div>

        <button mat-flat-button color="accent" routerLink="/order" [disabled]="deliveryInfoFormGroup.invalid || loading" (click)="submitOrder()">
          <i class="material-icons">check</i>
          <span>Підтвердити замовлення</span>
        </button>

      </div>

    </div>

  </div>

</div>

<div class="order-empty-wrapper" *ngIf="bucketLocalService.bucket.length == 0 && !orderId">
  <div class="message">Ваш кошик порожній</div>
  <button mat-flat-button color="primary" routerLink="/shop">Перейти до магазину</button>
</div>

<div class="order-done-wrapper" *ngIf="orderId">

  <div class="title">Ваше замовлення успішно прийнято. Дякуємо!</div>

  <div class="message">Ми звяжемось з вами в найближчий час</div>

  <div class="order-info">Номер вашого замовлення: <span class="order-id">{{orderId}}</span></div>

  <how-to-pay></how-to-pay>

</div>
