@import '~@angular/material/theming';
@import "theme";
@import 'mixins';

:host {
  display: grid;
  justify-content: center;
  @extend .content-thin;

  ::ng-deep .mat-step-label {
    max-width: calc(100vw - 100px);
  }

  @include response-to(sm) {
    grid-template-columns: auto;
    justify-content: stretch;
  }

  how-to-pay {
    max-width: 600px;
    text-align: left;
    margin-top: 24px;
    border: 1px solid $grey-400;
    background-color: $grey-30;
    padding: 24px;
  }

  .order-wrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(300px, 500px) minmax(300px, 400px);
    width: 100%;
    padding-top: 2em;

    @include response-to(sm) {
      grid-template-columns: auto;
      justify-content: stretch;
    }

    mat-vertical-stepper {
      @include response-to(sm) {
        justify-self: center;
      }
    }

    ::ng-deep.mat-step {
      input, textarea {
        max-width: 400px;
      }
      button {
        margin-right: 48px;
        margin-top: 12px;
      }
      form {
        margin-top: 12px;
      }
    }

    .delivery-type-label {
      color: $black-100;
      font-size: 18px;
      margin-bottom: 2px;
    }

    mat-radio-group {
      margin-bottom: 24px;
      margin-top: 8px;
      display: flex;
      flex-direction: column;

      mat-radio-button {
        padding-top: 4px;
        padding-bottom: 4px;
      }

    }

    .final-purchase-block-wrapper {
      padding: 0px 24px 24px;

      @include response-to(sm) {
        padding: 0px;
      }

      .final-purchase-block {
        display: grid;
        justify-content: center;

        @include response-to(sm) {
          grid-template-columns: 1fr;
        }


        button {
          margin-top: 8px;
          i {
            margin-right: 8px;
          }
        }

        .final-purchase-info-wrapper {
          padding: 24px 36px;
          background-color: mat-color($primary, 50);
          max-height: 400px;
          overflow-y: auto;
          margin-bottom: 12px;
          line-height: 160%;

          @include response-to(sm) {
            justify-content: center;
            display: grid;
          }

          .check-items {
            color: mat-color($primary);
            cursor: pointer;
          }

          .final-purchase-items-amount {
            color: mat-color($accent);
          }

          .final-purchase-items-price {
            color: mat-color($accent);
          }

          .final-purchase-flower-button {
            color: #4caf50;
            padding: 12px;
            display: flex;
            border-bottom: 1px solid $grey-700;
            .name-in-final-purchase {
              display: flex;
              width: 150px;
            }

            .size-in-final-purchase {
              justify-content: center;
              color: $grey-400;
              display: flex;
              width: 60px;
            }

            .price-in-final-purchase {
              justify-content: flex-end;
              color: mat-color($accent);
              display: flex;
              width: 70px;
            }
          }
        }

      }
    }

  }

  .order-done-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    padding: 24px;

    .title {
      font-size: 32px;
      color: mat-color($primary, 900);
      margin-bottom: 24px;
    }

    .message {
      font-size: 20px;
      color: $grey-800;
      margin-bottom: 16px;
    }

    .order-info {
      font-size: 20px;
      color: $black-400;
      margin-bottom: 16px;
      .order-id {
        color: mat-color($primary);
        font-size: 24px;
      }
    }

  }

  .order-empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
    padding: 24px;

    .message {
      font-size: 20px;
      color: $grey-800;
      margin-bottom: 16px;
    }

  }

}

.input-group {
  label.with-loader {
    display: flex;
  }
  ::ng-deep mat-spinner {
    margin-top: 3px;
    margin-left: 4px;
  }
}

.order-page-autocomplete-option {
  padding: 0 7px;
  font-size: 15px;
}

.stepper-header-edit-button {
  color: mat-color($primary);
  font-weight: 400;
}

input[readonly] {
  background-color: $grey-50;
  color: $grey-800;
}


