<div class="sidebar">
  <perfect-scrollbar style="max-height: calc(100vh - 114px); max-width: 268px; position: fixed">
    <shop-filters (onFilterChange)="onFilterChange($event)"></shop-filters>
  </perfect-scrollbar>
</div>

<div class="content-wrapper">

  <div class="content-top-bar">

    <mat-form-field class="main-search-wrapper">
      <input matInput placeholder="Пошук" #search [(ngModel)]="searchTerm" (ngModelChange)="searchTermChange($event)">
      <mat-icon matSuffix class="close-icon" (click)="searchTerm = ''; searchTermCleared($event)">close</mat-icon>
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>

    <button mat-flat-button color="primary" class="filters-button" (click)="openFilterModal()">
      <i class="fas fa-filter"></i>
      <span>Фільтр</span>
    </button>

    <mat-form-field class="ordering-selector-wrapper">
      <mat-select placeholder="Сортування" [(ngModel)]="sort" value="popularity,DESC" (selectionChange)="sortSelectionChange($event)">
        <ng-template ngFor let-item [ngForOf]="sortOptions" let-i="index">
          <mat-option [value]="item.value">{{item.label}}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>

  </div>

  <div *ngIf="flowersPage.content.length == 0 && !loading" class="empty-search-block">
    <div class="message">
      За вашим запитом нічого не знайдено
    </div>
  </div>

  <div class="content">
      <ng-template ngFor let-flower [ngForOf]="flowersPage.content" [ngForTrackBy]="trackByFn">
        <shop-content-item [flowerSize]="flower"></shop-content-item>
      </ng-template>

    <button mat-mini-fab aria-label="Фільтр" class="filter-button" color="primary" (click)="openFilterModal()" *ngIf="this.pageYOffset > DISTANCE_FROM_TOP_WHEN_SHOW_GO_TOP_BUTTON">
      <mat-icon>filter_alt</mat-icon>
    </button>

    <button mat-mini-fab aria-label="Вгору" class="go-top-button" color="primary" (click)="window.scrollTo(0, 0)" *ngIf="this.pageYOffset > DISTANCE_FROM_TOP_WHEN_SHOW_GO_TOP_BUTTON">
      <mat-icon>arrow_upward</mat-icon>
    </button>

  </div>

  <div class="show-more-block">
    <button mat-stroked-button color="primary" *ngIf="!loading && !flowersPage.last" (click)="showMore()">Показати ще</button>
    <mat-spinner style="margin:0 auto" diameter="30" mode="indeterminate" *ngIf="loading"></mat-spinner>
  </div>

</div>

