@import '~@angular/material/theming';
@import "theme";
@import 'mixins';


:host {
  @extend .content-thin;
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
  //font-size: 16px;
  padding-top: 2em;
  //background-color: $grey-50;
  @include response-to(sm) {
    grid-template-columns: auto
  }

}

.sidebar {
  padding: 16px 16px;
  //border-right: solid 1px $grey-100;
  @include response-to(sm) {
    display: none;
  }
}

.content-wrapper {
  width: 100%;
  padding: 0px 24px 16px;
  margin-top: -12px;

  .content-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters-button {

      @include response-from(md) {
        display: none;
      }

      @include response(xs) {
        min-width: 40px;
        padding: 0px;
      }

      @include response(sm) {
        i {
          margin-right: 8px;
        }
      }

      span {
        @include response(xs) {
          display: none;
        }
      }

    }

    ::ng-deep mat-form-field {
      .mat-form-field-wrapper {
        width: 200px;
        color: $black-100;

        @include response(xs) {
          width: 130px;
        }

        .mat-form-field-suffix {
          top: 6px;
          .close-icon {
            cursor: pointer;
            display: none;
          }
        }

      }

      .search-icon {
        height: initial;
      }

      &.mat-form-field-should-float {
        .mat-form-field-wrapper {
          .mat-form-field-suffix {
            .close-icon {
              display: block;
            }
            .search-icon {
              display: none;
            }
          }

        }

      }

    }

    .main-search-wrapper, .ordering-selector-wrapper {
      font-size: 20px;
      @include response-to(sm) {
        font-size: 18px;
      }
    }
  }

  .content {
    //max-width: 1000px;
    display: grid;
    grid-gap: 24px;
    margin-bottom: 24px;

    @include response-to(xs) {
      grid-template-columns: auto
    }

    @include response-from(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include response-from(md) {
      grid-template-columns: repeat(3, 1fr);
    }

  }

  .mat-form-field-underline {
    height: 2px;
  }

}
