@import 'mixins';


:host {
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
  font-size: 16px;
  padding-top: 2em;
  //background-color: $grey-50;
}

.sidebar {
  padding: 16px 16px;
  //border-right: solid 1px $grey-100;
}

.content-wrapper {
  padding: 16px 24px;
  background-color: white;

  .content {
    //max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
    margin-bottom: 2em;
  }

}
