<div class="main">

  <div class="header">
    <h1 class="page-title">Умови використання сайту</h1>
    <h2>Увага! Перед переглядом цього сайту уважно прочитайте ці умови.</h2>
    <h2>Якщо ви не згодні з цими умовами, не використовуйте цей сайт.</h2>
  </div>

  <div class="content">
    <h1 class="title">Використання сайту</h1>
    <div class="paragraph">Сайт merryflowers.com.ua дозволяє вам переглядати та завантажувати матеріали цього сайту (далі «Сайт») тільки для особистого
      некомерційного використання, за умови збереження вами всієї інформації про авторське право та інших відомостей про право власності, що містяться у
      вихідних матеріалах і будь-яких їхніх копіях. Заборонено змінювати матеріали цього Сайту, а також поширювати або демонструвати їх у будь-якому вигляді або
      використовувати їх будь-яким іншим чином для суспільних чи комерційних цілей. Будь-яке використання цих матеріалів на інших сайтах або в комп'ютерних
      мережах заборонено.
    </div>
    <h1 class="title">Відмова від відповідальності</h1>
    <div class="paragraph">Матеріали та послуги цього сайту надаються без жодних гарантій. Merry Flowers не гарантує точності та повноти матеріалів, програм і
      послуг, що надаються на цьому Сайті. Merry Flowers в будь-який час без повідомлення може вносити зміни в матеріали та послуги, що надаються на цьому Сайті,
      а також у згадані в них продукти та ціни. У разі, якщо матеріали та послуги на цьому Сайті застаріють, Merry Flowers не зобов'язана оновлювати їх. Mery
      Flowers за жодних обставин не несе відповідальності за будь-які збитки (включно з, але не обмежуючись збитком від втрати прибутку, даних або від
      переривання ділової активності), що виникли внаслідок використання, неможливості використання або результатів використання цього сайту.
    </div>
    <h1 class="title">Реєстрація на сайті</h1>
    <div class="paragraph">Реєструючись на Сайті, ви погоджуєтеся надати достовірну та точну інформацію про себе і свої контактні дані.</div>
    <div class="paragraph">У результаті реєстрації ви отримуєте логін і пароль, за безпеку яких ви несете відповідальність. Ви також несете відповідальність за
      всі дії під вашим логіном і паролем на Сайті. У разі втрати реєстраційних даних ви зобов'язуєтеся повідомити нам про це.
    </div>
    <h1 class="title">Зворотний зв'язок і коментарі</h1>
    <div class="paragraph">Звертаючись до нас або залишаючи коментарі на сайті, ви несете відповідальність, що це повідомлення не є незаконним, шкідливим,
      загрозливим, наклепницьким, суперечить моральним нормам, порушує авторські права, пропагує ненависть і/або дискримінацію людей за расовою, етнічною,
      статевою, релігійною, соціальною ознаками, містить образи на адресу конкретних осіб або організацій, а також будь-яким іншим чином порушує чинне
      законодавство України. Ви погоджуєтеся, що будь-яке ваше повідомлення Merry Flowers може видаляти без вашої на те згоди, а також безоплатно використовувати
      на власний розсуд. Merry Flowers не несе відповідальності за будь-яку інформацію, розміщену користувачами Сайту.
    </div>
    <h1 class="title">Використання персональних даних</h1>
    <div class="paragraph">Ми використовуємо різні технології для збирання та зберігання інформації, коли ви відвідуєте сайт Merry Flowers (<a routerLink="/privacy-policy">докладніше про захист і обробку персональних даних</a>). Це може включати в
      себе запис одного або декількох кукі або анонімних ідентифікаторів. Ми також використовуємо кукі й анонімні ідентифікатори, коли ви взаємодієте з
      послугами, запропонованими нашими партнерами, як-от рекламні послуги, що можуть з'явитися на інших сайтах.
    </div>
    <h1 class="title">Захист персональних даних</h1>
    <div class="paragraph">Користувач (Суб’єкт персональних даних), реєструючись або оформлюючи замовлення на сайті merryflowers.com.ua, відповідно до вимог
      Закону України «Про захист персональних даних» від 01 червня 2010 року № 2297-УІ, надає свою безумовну згоду на збір і обробку особистих персональних
      даних андімінстрації сайту merryflowers.com.ua, що є Володільцем бази персональних даних. Адреса Володільця є місцем зберігання персональних даних.
    </div>
    <div class="paragraph">Користувачем надаються наступні персональні дані: прізвище, ім’я, по батькові, номер телефону, адреса електронної пошти. Вказані
      персональні дані надаються з метою забезпечення реалізації цивільно-правових відносин (придбання товарів, забезпечення доставки поштових, кур’єрських
      відправлень), а також з метою реалізації інформаційно-сервісних послуг (розповсюдження інформаційних, рекламних, маркетингових повідомлень та спеціальних
      пропозицій будь-якими засобами зв’язку, включаючи SMS, електронну пошту, телефон і мобільні пристрої), відповідно Цивільного кодексу України, Закону
      України «Про захист прав споживачів», Закону України «Про рекламу». Вказані персональні дані надаються Користувачем добровільно з наданням права
      безстрокового терміну зберігання та знищення.
    </div>
    <div class="paragraph">
      У відповідності до ст. 8 Закону України «Про захист персональних даних», Користувач повідомлений про права суб’єкта персональних даних. Суб’єкт
      персональних даних має право:
      <ul>
        <li>знати про джерела збирання, місцезнаходження своїх персональних даних, мету їх обробки, місцезнаходження або місце проживання (перебування)
          володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків,
          встановлених законом;
          отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;
        </li>
        <li>на доступ до своїх персональних даних;
          отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи обробляються
          його персональні дані, а також отримувати зміст таких персональних даних;
        </li>
        <li>пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних даних;
          пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних, якщо ці
          дані обробляються незаконно чи є недостовірними;
        </li>
        <li>на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням
          чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної
          особи;
        </li>
        <li>звертатися із скаргами на обробку своїх персональних даних до Уповноваженого або до суду;</li>
        <li>застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних; 10) вносити застереження стосовно обмеження
          права на обробку своїх персональних даних під час надання згоди;
        </li>
        <li>відкликати згоду на обробку персональних даних;</li>
        <li>знати механізм автоматичної обробки персональних даних;</li>
        <li>на захист від автоматизованого рішення, яке має для нього правові наслідки.</li>
      </ul>
      Ця згода діє протягом невизначеного терміну.
    </div>
    <div class="paragraph">Дана згода може бути відкликана Користувачем в будь-який момент шляхом направлення письмової вимоги на адресу електронної пошти
      Володільця бази персональних даних: merryflowersua@gmail.com
      , в темі листа слід вказати «Відмова від обробки персональних даних».
    </div>
  </div>


</div>
