:host {
  margin-bottom: 8px;
  display: inline-block;
}

.node {
  //cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;

  &.inactive {
    opacity: 0.6;
  }

  mat-icon {
    cursor: pointer;
    margin-right: 8px;

    &.hidden {
      visibility: hidden;
    }

  }

  .name {

  }

  mat-checkbox {
    margin-right: 16px;
  }

}

.node-children {
  margin-top: 8px;
  &.inactive {
    opacity: 0.6;
  }
}


.clickable {
  cursor: pointer;
}
