@import '~@angular/material/theming';
@import "../../../../../theme";
@import "../../../../../scss/colors";

:host {
  flex-direction: column;
  display: flex;
  border-radius: 2px;
  //
  justify-content: space-between;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(6);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      min-height: 160px;
      min-width: 100px;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .general-info {
      padding: 12px 12px 8px;
      display: grid;
      flex-direction: column;

      .title {
        font-weight: 500;
        color:mat-color($accent);
        margin-bottom: 12px;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .text {
        font-size: 11px;
      }

    }

  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 12px 8px;
    align-items: center;

    .created {
      font-size: 12px;
      color: $grey-500;
    }

    button {
      color: $grey-800;

      i {
        margin-right: 8px;
        margin-left: -4px;
      }
      span {

      }
    }

  }

}
