<div class="content">

  <a class="logo" [ngStyle]="{'background-image': 'url(' + article.image + ''}"
       [routerLink]="['/articles', article.id]" title="Читати далі"></a>

  <div class="general-info">

    <div class="title" [title]="article.title">{{article.title}}</div>

    <div class="text">{{article.content | slice:0:100}}...</div>

  </div>

</div>

<div class="footer">

  <div class="created">{{article.created | date}}</div>

  <div class="actions">
    <button mat-icon-button (click)="addToFavorite()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="share()">
      <mat-icon>share</mat-icon>
    </button>
  </div>

</div>



