:host {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  .loading-spinner {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 250px;
  }
}

.dropdown-block {
  width: 100%;
}
