<div id="filter" (click)="modalPageService.hideModal()"></div>
<div id="modalForm">
  <div class="header">
  <div class="info-head">Обрані товари</div>
  <div class="logo-close" (click)="modalPageService.hideModal()">
    <i class="material-icons">
      close
    </i>
  </div>
</div>
  <div class="main">

    <div class="content">
      <div class="item" *ngFor="let item of bucketService.getBucket()">
        <div class="logo"><img src="{{item.image}}" alt="image"></div>
        <div class="item-main">
          <div class="name-size">
            <div>{{item.name}}</div>
            <div>{{item.size}}</div>
          </div>
          <div class="amount-delete">
<!--            <div class="amount">-->
<!--              <button (click)="bucketService.updateBucketItem(item, false)">-</button>-->
<!--              <div id="counter-output"><span>{{item.amount}}</span></div>-->
<!--              <button (click)="bucketService.updateBucketItem(item, true)">+</button>-->
<!--            </div>-->
            <div class="delete">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-menu">
    <button mat-raised-button id="buy-but">Підтвердити замовлення</button>
  </div>
</div>
