@import "theme";
@import "mixins.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 500;
  margin: 0 24px 24px;
  color: $black-500
}

.error-code {
  color: $black-200
  font-weight
}

.try-authorize-block {
  margin-top: 24px;
  color: $grey-800;
  font-weight: 400;

  a {
    color: mat-color($primary);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
  }

}

.back-to-home-button {
  margin-top: 24px;
  &.mat-raised-button.mat-primary {
    color: white;
  }

}



