//::ng-deep p-multiselect.table-filter > div {
//  width: 100%;
//  margin-top: 8px;
//}
@import "theme";
@import "mixins.scss";

:host {

  .true-false-ico {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .color-example {
    height: 24px;
    width: 100%;
    border: 1px solid darkgrey
  }

  a {
    cursor: pointer;
  }

  .flower-size-table {
    display: table;
    width: 100%;

    .body {
      display: table-row-group;

      .row {
        display: table-row;

        .cell {
          border: 1px solid #c8c8c8;
          display: table-cell;
          padding: 3px 10px;
          background-color: white;
        }
        .head {
          border: 1px solid #c8c8c8;
          display: table-cell;
          padding: 3px 10px;
          font-weight: bold;
          color: white;
          background-color: #007ad9;
        }
      }
    }

  }


}


