//::ng-deep p-multiselect.table-filter > div {
//  width: 100%;
//  margin-top: 8px;
//}
@import "theme";
@import "mixins.scss";

:host {

  .true-false-ico {
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .color-example {
    height: 24px;
    width: 100%;
    border: 1px solid darkgrey
  }

  a {
    cursor: pointer;
  }

}


