<div class="panel-header">
  <h1>Квіти</h1>
  <div class="buttons">
    <button pButton [routerLink]="['item', ItemSaveMode.new]" icon="pi pi-plus" class="ui-button-success"
            label="&nbsp;&nbsp;Додати"></button>
    <button pButton (click)="loadData()" icon="pi pi-refresh" label="&nbsp;&nbsp;Оновити"></button>
  </div>
</div>

<div class="panel-content">
  <p-table #dt [value]="items" sortField="id" [paginator]="true" [rows]="10"
           [tableStyle]="{'table-layout':'auto'}" [contextMenu]="cm" [(contextMenuSelection)]="selected"
           [customSort]="true" (sortFunction)="sortData($event)" dataKey="id" rowExpandMode="single">
<!--    <ng-template pTemplate="caption">-->
<!--      <div style="text-align:left">-->
<!--        <p-multiSelect [options]="this.cols" optionLabel="header"-->
<!--                       selectedItemsLabel="{0} вибраних стовпців" [style]="{minWidth: '200px'}" defaultLabel="Виберіть стовпці"></p-multiSelect>-->
<!--      </div>-->
<!--    </ng-template>-->
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th [pSortableColumn]="'id'">
          Id
          <p-sortIcon [field]="'id'"></p-sortIcon>
        </th>
        <th>
          Фото
        </th>
        <th [pSortableColumn]="'name'">
          Назва
          <p-sortIcon [field]="'name'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'nameOriginal'">
          Назва(англ)
          <p-sortIcon [field]="'nameOriginal'"></p-sortIcon>
        </th>
        <th>
          Тип квітки
        </th>
        <th>
          Група
        </th>
        <th [pSortableColumn]="'flowerSizeMin'">
          Розмір
          <p-sortIcon [field]="'flowerSizeMin'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'flowerHeightMin'">
          Висота
          <p-sortIcon [field]="'flowerHeightMin'"></p-sortIcon>
        </th>
        <th>
          Новинка
        </th>
        <th>
          Знижка
        </th>
        <th>
          Популярна
        </th>
<!--        <th [pSortableColumn]="'popularity'" ]>-->
<!--          Рейтинг-->
<!--          <p-sortIcon [field]="'popularity'"></p-sortIcon>-->
<!--        </th>-->
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"
                 class="table-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'nameOriginal', 'contains')"
                 class="table-filter">
        </th>
        <th>
          <p-multiSelect [options]="items | pluck: 'flowerType' | deep | uniq | map: mapForFilter" defaultLabel="Всі"
                         class="table-filter"
                         (onChange)="dt.filter($event.value, 'flowerType.id', 'in')"></p-multiSelect>
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'groupName', 'contains')"
                 class="table-filter">
        </th>
        <th>
          {{this.sizeFilter[0]}} — {{this.sizeFilter[1]}}
          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="sizeFilter" [min]="1" [range]="true"
                    [max]="25" [step]="1" (onChange)="onSizeChange($event, dt, true)"></p-slider>
        </th>
        <th>
          {{this.heightFilter[0]}} — {{this.heightFilter[1]}}
          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="heightFilter" [min]="15" [range]="true"
                    [max]="160" [step]="1" (onChange)="onSizeChange($event, dt, false)"></p-slider>
        </th>
        <th></th>
        <th></th>
        <th></th>
<!--        <th>-->
<!--          <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="popularityFilter" [min]="0"-->
<!--                    [max]="10" (onChange)="onPopularityChange($event, dt)"></p-slider>-->
<!--        </th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded">
      <tr [pContextMenuRow]="rowData">
        <td>
          <a [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td>
          {{rowData['id']}}
        </td>
        <td>
          <div class="item-image" [ngStyle]="{'background-image': 'url(' + rowData['image'] + ''}"
               (click)="zoomImg(rowData['image'])">
          </div>
        </td>
        <td>
          {{rowData['name']}}
        </td>
        <td>
          {{rowData['nameOriginal']}}
        </td>
        <td>
          {{rowData['flowerType'].name}}
        </td>
        <td>
          {{rowData['groupName']}}
        </td>
        <td>
          {{rowData['flowerSizeMin']}} см — {{rowData['flowerSizeMax']}} см
        </td>
        <td>
          {{rowData['flowerHeightMin']}} см — {{rowData['flowerHeightMax']}} см
        </td>
        <td>
          <div class="true-false-ico">
            <div *ngIf="rowData['isNew']"><i class="material-icons">
              check_box
            </i></div>
            <div *ngIf="!rowData['isNew']"><i class="material-icons">
              check_box_outline_blank
            </i></div>
          </div>
        </td>
        <td>
          <div class="true-false-ico">
            <div *ngIf="rowData['hasDiscount']"><i class="material-icons">
              check_box
            </i></div>
            <div *ngIf="!rowData['hasDiscount']"><i class="material-icons">
              check_box_outline_blank
            </i></div>
          </div>
        </td>
        <td>
          <div class="true-false-ico">
            <div *ngIf="rowData['isPopular']"><i class="material-icons">
              check_box
            </i></div>
            <div *ngIf="!rowData['isPopular']"><i class="material-icons">
              check_box_outline_blank
            </i></div>
          </div>
        </td>
<!--        <td>-->
<!--          <div *ngIf="rowData['popularity']">-->
<!--            {{rowData['popularity']}}/10-->
<!--          </div>-->
<!--          <div *ngIf="rowData['popularity'] == null">-->
<!--            10/10-->
<!--          </div>-->
<!--        </td>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData>
      <tr>
        <td [attr.colspan]="9">
          {{rowData['description']}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<div class="modal" *ngIf="this.isZoomed">
  <div class="filter" (click)="closeImg()"></div>
  <div class="content">
    <img src="{{this.imageUrl}}">
  </div>
</div>
