@import '../theme';
@import "mixins";

.mat-menu-panel  {
  border-radius: 2px !important;
  .mat-menu-content:not(:empty) {
    padding: initial;
  }
}

.mat-snack-bar-container.snack-custom-class {
  color: white;

  button {
    span {
      color: mat-color($accent, 400);
      font-weight: 500;
    }
  }
}

.ui-table .ui-table-tbody > tr.ui-contextmenu-selected {
  background-color: #e67700 !important;
  color: #ffffff;
}

.ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #e67700 !important;
  color: #ffffff;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #e67700 !important;
  color: #ffffff;
}

.cdk-overlay-container {
  .bottom-sheet-custom-class {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.32);
    -webkit-tap-highlight-color: transparent;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;


  }

  .mat-bottom-sheet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

    .mat-nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 450px;
    }

    button {
      width: 200px;
      background-color: #4caf50;
      color: white;
      font-size: 15px;
    }
  }
}


.mat-snack-bar-container {
  color: white !important;

  button {
    span {
      color: mat-color($accent, 100);
      font-weight: 500;
    }
  }

  &.snack-custom-error {
    background-color: mat-color($warn, 600);
    .mat-simple-snackbar {
      span {
        word-break: break-word;
      }
    }
  }

  &.snack-custom-warning {
    background-color: darkorange;
    .mat-simple-snackbar {
      span {
        word-break: break-word;
      }
    }
  }

  &.snack-custom-success {
    background-color: mat-color($primary, 500);
    .mat-simple-snackbar {
      span {
        word-break: break-word;
      }
    }
  }

}

.modal-panel-class {
  border-radius: 2px;
  @include response-from(sm) {
    max-width: initial;
  }
  @include response(xs) {
    width: 100vw !important;
  }
}

.modal-no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.modal-panel-no-padding {
  border-radius: 2px;
  mat-dialog-container {
    padding: 0px !important;
    @include response(xs) {
      border-radius: 0px;
    }
  }
  @include response-from(sm) {
    max-width: initial;
  }
  @include response(sm) {
    min-width: 599px;
  }
  @include response(xs) {
    width: 100vw !important;
  }
}

.mat-button {
  font-weight: 400;
}

mat-card {
  border-radius: 2px !important;
}

.mat-menu-panel.catalog-menu {
  max-width: 1200px !important;
  min-width: 710px !important;
  max-height: 1000px !important;
  min-height: 550px !important;
}

//mat-card {
//  border-radius: 0px !important;
//  box-shadow: none !important;
//  background-color: $grey-30 !important;
//}
