@import '../theme';

.mat-menu-panel .mat-menu-content:not(:empty) {
  padding: initial;
}

.mat-snack-bar-container.snack-custom-class {
  color: white;

  button {
    span {
      color: mat-color($accent, 400);
      font-weight: 600;
    }
  }
}


.mat-snack-bar-container {
  color: white;

  button {
    span {
      color: mat-color($accent, 100);
      font-weight: 600;
    }
  }

  &.snack-custom-error {
    background-color: mat-color($warn, 600);
  }

  &.snack-custom-warning {
    background-color: darkorange;
  }

  &.snack-custom-success {
    background-color: mat-color($primary, 500);
  }

}
