$rzs: xs,  sm,  md,   lg,   xlg;
$zmn: 0,   600, 960,  1280, 1920;
$zmx: 599, 959, 1279, 1920, 5000;

$rsp: (
  //Mobile
  xs : (
    min : 0,
    max : 599
  ),
  sm : (
    min : 600,
    max : 959
  ),
  //Tablet
  md : (
    min : 960,
    max : 1279
  ),
  //Desktop
  lg : (
    min : 1280,
    max : 1920
  ),
  // Big desktop
  xlg : (
    min : 1920,
    max : 5000
  )
);
