@import "util";
@import "theme";

.content-thin {
  width: 100%;
  max-width: 1000px;
}

.content-thin-padding {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  @include response-to(sm) {
    padding-left: 0px;
    padding-right: 0px;
  }
}


.facebook-color {
  color: mat-color($facebook-brand) !important;
}

.telegram-color {
  color: mat-color($telegram-brand) !important;;
}

.messenger-color {
  color: $facebook-messenger-brand !important;;
}

.viber-color {
  color: mat-color($viber-brand) !important;;
}

.youtube-color {
  color: mat-color($warn) !important;;
}
