<div class="filter-block flower-type-filter-wrapper">

  <div class="filter-title">
    <span>Квіти</span>
    <div class="clear-filter">
      <mat-icon *ngIf="filters.flowerTypeFilters.length > 0" title="Очистити фільтр"
                (click)="clearFlowerTypeFilters()">close</mat-icon>
    </div>
  </div>

  <div class="filter-content">
    <ng-template ngFor let-flowerType [ngForOf]="flowerTypes" [ngForTrackBy]="trackByFn">
      <div class="filter-item" [ngClass]="{'inactive': filters.flowerTypeFilters.length > 0 && !filters.flowerTypeFilters.includes(flowerType.id)}">
        <mat-checkbox (change)="onFlowerTypeFilterChange($event)" [value]="flowerType.id" #flowerTypeCheckbox [checked]="filters.flowerTypeFilters.includes(flowerType.id)">
          <span>{{flowerType.name}}</span>
          <span>&nbsp;( {{flowerType.flowersCount}} ) </span>
        </mat-checkbox>
      </div>
    </ng-template>
  </div>

</div>


<div class="filter-block flower-color-filter-wrapper">

  <div class="filter-title">
    <span>Колір</span>
    <div class="clear-filter">
      <mat-icon *ngIf="filters.colorFilters.length > 0" title="Очистити фільтр"
                (click)="clearColorFilters()">close</mat-icon>
    </div>
  </div>

  <div class="filter-content">
    <ng-template ngFor let-color [ngForOf]="colors" [ngForTrackBy]="trackByFn">
      <div class="filter-item" [ngClass]="{'inactive': filters.colorFilters.length > 0 && !filters.colorFilters.includes(color.id)}">
        <mat-checkbox (change)="onColorFilterChange($event)" [value]="color.id"  #colorCheckbox [checked]="filters.colorFilters.includes(color.id)">{{color.name}}</mat-checkbox>
      </div>
    </ng-template>
  </div>

</div>

<!--<div class="filter-block bulb-size-filter-wrapper">-->

<!--  <div class="filter-title">-->
<!--    <span>Розмір</span>-->
<!--    <div class="clear-filter">-->
<!--      <mat-icon *ngIf="filters.sizeFilters.length > 0" title="Очистити фільтр"-->
<!--                (click)="clearSizeFilters()">close</mat-icon>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="filter-content">-->
<!--    <ng-template ngFor let-size [ngForOf]="sizes" [ngForTrackBy]="trackByFn">-->
<!--      <div class="filter-item" [ngClass]="{'inactive': filters.sizeFilters.length > 0 && !filters.sizeFilters.includes(size.id)}">-->
<!--        <mat-checkbox (change)="onSizeFilterChange($event)" [value]="size.id"  #sizeCheckbox [checked]="filters.sizeFilters.includes(size.id)">{{size.name}}</mat-checkbox>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </div>-->

<!--</div>-->
