<div class="filter-block flower-type-filter-wrapper" *ngIf="colors && flowerTypes">

  <div class="filter-title">
    <span>Квіти</span>
    <div class="clear-filter">
      <mat-icon *ngIf="shopFilterService.filters.flowerTypeFilters.length > 0" title="Очистити фільтр"
                (click)="clearFlowerTypeFilters()">close</mat-icon>
    </div>
  </div>

  <div class="filter-content">
    <ng-template ngFor let-flowerType [ngForOf]="flowerTypes" [ngForTrackBy]="trackByFn">
      <div class="filter-item"
           [ngClass]="{'inactive': (shopFilterService.filters.flowerTypeFilters.length > 0
            && !shopFilterService.filters.flowerTypeFilters.includes($any(flowerType.id))) || flowerType.availableFlowersCount == 0, 'checked' : shopFilterService.filters.flowerTypeFilters.includes($any(flowerType.id))}"
           *ngIf="flowerType.availableFlowersCount > 0 || shopFilterService.filters.flowerTypeFilters.includes($any(flowerType.id)) || showAll">
        <mat-checkbox (change)="onFlowerTypeFilterChange($event)" [value]="flowerType.id" #flowerTypeCheckbox [checked]="shopFilterService.filters.flowerTypeFilters.includes($any(flowerType.id))">
          <span>{{flowerType.name}}</span>
          <span *ngIf="flowerType.availableFlowersCount > 0">&nbsp;( {{flowerType.availableFlowersCount}} ) </span>
        </mat-checkbox>
      </div>
    </ng-template>
  </div>

  <div class="show-more-block" *ngIf="flowerTypes">
    <a *ngIf="!showAll" (click)="showAll = true">Показати всі ({{flowerTypes.length}})</a>
    <a *ngIf="showAll" (click)="showAll = false">Сховати відсутні</a>
  </div>

</div>


<div class="filter-block flower-color-filter-wrapper" *ngIf="colors && flowerTypes">

  <div class="filter-title">
    <span>Колір</span>
    <div class="clear-filter">
      <mat-icon *ngIf="shopFilterService.filters.colorFilters.length > 0" title="Очистити фільтр"
                (click)="clearColorFilters()">close</mat-icon>
    </div>
  </div>

  <div class="filter-content">
    <ng-template ngFor let-color [ngForOf]="colors" [ngForTrackBy]="trackByFn">
      <div class="filter-item" [ngClass]="{'inactive': shopFilterService.filters.colorFilters.length > 0 && !shopFilterService.filters.colorFilters.includes($any(color.id))}">
        <mat-checkbox (change)="onColorFilterChange($event)" [value]="color.id"  #colorCheckbox [checked]="shopFilterService.filters.colorFilters.includes($any(color.id))">{{color.name}}</mat-checkbox>
      </div>
    </ng-template>
  </div>

</div>



<div class="spinner-wrapper" *ngIf="!colors || !flowerTypes" >
  <mat-spinner diameter="32" mode="indeterminate"></mat-spinner>
</div>
