:host {
  display: flex;
  flex-direction: column;

  .panel-content {
    margin-bottom: 8px;
  }

  .panel-header {
    margin-top: 8px;
    margin-bottom: 8px;

    h1 {
      margin-left: 8px;
      margin-right: 8px;
      background-color: #eaeaea;
      color: #606060;
      width: 100%;
      padding-left: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .row-title {
    font-size: 26px;
    font-weight: 600;
  }

  .row {
    margin-bottom: 24px;
  }

  ::ng-deep p-card  {
    .p-card-title {
      margin-top: 4px;
      font-size: 16px;
      color: #4a4a4a;
    }
  }

  .statistic-chart {
    &::ng-deep {
      .p-card {
        position: relative;
        p-dropdown {
          position: absolute;
          right: 1em;
          top: 1em;
        }
      }
    }
  }


}
