:host {
  display: flex;
  flex-direction: column;

  .panel-header {
    h1 {
      margin-left: 8px;
    }
  }

  .row-title {
    font-size: 26px;
    font-weight: 600;
  }

  .row {
    margin-bottom: 24px;
  }

  ::ng-deep p-card  {
    .ui-card-title {
      margin-top: 2px;
      font-size: 18px;
      color: #404040;
    }
  }

  .statistic-chart {
    &::ng-deep {
      .ui-card {
        position: relative;
        p-dropdown {
          position: absolute;
          right: 1em;
          top: 1em;
        }
      }
    }
  }


}
