@import "theme";
@import "mixins.scss";

:host {

  .dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .dialog-header {
      height: 48px;
      background-color: $grey-50;
      display: flex;
      align-items: center;
      padding-left: 24px;
      font-size: 24px;
      font-weight: 500;
      color: $black-200;
    }

    i.close {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
      color: $grey-400;
      font-size: 24px;
    }

    .dialog-content {
      padding: 24px;

      .bucket-table {
        display: grid;
        text-align: right;
        font-size: 18px;

        .header {
          display: grid;
          grid-template-columns: 100px 1fr 1fr 1fr 1fr;
          font-weight: 500;
          color: $grey-800;
          border-bottom: 1px solid $grey-200;
          padding-bottom: 8px;
          margin-bottom: 8px;
        }

        .content {
          display: grid;
          grid-template-columns: 1fr;
          color: $black-200;
          grid-row-gap: 8px;

          .bucket-table-row {
            display: grid;
            grid-template-columns: 100px 1fr 1fr 1fr 1fr;
            align-items: center;
            border-bottom: 1px solid $grey-200;
            color: $grey-900;
            height: 100px;

            .bucket-item-image {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 80px;
                width: 80px;
                background-position: center;
                background-size: contain;
                background-color: mat-color($primary, 100);
              }
            }

            .bucket-item-name {
              padding: 0 0 0 12px;

              .flower-type-name {
                color: $grey-600
              }

              .flower-size-name {
                color: $grey-600
              }

              .flower-name {
                color: mat-color($primary);
              }

            }

            .bucket-item-total-price {
              color: $black-500;
              font-weight: 500;
            }

          }

        }

      }

      .total-price-wrapper {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        justify-content: flex-end;

        .total-price-block {
          display: flex;
          flex-direction: row;
          background-color: mat-color($primary, 50);
          padding: 8px 16px;
          justify-content: space-between;

          .label {
            margin-right: 12px;
            color: $grey-800
          }
          .total-price {
            color: $black-500;
          }
        }


      }

      .buttons-wrapper {
        display: flex;
        margin-top: 24px;
        width: 100%;
        justify-content: space-between;

        button {
          font-size: 22px;
          height: 42px;
          font-weight: 400;

          i {
           margin-right: 8px;
          }

        }

      }

    }



  }

}
