@import "theme";
@import "mixins.scss";

:host {

  .dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .dialog-header {
      height: 48px;
      background-color: $grey-50;
      display: flex;
      align-items: center;
      padding-left: 24px;
      font-size: 24px;
      font-weight: 500;
      color: $black-200;

    }

    i.close {
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;
      color: $grey-400;
      font-size: 24px;
    }

    .dialog-content {
      padding: 24px;

      .bucket-table {
        display: grid;
        text-align: right;
        font-size: 18px;

        .header {
          display: grid;
          grid-template-columns: 100px 25fr 20fr 35fr 20fr;
          font-weight: 500;
          color: $grey-800;
          border-bottom: 1px solid $grey-200;
          padding-bottom: 8px;

          @include response-to(sm) {
            display: none;
          }

          .amount {
            padding-right: 28px;
          }

        }

        .content {
          display: grid;
          grid-template-columns: 1fr;
          color: $black-200;

          .bucket-table-row {
            display: grid;
            grid-template-columns: 100px 25fr 20fr 35fr 20fr;
            align-items: center;
            border-bottom: 1px solid $grey-200;
            color: $grey-900;
            // height: 100px;
            padding: 10px 0;
            grid-template-areas: "bucket-item-image bucket-item-name bucket-item-price bucket-item-amount bucket-item-total-price";

            @include response-to(sm) {
              grid-template-columns: 2fr;
              grid-template-areas: "bucket-item-image bucket-item-name" "bucket-item-image bucket-item-price" "bucket-item-image bucket-item-amount" "bucket-item-image bucket-item-total-price";
              font-size: 16px;
            }

            .bucket-item-image {
              grid-area: bucket-item-image;
              display: flex;
              justify-content: center;
              align-items: center;

              @include response-to(sm) {
                justify-content: initial;
                align-items: initial;
              }

              img {
                height: 80px;
                width: 80px;
                background-position: center;
                background-size: contain;
                background-color: mat-color($primary, 100);

                @include response-to(sm) {
                  height: 150px;
                  width: 150px;
                }

              }
            }

            .bucket-item-name {
              grid-area: bucket-item-name;
              padding: 0 0 0 12px;

              @include response-to(sm) {
                padding-bottom: 12px;
              }

              .flower-type-name {
                color: $grey-600
              }

              .flower-size-name {
                color: $grey-600
              }

              .flower-name {
                color: mat-color($primary);
              }

            }

            .bucket-item-price {
              grid-area: bucket-item-price;

              .label {
                display: none;
                @include response-to(sm) {
                  display: inline-block;
                }
              }

              @include response-to(sm) {
                padding-bottom: 4px;
              }

            }

            .bucket-item-amount {
              grid-area: bucket-item-amount;

              @include response-to(sm) {
                padding-bottom: 4px;
              }

              amount-controlled-input {
                justify-content: flex-end;
              }
            }

            .bucket-item-total-price {
              grid-area: bucket-item-total-price;
              color: $black-500;
              font-weight: 500;

              @include response-to(sm) {
                padding-top: 8px;
              }

              .label {
                display: none;
                font-weight: 400;
                font-size: 14px;
                color: $grey-600;
                @include response-to(sm) {
                  display: inline-block;
                }
              }
            }

          }

        }

      }

      .total-price-wrapper {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        justify-content: flex-end;

        @include response-to(sm) {
          justify-content: center;
        }

        .total-price-block {
          display: flex;
          flex-direction: row;
          background-color: mat-color($primary, 50);
          padding: 8px 16px;
          justify-content: space-between;

          .label {
            margin-right: 12px;
            color: $grey-800
          }
          .total-price {
            font-weight: 500;
            color: $black-500;
          }
        }


      }

      .buttons-wrapper {
        display: flex;
        margin-top: 24px;
        width: 100%;
        justify-content: space-between;

        @include response-to(sm) {
          flex-direction: column-reverse;
          align-items: center;
        }

        button {
          font-size: 22px;
          height: 42px;
          font-weight: 400;

          @include response-to(sm) {
            max-width: 300px;
            &:last-of-type {
              margin-bottom: 24px;
            }
          }

          i {
           margin-right: 8px;
          }

        }

      }

    }



  }

}
