<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()">close</i>

  <div class="dialog-header">
    Кошик
  </div>

  <div class="dialog-content">

    <div class="bucket-table">

      <div class="header">
        <div></div>
        <div></div>
        <div class="price">Ціна</div>
        <div class="amount">Кількість</div>
        <div class="total-price">Сума</div>
      </div>

      <div class="content">

        <ng-template ngFor let-bucketItem [ngForOf]="bucketService.bucket" let-i="index">
          <div class="bucket-table-row">
            <div  class="bucket-item-image">
              <img [src]="bucketItem.image">
            </div>
            <div class="bucket-item-name">
              <div class="flower-type-name">{{bucketItem.flowerType}}</div>
              <div class="flower-name">{{bucketItem.name}}</div>
              <div class="flower-size-name">{{bucketItem.size}}</div>
            </div>
            <div class="bucket-item-price">{{bucketItem.price / 100}} грн <span class="label"> за шт.</span></div>
            <div class="bucket-item-amount">
              <amount-controlled-input [(ngModel)]="bucketItem.amount" name="amount" minAmount="1" (ngModelChange)="onBucketChange()"></amount-controlled-input>
            </div>
            <div class="bucket-item-total-price"><span class="label">Сума: </span> {{bucketItem.price * bucketItem.amount / 100}} грн</div>
          </div>
        </ng-template>

      </div>

    </div>

    <div class="total-price-wrapper">
      <div class="total-price-block">
        <div class="label">Разом:</div>
        <div class="total-price">{{bucketService.bucketInfo.totalPrice / 100}} грн</div>
      </div>
    </div>

    <div class="buttons-wrapper">
      <button mat-stroked-button color="primary">
        <i class="material-icons">add_shopping_cart</i>
        <span>Продовжити купувати</span>
      </button>
      <button mat-flat-button color="accent">
        <i class="material-icons">shopping_basket</i>
        <span>Оформити замовлення</span>
      </button>
    </div>

  </div>

</div>
