<div class="panel-header item ui-grid-col-6">
  <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
  <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Розмір</b> цибулини</h1>
</div>

<div class="panel-content">

  <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="min">Мінімальний розмір</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            min="1"
            pInputText
            #min="ngModel"
            id="min"
            name="min"
            type="number"
            [(ngModel)]="item.min"
            (ngModelChange)="onSizeChange()"
            rangePair
            [rangePairMax]="item.max"
          />
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="max">Максимальний розмір</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            min="1"
            pInputText
            #max="ngModel"
            id="max"
            name="max"
            type="number"
            required
            [(ngModel)]="item.max"
            (ngModelChange)="onSizeChange()"
            rangePair
            [rangePairMin]="item.min"
          />
        </div>
        <div class="ui-grid-col-4">
          <div *ngIf="max.errors?.required">
            <ng-container *ngIf="max.dirty || max.touched || form.submitted">
              <p-message *ngIf="max.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
            </ng-container>
          </div>
          <ng-container *ngIf="max.errors?.rangePair">
            <p-message  severity="error" text="Максимальне значення повинне бути більше ніж мінімальне"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="max">Назва</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #name="ngModel"
            id="name"
            name="name"
            [(ngModel)]="item.name"
            [uniqueValidator]="dataService.isNameFree.bind(dataService)"
            [previousValue]="previousName"
            readonly
          />
        </div>
        <div class="ui-grid-col-4" *ngIf="name.errors?.unique">
          <ng-container>
            <p-message severity="error" text="Данний розмір вже існує"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4 footer">
        <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}"></button>
      </div>
    </div>

  </form>

</div>
