<div class="panel-header item ui-grid-col-4">
  <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
  <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Розмір</b> цибулини</h1>
</div>

<div class="panel-content">

  <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="min">Мінімальний розмір</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            oninput="validity.valid||(value='');"
            min="1"
            pInputText
            #min="ngModel"
            id="min"
            name="min"
            type="number"
            [(ngModel)]="item.min"
            (ngModelChange)="onSizeChange()"
            numberComparisonValidator
            [maximum]="item.max"
          />
        </div>
        <div class="ui-grid-col-2" *ngIf="min.errors?.invalidNumber">
          <ng-container>
            <p-message severity="error" text="Мінімальне значення повинне бути менше ніж максимальне"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="max">Максимальний розмір</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            oninput="validity.valid||(value='');"
            min="1"
            pInputText
            #max="ngModel"
            id="max"
            name="max"
            type="number"
            required
            [(ngModel)]="item.max"
            (ngModelChange)="onSizeChange()"
            numberComparisonValidator
            [minimum]="item.min"
          />
        </div>
        <div class="ui-grid-col-2" *ngIf="max.errors?.required">
          <ng-container *ngIf="max.dirty || max.touched || form.submitted">
            <p-message  severity="error" text="Обовязково вказати значення"></p-message>
          </ng-container>
          <ng-container *ngIf="max.errors?.invalidNumber">
            <p-message severity="error" text="Максимальне значення повинне бути більше ніж мінімальне"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="max">Назва</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #name="ngModel"
            id="name"
            name="name"
            [(ngModel)]="item.name"
            nameUniqueValidator
          />
        </div>
        <div class="ui-grid-col-2" *ngIf="name.errors?.nameUnique">
          <ng-container>
            <p-message severity="error" text="Це ім'я зайняте, оберіть інше"></p-message>
          </ng-container>
        </div>
      </div>

    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4 footer">
        <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}"></button>
      </div>
    </div>

  </form>

</div>
