<div class="user-cabinet-title">Список Бажаннь</div>

<div class="empty-wishlist-block" *ngIf="favoriteFlowers && favoriteFlowers.length == 0">
  <div class="message">У вас ще немає жодного товару в списку бажаннь</div>
  <button mat-flat-button color="primary" routerLink="/shop">Перейти в магазин</button>
</div>

<div class="content">
      <ng-template ngFor let-flower [ngForOf]="favoriteFlowers">
        <shop-content-item [flower]="flower" [routerLink]="['/', 'shop','item', flower.id]" [inFavorites]="true"></shop-content-item>
      </ng-template>
</div>
