@import "theme";
@import "mixins.scss";

:host {

  .forgot-password {
    color: mat-color($primary, 300);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }

  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 120%;
    padding: 8px 12px;
  }

  .dialog-container {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;

    i.close {
      cursor: pointer;
      position: absolute;
      top: -16px;
      right: -16px;
      color: $grey-400;
      font-size: 24px;
    }

    .dialog-header {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
    }

    .content {
      display: flex;
      height: 100%;
      font-size: 20px;
      justify-content: center;

      .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;


        .dialog-content {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          width: 100%;

          .input-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;

            .input-wrapper {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .input-user {
                display: flex;
                justify-content: flex-end;
              }
            }

            .error-wrapper {
              width: 280px;
              font-size: 10px;

                .error-message {
                  color: mat-color($warn);
                }

            }
          }
        }

        .dialog-action {
          margin-top: 12px;
          display: flex;
          width: 280px;
          justify-content: space-between;

          .main-button {
            background-color: mat-color($accent);
            color: white;
            margin-right: 10px;
          }

          .secondary-button {
            margin-left: auto;
          }

        }

        .auth-facebook {
          background-color: #3b5998;
          color: white;
          i {
            margin-right: 8px;
          }
        }

        .auth-social-hint {
          font-size: 14px;
          text-align: center;
          color: $grey-400;
          width: 100%;
          margin: 24px 0 24px;
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            right: 0;
            background-color: $grey-400;
          }

          span {
            position: relative;
            background: white;
            padding: 0 10px;
          }

        }

      }


    }


    input {
      color: #333333;
      background: #ffffff;
      padding: 0.429em;
      border: 1px solid #a6a6a6;
      transition: border-color 0.2s;
      -webkit-appearance: none;
      border-radius: 3px;
      width: 280px;
      font-size: 15px;
    }

    h1 {
      font-size: 2em;
    }

    button {
      font-size: 20px;
    }
  }

  .reg-response-wrapper, .restore-password-response-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    .title {
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 16px;
    }

    .message {

      .highlight {
        color: mat-color($primary);
      }

    }

    .ok-button {
      align-self: center;
      justify-content: center;
      margin-top: 24px;
      color: white !important;
    }

  }

}
