<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()">close</i>

  <div class="login-form-wrapper" *ngIf="mode == 'login'">

    <div class="dialog-header">
      <h1>Авторизація</h1>
    </div>

    <div class="content">
      <form #loginForm="ngForm" class="login-form" (ngSubmit)="loginForm.valid && login()">

        <div class="wrapper">

          <div class="dialog-content">

            <div class="input-group">

              <input
                  #email="ngModel"
                  type="email"
                  name="email"
                  [(ngModel)]="credentials.email"
                  placeholder="Електронна адреса"
                  required/>

              <div class="error-wrapper" *ngIf="(email.dirty || email.touched) && loginForm.submitted">
                <div class="error-message" *ngIf="email.errors?.required">Повинно бути вказано</div>
              </div>

            </div>

            <div class="input-group">

              <input
                type="password"
                #password="ngModel"
                name="password"
                placeholder="Пароль"
                [(ngModel)]="credentials.password"
                required/>

              <div class="error-wrapper" *ngIf="(password.dirty || password.touched) && loginForm.submitted">
                <div class="error-message" *ngIf="password.errors?.required">Повинно бути вказано</div>
              </div>

            </div>

          </div>

          <a class="forgot-password" (click)="mode = 'restore-password'">Забули пароль?</a>

          <div class="dialog-action">
            <button type="submit" mat-flat-button color="accent" [disabled]="loading">Увійти</button>
            <button type="button" mat-stroked-button color="primary" (click)="mode = 'registration'" [disabled]="loading">Зареєструватись</button>
          </div>

          <div class="auth-social-hint">
            <span>або увійти з данними</span>
          </div>

          <button type="button" mat-button class="auth-facebook" (click)="facebookAuth()">
            <i class="fab fa-facebook-square"></i>
            <span>Facebook</span>
          </button>

        </div>


      </form>
    </div>

  </div>

  <div class="reg-form-wrapper" *ngIf="mode == 'registration' && !registered">
    <div class="dialog-header">
      <h1>Реєстрація</h1>
    </div>

    <div class="content">
      <form #regForm="ngForm" class="reg-form" (ngSubmit)="regForm.valid && register()">

        <div class="wrapper">

          <div class="dialog-content">

            <div class="input-group">

              <input
                  #email="ngModel"
                  type="email"
                  name="email"
                  [(ngModel)]="userRegistration.email"
                  placeholder="Електронна адреса"
                  required
                  email
                  [uniqueValidator]="userService.isEmailFree.bind(userService)"/>

              <div class="error-wrapper" *ngIf="email.dirty || email.touched || regForm.submitted">
                <div class="error-message" *ngIf="email.errors?.unique && !email.errors?.required">Данний Email вже зайнятий</div>
                <div class="error-message" *ngIf="email.errors?.required">Повинно бути вказано</div>
              </div>
            </div>

            <div class="input-group">
              <input
                  #name="ngModel"
                  name="name"
                  [(ngModel)]="userRegistration.name"
                  placeholder="Ім'я та прізвище"
                  required/>

              <div class="error-wrapper" *ngIf="name.dirty || name.touched || regForm.submitted">
                <div class="error-message" *ngIf="name.errors?.required">Повинно бути вказано</div>
              </div>
            </div>

            <div class="input-group">
              <input
                  #phone="ngModel"
                  name="phone"
                  [(ngModel)]="userRegistration.phone"
                  placeholder="Телефон"
                  required/>

              <div class="error-wrapper" *ngIf="phone.dirty || phone.touched || regForm.submitted">
                <div class="error-message" *ngIf="phone.errors?.required">Повинно бути вказано</div>
              </div>
            </div>

            <div class="input-group">

              <input
                type="password"
                #password="ngModel"
                name="password"
                placeholder="Пароль"
                [(ngModel)]="userRegistration.password"
                validateEqual="confirmPassword"
                validationEqualReverse="true"
                required/>

              <div class="error-wrapper" *ngIf="password.dirty || password.touched || regForm.submitted">
                <div class="error-message" *ngIf="password.errors?.required">Повинно бути вказано</div>
              </div>

            </div>

            <div class="input-group">

              <input
                type="password"
                #passwordConfirm="ngModel"
                name="passwordConfirm"
                placeholder="Повторіть пароль"
                [(ngModel)]="userRegistration.passwordConfirm"
                validateEqual="password"
                validationEqualReverse="false"
                required
              />

              <div class="error-wrapper" *ngIf="passwordConfirm.dirty || passwordConfirm.touched || regForm.submitted">
                <div class="error-message" *ngIf="passwordConfirm.errors?.required">Повинно бути вказано</div>
                <div class="error-message" *ngIf="passwordConfirm.errors?.validateEqual && !passwordConfirm.errors?.required">Паролі повинні співпадати</div>
              </div>

            </div>

          </div>

          <div class="dialog-action">
            <button type="submit" mat-flat-button color="accent" [disabled]="loading">Зареєструватись</button>
            <button type="button" mat-stroked-button color="primary" (click)="mode = 'login'" [disabled]="loading">Увійти</button>
          </div>

          <div class="auth-social-hint">
            <span>або продовжити з данними</span>
          </div>

          <button type="button" mat-button class="auth-facebook" (click)="facebookAuth()">
            <i class="fab fa-facebook-square"></i>
            <span>Facebook</span>
          </button>

        </div>

      </form>
    </div>

  </div>

  <div class="reg-response-wrapper" *ngIf="mode == 'registration' && registered">

    <div class="title">Дякуєм за реєстрацію</div>
    <div class="message-primary">
      Ми відправили вам на <span class="highlight">{{userRegistration.email}}</span> лист для підвердження вашої поштової адреси.
    </div>
    <div class="message-secondary">
      Якщо ви не отримали лист з підтвердженням на протязі 10 хвили - зверніться в службу підтримки сайту за адресою <a class="support-request"
                                                                                                                        href="mailto:meryflowersua@gmal.com">meryflowersua@gmal.com</a>
    </div>

    <button type="submit" (click)="dialogRef.close()" color="primary">ОК</button>

  </div>

  <div class="restore-password-form-wrapper" *ngIf="mode == 'restore-password' && !restored">

    <div class="dialog-header">
      <h1>Відновлення паролю</h1>
    </div>

    <div class="content">
      <form #passwordRestore="ngForm" class="password-restore-form" (ngSubmit)="passwordRestore.valid && restorePassword()">

        <div class="wrapper">

          <div class="dialog-content">

            <div class="input-group">

              <input
                  #email="ngModel"
                  type="email"
                  name="email"
                  [(ngModel)]="passwordRestoreEmail"
                  placeholder="Електронна адреса"
                  required
              />

              <div class="error-wrapper" *ngIf="(email.dirty || email.touched) && passwordRestore.submitted">
                <div class="error-message" *ngIf="email.errors?.required">Повинно бути вказано</div>
              </div>

            </div>

          </div>

          <div class="dialog-action">
            <button type="submit" mat-flat-button color="accent" [disabled]="loading">Відновити</button>
            <button type="button" mat-stroked-button color="primary" (click)="mode = 'login'" [disabled]="loading">Увійти</button>
          </div>

        </div>

      </form>
    </div>

  </div>

  <div class="restore-password-response-wrapper" *ngIf="mode == 'restore-password' && restored">

    <div class="title">Запит на відновлення паролю прийнято</div>
    <div class="message-primary">
      Ми відправили вам на <span class="highlight">{{passwordRestoreEmail}}</span> лист з інструкціями для процедури відновлення паролю.
    </div>
    <div class="message-secondary">
      Якщо ви не отримали лист з підтвердженням на протязі 10 хвили - зверніться в службу підтримки сайту за адресою <a class="support-request"
                                                                                                                        href="mailto:meryflowersua@gmal.com">meryflowersua@gmal.com</a>
    </div>

    <button type="submit" mat-raised-button (click)="dialogRef.close()" color="primary">ОК</button>

  </div>

</div>



