@import '../../../../../node_modules/@angular/material/theming';
@import "theme";
@import "mixins";


:host {
  //@include mat-elevation(2);
  .wrapper {
    cursor: pointer;
    min-height: 200px;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 200px 1fr;
    opacity: 1;
    text-decoration: none;

    @include response(xs) {
      grid-template-rows: 300px 1fr;
    }

    @include response(sm) {
      grid-template-rows: 250px 1fr;
    }

    .not-available-mark {
      display: none;
      font-size: 14px;
    }

    &.not-available {

      .info {

        .price {
          display: none;
          color: $grey-400;
        }

        .flower-type-name {
          opacity: 0.6;
        }

        .name {
          opacity: 0.6;
        }

      }

      .not-available-mark {
        display: block;
        color: mat-color($accent);
        margin-top: 2px;
      }

    }

    .cover {
      width: 100%;
      height: 200px;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      position: relative;
      overflow: hidden;
      &.flower-image-null {
        border-top: 4px solid #f3f3f3;
        border-right: 4px solid #f3f3f3;
        border-left: 4px solid #f3f3f3;
      }


      @include response(xs) {
        height: 300px;
      }

      @include response(sm) {
        height: 250px;
      }

      .flags-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        color: white;
        right: 0px;
        top: 4px;
        font-size: 12px;

        .is-new {
          background-color: mat-color($primary);
          padding: 2px 4px;
          margin-top: 4px;
        }

        .season-name {
          background-color: mat-color($primary);
          padding: 2px 4px;
          margin-top: 4px;
        }

        .is-popular {
          background-color: mat-color($accent);
          padding: 2px 4px;
          margin-top: 4px;
        }

        .tag {
          background-color: #b506b5;
          padding: 2px 4px;
          margin-top: 4px;
        }

      }

      .add-to-card {
        height: 40px;
        position: absolute;
        color: white;
        background: rgba(#000000, .45);
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -40px;
        transition: bottom .3s, background .25s;
        text-transform: uppercase;

        @include response-to(sm) {
          bottom: 0px;
          height: 40px;
        }

        .mat-icon {
          margin-right: 8px;
        }

        &:hover {
          background: rgba(mat-color($accent, 600), .80);
          transition: bottom .3s, background .25s;
        }

      }

      .favorites-button-wrapper {
        top: 8px;
        left: 8px;
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;

        .mat-icon-button {
          color: $black-100;
          background: $grey-50;
          height: 36px;
          width: 36px;
          line-height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;

          &.in-favorites {
            color: mat-color($accent)
          }

        }

      }

    }

    &:hover {
      .cover {
        .add-to-card {
          bottom: 0px;
          transition: bottom .3s, background .25s;
        }

        .favorites-button-wrapper {
          //display: flex;
          visibility: visible;
          opacity: 1;
          transition: opacity .3s;
        }
      }
    }

    .info {
      background: #f3f3f3;
      text-align: center;
      padding: 12px 8px 12px;
      position: relative;
      min-height: 83px;

      .angle-left {
        position: absolute;
        width: 70px;
        height: 70px;
        background: url(/assets/icons/interface/floral-design.svg);
        transform: rotateZ(-90deg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 4px;
        left: 2px;
        //opacity: 0.4;
        z-index: 1;
      }

      .angle-right {
        position: absolute;
        width: 70px;
        height: 70px;
        background: url(/assets/icons/interface/floral-design.svg);
        transform: rotateZ(180deg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 4px;
        right: 2px;
        //opacity: 0.4;
        z-index: 1;
      }

      .flower-type-name {
        color: $grey-800;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        position: relative;
        z-index: 2;
        margin-bottom: 2px;
      }

      .name {
        //color: $grey-800;
        color: mat-color($primary);
        font-size: 17px;
        position: relative;
        z-index: 2;
        font-weight: 500;
        margin-bottom: 2px;
      }

      .price {
        //color: $black-100;
        color: mat-color($accent, 400);
        font-weight: 500;
        position: relative;
        z-index: 2;
      }
    }
  }

}
