<div class="wrapper" [ngClass]="{'not-available': !flower.hasAvailableFlowerSize}">
  <div class="cover" [ngStyle]="flower.image && {'background-image':'url(' + flower.image  + ')'}">

    <div class="flags-wrapper">
      <div class="is-new" *ngIf="flower.isNew">НОВИНКА</div>
      <div class="is-popular" *ngIf="flower.isPopular">ХІТ</div>
    </div>

    <div class="favorites-button-wrapper" *ngIf="securityService.isAuthenticated()">

      <button mat-icon-button class="in-favorites" (click)="removeFromFavorites()"
              *ngIf="favoritesService.favoriteFlowerIds.includes(flower.id); else addToFavoritesBlock">
        <mat-icon aria-label="Remove from favorites">favorite</mat-icon>
      </button>

      <ng-template #addToFavoritesBlock>
        <button mat-icon-button (click)="addToFavorites()">
          <mat-icon aria-label="Add to favorites">favorite_border</mat-icon>
        </button>
      </ng-template>

    </div>

    <div class="add-to-card" (click)="openAddToCardModal($event)" *ngIf="flower.hasAvailableFlowerSize">
      <mat-icon aria-label="Add to card">add_shopping_cart</mat-icon>
      <span>Купити</span>
    </div>

  </div>

  <div class="info">

    <div class="angle-left"></div>
    <div class="angle-right"></div>

    <div class="flower-type-name">
      <span>{{flower.flowerType.nameSingle}}</span>
      <span *ngIf="flower.group">{{', ' + flower.group.nameSingle}}</span>
    </div>
    <div class="name">{{flower.nameOriginal}}</div>
    <div class="price">
      <div><span>від </span> {{flower.priceMin / 100}} грн</div>
      <div class="not-available-mark">(немає в наявності)</div>
    </div>

  </div>

</div>


