<div class="panel-header">
  <h1>Розміри цибулин</h1>
  <div class="navigation-buttons">
    <button pButton [routerLink]="['item', ItemSaveMode.new]" icon="pi pi-plus" class="p-button-success" label="Додати"></button>
    <button pButton (click)="loadData()" icon="pi pi-refresh" label="Оновити"></button>
  </div>
</div>

<div class="panel-content">
  <p-table #dt [columns]="cols" [value]="items" sortField="id" [paginator]="true" [rows]="10"
           [tableStyle]="{'table-layout':'auto'}" [contextMenu]="cm" [(contextMenuSelection)]="selected">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" class="table-filter">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-contextMenu #cm [model]="menuItems"></p-contextMenu>


