@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  justify-content: center;

  @extend .content-thin;
  @extend .content-thin-padding;

}


