@import "theme";
@import '~@angular/material/theming';
@import "mixins.scss";

:host {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: row;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: center;

  @extend .content-thin;

}


