<div class="panel-header item ui-grid-col-4">
  <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
  <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Товарну Операцію</b></h1>
</div>


<div class="panel-content">

  <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="amount">Кількість</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            required
            class="input-element"
            pInputText
            id="amount"
            name="amount"
            #amount="ngModel"
            [(ngModel)]="item.amount"
            min="1"
            type="number"
          />
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="operation">Операція</label>
        </div>
        <div class="ui-grid-col-2">
          <p-dropdown class="input-element" required [options]="operationTypes"
                      [(ngModel)]="itemWarehouseOperationType.operationType"
                      placeholder="Оберіть операцію" id="operation" name="operationType"
                      (ngModelChange)="getWarehouseOperationType(itemWarehouseOperationType.operationType)"></p-dropdown>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="direction">Прихід/Відхід</label>
        </div>
        <div class="ui-grid-col-2">
          <input class="input-element" required="true" pInputText name="direction" disabled [(ngModel)]="directionOption" id="direction"/>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="flower">Квітка</label>
        </div>
        <div class="ui-grid-col-2">
          <p-dropdown class="input-element" required="true" [options]="flowersOptions" name="flower" [(ngModel)]="flowerChosen"
                      optionLabel="name" dataKey="id"
                      placeholder="Оберіть квітку" id="flower" (ngModelChange)="getFlowersSizeById(flowerChosen.id)"></p-dropdown>
        </div>
      </div>

      <div class="prime-form-group" *ngIf="isFlowerChosen">
        <div class="ui-grid-col-2">
          <label for="size">Розмір</label>
        </div>
        <div class="ui-grid-col-2">
          <p-dropdown class="input-element" required="true" [options]="sizeOptions" name="size" [(ngModel)]="itemFlowerSize"
                      optionLabel="size.name" dataKey="id"
                      placeholder="Оберіть розмір" id="size"></p-dropdown>
        </div>
      </div>

    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4 footer">
        <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}"></button>
      </div>
    </div>

  </form>

</div>

