<div class="loading-spinner" *ngIf="!isLoaded">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="wrapper" *ngIf="isLoaded">
  <div class="panel-header item p-col-7">
    <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" (click)="location.back()"></button>
    <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Товарну Операцію</b></h1>
  </div>


  <div class="panel-content">

    <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

      <div class="p-gird p-gird-responsive ui-fluid">

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="flower">Квітка</label>
          </div>
          <div class="p-col-4">
            <p-dropdown [options]="flowersOptions" name="flower" [(ngModel)]="flowerChosen"
                        optionLabel="nameOriginal" dataKey="id" filter="true" #flower="ngModel" required
                        placeholder="Оберіть квітку" id="flower" (ngModelChange)="getFlowersSizeById(flowerChosen.id)">
              <ng-template let-selectedItem pTemplate="selectedItem">
                <div class="flower-selected" >
                  <img [src]="selectedItem.value.image"/>
                  <div><b>{{selectedItem.value.nameOriginal}}</b>, {{selectedItem.value.flowerType.nameSingle}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div class="flower-option">
                    <img [src]="item.value.image"/>
                    <div class="flower-option-info">
                      <div class="flower-option-info-main"><b>{{item.value.nameOriginal}}</b>, {{item.value.flowerType.nameSingle}}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="p-col-4">
            <div *ngIf="flower.errors">
              <ng-container *ngIf="flower.dirty || flower.touched || form.submitted">
                <p-message *ngIf="flower.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="size">Розмір</label>
          </div>
          <div class="p-col-4">
            <p-dropdown [options]="sizeOptions" name="size" [(ngModel)]="flowerSizeChosen"
                        optionLabel="size.name" dataKey="id" #flowerSize="ngModel"
                        placeholder="Оберіть розмір" id="size" required></p-dropdown>
          </div>
          <div class="p-col-4">
            <div *ngIf="flowerSize.errors">
              <ng-container *ngIf="flowerSize.dirty || flowerSize.touched || form.submitted">
                <p-message *ngIf="flowerSize.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="operation">Операція</label>
          </div>
          <div class="p-col-4">
            <p-dropdown [options]="operationTypes"
                        id="operation"  placeholder="Оберіть операцію"
                        name="operationType" #operationType="ngModel"
                        [(ngModel)]="itemWarehouseOperationType.operationType"
                        (ngModelChange)="getWarehouseOperationType()"
                        required>
            </p-dropdown>
          </div>
          <div class="p-col-4">
            <div *ngIf="operationType.errors">
              <ng-container *ngIf="operationType.dirty || operationType.touched || form.submitted">
                <p-message *ngIf="operationType.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="direction">Прихід/Відхід</label>
          </div>
          <div class="p-col-4">
            <input required="true" pInputText name="direction" disabled [(ngModel)]="directionOption" id="direction"/>
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="amount">Кількість</label>
          </div>
          <div class="p-col-4">
            <input
              pInputText
              id="amount"
              name="amount"
              #amount="ngModel"
              [(ngModel)]="item.amount"
              min="1"
              type="number"
              required
            />
          </div>
          <div class="p-col-4">
            <div *ngIf="amount.errors">
              <ng-container *ngIf="amount.dirty || amount.touched || form.submitted">
                <p-message *ngIf="amount.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
              </ng-container>
            </div>
          </div>
        </div>

      </div>

      <div class="p-gird-row p-gird-field">
        <div class="p-col-7 footer">
          <button type="submit" pButton icon="{{loading ? 'fas fa-spinner fa-pulse' : 'pi pi-check'}}" class="p-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}" [disabled]="loading"></button>
        </div>
      </div>

    </form>

  </div>

</div>

