<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()"></i>

  <div class="content">

    <div class="title">Звяжіться з нами у зручний для вас спосіб</div>

    <div class="message-options">
      <a mat-raised-button href="viber://chat?number=380507072637">
        <i class="fab fa-viber viber-color"></i>
        <span>Viber</span>
      </a>
      <a mat-raised-button href="https://t.me/MarijaHalynska" target="_blank">
        <i class="fab fa-telegram telegram-color"></i>
        <span>Telegram</span>
      </a>
      <a mat-raised-button href="http://m.me/MarijaHalynska" target="_blank">
        <i class="fab fa-facebook-messenger messenger-color"></i>
        <span>Messenger</span>
      </a>
      <a mat-raised-button href="mailto:merryflowersua@gmail.com">
        <i class="far fa-envelope youtube-color"></i>
        <span>Email</span>
      </a>
      <a mat-raised-button href="tel:+380507072637">
        <i class="fas fa-mobile-alt primary-color"></i>
        <span>Дзвінок</span>
      </a>
    </div>

  </div>

</div>



