<form id="update_order_items" #updateOrderItemsForm="ngForm" class="update-order-items-dialog-content"
      (ngSubmit)="updateOrderItemsForm.valid && updateOrderItems()">


  <div class="loading-spinner" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div class="update-order-items-block-wrapper" *ngIf="updatingOrder && flowerSizes && !loading">

    <div class="add-block">

      <p-dropdown class="add-flower-size-dropdown" [options]="flowerSizes" [(ngModel)]="flowerSizeToAdd" name="flowerSizeToAdd" [filter]="true"
                  filterBy="flower.name,flower.nameOriginal,flower.flowerType.name,flower.flowerType.nameSingle,flower.flowerType.nameOriginal,code"
                  placeholder="Оберіть товар" emptyFilterMessage="Не знайдено" optionLabel="flower.nameOriginal" appendTo="body">
        <ng-template let-selectedItem pTemplate="selectedItem">
          <div class="flower-size-selected">
            <img [src]="selectedItem.flower.image"/>
            <div><b>{{selectedItem.flower.nameOriginal}}</b> {{selectedItem.size.name}}, {{selectedItem.flower.flowerType.nameSingle}}</div>
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div class="ui-helper-clearfix">
            <div class="flower-size-option">
              <img [src]="item.flower.image"/>
              <div class="flower-size-option-info">
                <div class="flower-size-option-info-main"><b>{{item.flower.nameOriginal}}</b> {{item.size.name}}
                  , {{item.flower.flowerType.nameSingle}}</div>
                <div class="flower-size-option-info-additional">{{item.code}}, Ціна: {{item.price / 100}} грн, Доступно: {{item.available}} шт</div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dropdown>

      <button pButton icon="pi pi-plus" label="Додати" type="button" class="p-button-success" [disabled]="loading"
              (click)="addOrderItem()"></button>

    </div>

    <div class="expanded-row-table update-order-items-table">
      <div class="body">
        <div class="row">
          <div class="head">Фото</div>
          <div class="head">Товар</div>
          <div class="head">Розмір</div>
          <div class="head">Кількість</div>
          <div class="head">Сума</div>
          <div class="head"></div>
        </div>
        <ng-template ngFor let-orderItem [ngForOf]="updatingOrder.orderItems" let-i="index">
          <div class="row">
            <div class="cell image-wrapper">
              <img [src]="orderItem.image" class="order-item-logo">
            </div>
            <div class="cell">
              <div>{{orderItem.flowerTypeName}}</div>
              <div><b>{{orderItem.name}}</b></div>
              <div>{{orderItem.code}}</div>
            </div>
            <div class="cell">{{orderItem.sizeName}}</div>
            <div class="cell">
              <div class="input-wrapper">
                <i class="fas fa-angle-left" (click)="minusAmount(i)"></i>
                <input [name]="'orderItem_' + orderItem.flowerSizeId" (ngModelChange)="onAmountModelChange($event, orderItem)" [(ngModel)]="orderItem.amount"
                       maxlength="5" required type="text" digitOnly [minValue]="1" [maxValue]="getMaxForFlowerSize(orderItem)">
                <i class="fas fa-angle-right" (click)="plusAmount(i)"></i>
              </div>
            </div>
            <div class="cell">{{orderItem.amount * orderItem.price / 100 + ' грн'}}</div>
            <div class="cell control-wrapper" (click)="removeOrderItem(i)">
              <i class="fas fa-times"></i>
            </div>
          </div>

        </ng-template>
      </div>
    </div>

  </div>

</form>

<p-footer>
  <button pButton form="update_order_items" icon="{{loading ? 'fas fa-spinner fa-pulse' : 'pi pi-check'}}" label="Підтвердити" type="submit"
          [disabled]="loading || updateOrderItemsForm.invalid"></button>
</p-footer>
