@import "theme";
@import "mixins.scss";

:host {
  @extend .content-thin;
  justify-self: center;
  align-self: center;
  padding: 2em 18px 18px;

  .wrapper {

    .page-title {
      text-align: center;
      color: mat-color($accent);
      font-size: 28px;
      font-weight: 500;
      margin: 0px 0px 26px;
      align-items: center;
      display: flex;
      padding: 8px 0px;
      @include response-to(xs) {
        font-size: 24px;
      }

    }
  }
}


