@import "../../../theme";
@import "../../../mixins.scss";

:host {
  @extend .content-thin;
  justify-self: center;
  align-self: center;
}

.page-title {
  color: mat-color($accent);
  margin: 1.1em 0 1em;
  font-size: 2em;
  font-weight: 600;
  @include response-to(xs) {
    text-align: center;
  }
}

.container {
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin-bottom: 2em;

  @include response-to(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include response-to(xs) {
    grid-template-columns: 1fr;
  }

}

