<div class="content">

  <h1 class="page-title">КОНТАКТИ</h1>

  <div class="contacts">

    <a class="contact-card" href="tel:+380507072637">
      <div class="logo phone-color">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="card-info">
        <div class="phone" >+380 (50) 707 26 37</div>
      </div>
    </a>

    <a class="contact-card" href="viber://chat?number=380507072637">
      <div class="logo viber-color">
        <i class="fab fa-viber"></i>
      </div>
      <div class="card-info">
        <div>Viber</div>
      </div>
    </a>

    <a class="contact-card" href="https://t.me/MarijaHalynska" target="_blank">
      <div class="logo telegram-color">
        <i class="fab fa-telegram"></i>
      </div>
      <div class="card-info">
        <div>Telegram</div>
      </div>
    </a>

    <a class="contact-card" href="http://m.me/MarijaHalynska" target="_blank">
      <div class="logo messenger-color">
        <i class="fab fa-facebook-messenger"></i>
      </div>
      <div class="card-info">
        <div>Facebook Messenger</div>
      </div>
    </a>

    <div class="contact-card">
      <div class="logo email-color">
        <i class="far fa-envelope"></i>
      </div>
      <div class="card-info">
        <a class="email" href="mailto:merryflowersua@gmail.com">merryflowersua@gmail.com</a>
      </div>
    </div>

  </div>

  <h1 class="sub-title">Ми в соціальних мережах</h1>

  <div class="contacts">

    <a class="contact-card" href="https://www.facebook.com/groups/merryflowers" target="_blank">
        <div class="logo facebook-color">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="card-info">
          <div>facebook.com/groups/merryflowers</div>
        </div>
    </a>

    <a class="contact-card" href="https://www.youtube.com/c/MerryFlowers" target="_blank">
      <div class="logo youtube-color">
        <i class="fab fa-youtube"></i>
      </div>
      <div class="card-info">
        <div>youtube.com/c/MerryFlowers</div>
      </div>
    </a>

  </div>

  <h2 class="mini-title">Доставка та оплата</h2>

  <div class="paragraph">

    <div class="block">
      Переважно більша кількість посадкового матеріалу, який ми вам пропонуємо, вирощується в Нідерландах. Доставка відбувається в два сезони: весною та восени.</div>
    <div class="payment-info-title">
      Реквізити для оплати:
    </div>
<!--    <div>Номер картки: <b>5168 7573 6235 6984</b></div>-->
<!--    <div>Приват Банк, Галинська Марія Федорівна</div>-->
    <div>Реквізити для оплати ви отримаєте після оформлення замовлення в особистому кабінеті в розділі <b>МОЇ ЗАМОВЛЕННЯ</b>.</div>
    <p>
      <span class="nb">* </span>Оплачуйте, будь ласка, вартість замовлення та комісію згідно з умовами роботи вашого банку чи платіжної системи.
    </p>
  </div>

  <h2 class="mini-title">Як повідомити нас про оплату?</h2>

  <div class="paragraph">
    <div class="payment-info-report-main-content">
      <div>
        Повідомити дату, час та зараховану нам суму або надіслати фотокопію квитанції про оплату одним з наступних способів:
      </div>
      <div> - надіславши повідомлення за допомогою <a href="viber://chat?number=380507072637" class="brand viber-color">Viber</a> на номер <a class="phone" href="tel:+380507072637">+380507072637</a></div>
      <div> - надіславши повідомлення за допомогою <a href="https://t.me/MarijaHalynska" target="_blank" class="brand telegram-color">Telegram</a> на номер <a class="phone" href="tel:+380507072637">+380507072637</a></div>
      <div> - надіславши повідомлення <a href="https://www.facebook.com/MarijaHalynska" target="_blank" class="brand facebook-color">Марії Галинскій</a> через <a href="http://m.me/MarijaHalynska" target="_blank" class="brand messenger-color">Facebook Messenger</a></div>

    </div>
    <p>
      <span class="nb">* </span>Для спрощення ідентифікації вашої оплати, вкажіть, будь ласка, <b>номер замовлення</b> та <b>ПІП замовника</b> в коментарях до оплати
    </p>
  </div>

  <h2 class="mini-title">Про нас</h2>

  <div class="paragraph">
    <div class="about-us-main-content">
      <div>
        Переважно більша кількість посадкового матеріалу, який ми вам пропонуємо, вирощується в Нідерландах.
        Нідерланди – це країна, яку по праву вважають одною з головних постачальників квітів на світовий ринок.
      </div>
      <div>
        Ми закуповуємо великим та малим оптом незначну кількість посадкового матеріалу квітів, який пропонуємо вам в роздріб весною та восени.
        Щороку наш асортимент може змінюватися. Ми розраховуємо на невелику кількість покупців, з якими маємо намір налагодити дружню співпрацю і робити  невеликі оптові замовлення за проханням покупців саме тих квітів про які ви мрієте! Опитування та побажання покупців ми проводимо в квітковій групі в Facebook –
        <a href="https://www.facebook.com/groups/merryflowers" target="_blank">Квіти з Нідерландів</a>, в яку запрошуємо вас для спілкування, дискусій та обміну досвідом по вирощуванню квітів.
      </div>
      <div>
        Відправка рослин здійснюється в два найбільш сприятливі періоди для посадки всіх квітів:
      </div>
      <div class="ident">Весною це березень-травень</div>
      <div class="ident">Восени це вересень-листопад</div>
      <div>
        Щороку точна дата відправки може змінюватися в залежності від погодних умов та інших обставин. Якщо рання весна, то поставки можуть бути з середини березня, якщо пізня весна, то відправки можуть бути тільки з кінця березня адже ми піклуємося, щоб теплолюбові квіти не перемерзали під час доставки.
      </div>
    </div>
  </div>

  <div class="privacy-link">
    <a routerLink="/terms-and-conditions">Умови використання сайту</a>
  </div>

</div>
