<div class="content">

  <h1 class="page-title">КОНТАКТИ</h1>

  <div class="contacts">

    <div class="contact-card">
      <div class="logo" id="phone">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="card-info">
        <div class="phone">+380 (50) 707 26 37</div>
        <div class="phone">+380 (97) 055 90 95</div>
      </div>
    </div>

    <div class="contact-card">
      <div class="logo" id="email">
        <i class="far fa-envelope"></i>
      </div>
      <div class="card-info">
        <div>merryflowersua@gmail.com</div>
      </div>
    </div>

  </div>

  <h1 class="sub-title">Ми в соціальних мережах та медіа ресурсах</h1>

  <div class="contacts">

    <a class="contact-card" href="https://www.facebook.com/groups/merryflowers" target="_blank">
        <div class="logo" id="facebook">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="card-info">
          <div>facebook.com/groups/merryflowers</div>
        </div>
    </a>

<!--    <a class="contact-card" href="https://telegram.org/" target="_blank">-->
<!--        <div class="logo" id="telegram">-->
<!--          <i class="fab fa-telegram"></i>-->
<!--        </div>-->
<!--        <div class="card-info">-->
<!--          <div>telegram/flowershop</div>-->
<!--        </div>-->
<!--    </a>-->

<!--    <a class="contact-card" href="https://youtube.com/" target="_blank">-->
<!--      <div class="logo" id="youtube">-->
<!--        <i class="fab fa-youtube"></i>-->
<!--      </div>-->
<!--      <div class="card-info">-->
<!--        <div>youtube/flowershop</div>-->
<!--      </div>-->
<!--    </a>-->

  </div>

  <h2 class="mini-title">Доставка та оплата</h2>

  <div class="faq-block">

    <div class="block">
      Переважно більша кількість посадкового матеріалу, який ми вам пропонуємо, вирощується в Нідерландах. Доставка відбувається в два сезони: весною та восени.</div>
    <div class="payment-info-title">
      Реквізити для оплати:
    </div>
<!--    <div>Номер картки: <b>5168 7573 6235 6984</b></div>-->
<!--    <div>Приват Банк, Галинська Марія Федорівна</div>-->
    <div>Реквізити для оплати ви отримаєте після оформлення замовлення в особистому кабінеті в розділі <b>МОЇ ЗАМОВЛЕННЯ</b>.</div>
    <p>
      <span class="nb">* </span>Оплачуйте, будь ласка, вартість замовлення та комісію згідно з умовами роботи вашого банку чи платіжної системи.
    </p>
  </div>

  <h2 class="mini-title">Як повідомити нас про оплату?</h2>

  <div class="faq-block">
    <div class="payment-info-report-main-content">
      <div>
        - або надіслати фотокопію чека про оплату за допомогою Viber на номер <b>0507072637</b> чи у приватні повідомлення <a href="https://www.facebook.com/profile.php?id=100015146929090" target="_blank">Марії Галинскій</a> на <b>Facebook</b>
      </div>
      <div>
        - або повідомити дату, час та зараховану нам суму за допомогою Viber на номер <b>0507072637</b> чи у приватні повідомлення <a href="https://www.facebook.com/profile.php?id=100015146929090" target="_blank">Марії Галинскій</a> на <b>Facebook</b>
      </div>
    </div>
    <p>
      <span class="nb">* </span>Для спрощення ідентифікації вашої оплати, вкажіть, будь ласка, номер замовлення та повне імя в коментарях до оплати
    </p>
  </div>

  <h2 class="mini-title">Про нас</h2>

  <div class="faq-block">
    <div class="about-us-main-content">
      <div>
        Переважно більша кількість посадкового матеріалу, який ми вам пропонуємо, вирощується в Нідерландах.
        Нідерланди – це країна, яку по праву вважають одною з головних постачальників квітів на світовий ринок.
      </div>
      <div>
        Ми закуповуємо великим та малим оптом незначну кількість посадкового матеріалу квітів, який пропонуємо вам в роздріб весною та восени.
        Щороку наш асортимент може змінюватися. Ми розраховуємо на невелику кількість покупців, з якими маємо намір налагодити дружню співпрацю і робити  невеликі оптові замовлення за проханням покупців саме тих квітів про які ви мрієте! Опитування та побажання покупців ми проводимо в квітковій групі в Facebook –
        <a href="https://www.facebook.com/groups/merryflowers" target="_blank">Квіти з Нідерландів</a>, в яку запрошуємо вас для спілкування, дискусій та обміну досвідом по вирощуванню квітів.
      </div>
      <div>
        Відправка рослин здійснюється в два найбільш сприятливі періоди для посадки всіх квітів:
      </div>
      <div class="ident">Весною - березень-травень</div>
      <div class="ident">Восени - вересень-листопад</div>
      <div>
        Щороку точна дата відправки може змінюватися в залежності від погодних умов та інших обставин. Якщо рання весна, то поставки можуть бути з середини березня, якщо пізня весна, то відправки можуть бути тільки з кінця березня адже ми піклуємося, щоб теплолюбові квіти не перемерзали під час доставки.
      </div>
    </div>
    <p>
<!--      <span class="nb">* </span>Для спрощення ідентифікації вашої оплати, вкажіть, будь ласка, номер замовлення або хоча б своє імя в коментарях до оплати-->
    </p>
  </div>

  <div class="privacy-link">
    <a routerLink="/terms-and-conditions">Умови використання сайту</a>
  </div>

</div>
