<div class="content">

  <h1 class="page-title">КОНТАКТИ</h1>

  <div class="contacts">

    <div class="contact-card">
      <div class="logo" id="phone">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="card-info">
        <div class="phone">+380 (50) 707 26 37</div>
        <div class="phone">+380 (97) 055 90 95</div>
      </div>
    </div>

    <div class="contact-card">
      <div class="logo" id="email">
        <i class="far fa-envelope"></i>
      </div>
      <div class="card-info">
        <div>meryflowersua@gmail.com</div>
      </div>
    </div>

  </div>

  <h1 class="sub-title">Ми в соціальних мережах та медіа ресурсах</h1>

  <div class="contacts">

    <div class="contact-card">
      <a href="https://www.facebook.com/groups/merryflowers" target="_blank">
        <div class="contact-card">
          <div class="logo" id="facebook">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="card-info">
            <div>facebook.com/groups/merryflowers</div>
          </div>
        </div>
      </a>
    </div>

    <div class="contact-card">
      <a href="https://telegram.org/" target="_blank">
        <div class="contact-card">
          <div class="logo" id="telegram">
            <i class="fab fa-telegram"></i>
          </div>
          <div class="card-info">
            <div>telegram/flowershop</div>
          </div>
        </div>
      </a>
    </div>

    <div class="contact-card">
      <a href="https://youtube.com/" target="_blank">
        <div class="contact-card">
          <div class="logo" id="youtube">
            <i class="fab fa-youtube"></i>
          </div>
          <div class="card-info">
            <div>youtube/flowershop</div>
          </div>
        </div>
      </a>
    </div>

  </div>

  <h2 class="mini-title">Доставка та оплата</h2>

  <div class="faq-block">
    <p>
      - Квіти замовляються переважно з Нідерландів, тому доставка відбувається в конкретний період року. Для кожного виду квітів цей період може бути іншим. Детальну інформацію уточнюйте в менеджера.
    </p>
    <div class="payment-info-title">
      Реквізити для оплати:
    </div>
    <div>Номер картки: <b>5168 7573 6235 6984</b></div>
    <div>Приват Банк, Галинська Марія Федорівна</div>
    <p>
      <span class="nb">* </span>Оплачуйте, будь ласка, вартість замовлення та комісію згідно з умовами роботи вашого банку чи платіжної системи.
    </p>
  </div>

  <h2 class="mini-title">Як повідомити нас про оплату?</h2>

  <div class="faq-block">
    <div class="payment-info-report-main-content">
      <div>
        - скинути час та суму за допомогою СМС чи Viber чи Telegram
      </div>
      <div>
        - скинути фотокопію чека про оплату на Viber чи Telegram
      </div>
    </div>
    <p>
      <span class="nb">* </span>Для спрощення ідентифікації вашої оплати, вкажіть, будь ласка, номер замовлення або хоча б своє імя в коментарях до оплати
    </p>
  </div>

  <div class="privacy-link">
    <a routerLink="/terms-and-conditions">Умови використання сайту</a>
  </div>

</div>
