@import "theme";
@import "mixins";

.content {
  display: grid;
  grid-gap: 24px;
  margin-bottom: 24px;

  @include response-to(xs) {
    grid-template-columns: auto;
  }

  @include response-from(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include response-from(md) {
    grid-template-columns: repeat(4, 1fr);
  }

}

.content-for-header {
  display: grid;
  grid-gap: 24px;
  margin-bottom: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.show-button {
  padding: 0px 0 18px 18px;
  text-align: end;
  button {
    background: mat-color($primary, 800);
    color: white;
  }
}

.show-hide-block {
  padding: 18px;
  text-align: end;
  @include response(sm) {
    text-align: start;
  }
  .show-hide-text {
    color: mat-color($primary, 800);
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}
