.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;

  //&.item {
  //  justify-content: initial;
  //  .button-back {
  //    margin-right: 16px;
  //  }
  //}

  h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 0 0px;
  }

  .navigation-buttons {
    button {
      margin-left: 16px;
    }
  }

}

input.table-filter {
  width: 100%;
}

.table-row-image-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .table-row-image {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &.zoomable {
      cursor: pointer;
    }
  }
}
.zoom-image-dialog {
  .p-dialog {
    .p-dialog-titlebar {
      padding: 4px 8px;
    }
  }

  .zoomed-image {
    position: relative;
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;

    i {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 26px;
      background-color: #d6d6d6;
      padding: 4px 6px;
      border-radius: 2px;
      cursor: pointer;
    }

  }
}



.expanded-row-table {
  display: table;
  width: 100%;

  .body {
    display: table-row-group;

    .row {
      display: table-row;

      .cell {
        border: 1px solid #c8c8c8;
        display: table-cell;
        padding: 2px 10px;
        background-color: white;
        vertical-align: middle;

        &.image-wrapper {
          vertical-align: middle;
          display: table-cell;
        }

        .order-item-logo {
          height: 60px;
          width: 60px;
          background-position: center;
          background-size: contain;
        }

      }
      .head {
        border: 1px solid #c8c8c8;
        display: table-cell;
        padding: 3px 10px;
        font-weight: bold;
        color: white;
        background-color: #007ad9;
      }
    }
  }

}



tr {
  &.selected {
    background-color: #e67700 !important;
    color: white !important;
  }
  &.expanded {
    background-color: #eb9232 !important;
    color: white !important;
  }

  td {
    a.row-expander {
      cursor: pointer;
    }
  }

  &.p-highlight-contextmenu {
    background-color: #e67700 !important;
    color: white !important;
  }

}

input[readonly] {
  background-color: #f4f4f4;
}

.prime-form-group {
  display: flex;
  align-items: center;
  min-height: 48px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
