p-multiselect.table-filter > div {
  width: 100%;
  margin-top: 8px;
}

.ui-form-group {
  margin-bottom: 15px;
}

.ui-grid .ui-grid-row {
  display: flex;
  clear: both;
}

.item-form {

  .prime-form-group {
    display: flex;
    margin-bottom: 16px;

    & > * {
      align-items: center;
      display: flex;
    }

    .ui-message {
      margin-left: 16px;
    }

  }

  .footer {
    display: flex;
    justify-content: space-between;

    button:last-child {
      margin-left: auto;
    }

  }

}

.ui-contextmenu{
  white-space: nowrap;
  width: auto;
}

.cm-primary {
  span {
    color: #007ad9 !important;
  }
}

.cm-accent {
  span {
    color: #34A835 !important;
  }
}

.cm-warn {
  span {
    color: darkorange !important;
  }
}

.cm-danger {
  span {
    color: #e91224 !important;
  }
}

.pg-primary {
  color: #007ad9 !important;
}

.pg-accent {
  color: #34A835 !important;
}

.pg-warn  {
  color: darkorange !important;
}

.pg-danger {
  color: #e91224 !important;
}

p-contextmenu {
  .ui-menuitem-icon {
    min-width: 22px;
    font-size: 18px;
  }
}

.range-filter-values {
  white-space: nowrap;
}

