p-multiselect.table-filter > div {
  width: 100%;
}

.ui-progress-spinner {
    width: 50px;
    height: 50px;
}

.ui-form-group {
  margin-bottom: 15px;
}

.ui-grid .ui-grid-row {
  display: flex;
  clear: both;
}

.item-form {

  .prime-form-group {
    display: flex;
    margin-bottom: 16px;

    & > * {
      align-items: center;
      display: flex;
    }

    .ui-message {
      margin-left: 16px;
    }

  }

  .footer {
    display: flex;
    justify-content: space-between;

    button:last-child {
      margin-left: auto;
    }

  }

}

.ui-contextmenu {
  white-space: nowrap;
  width: auto;
}

p-menu {
  white-space: nowrap;
  width: auto;
  .ui-menu-dynamic {
    width: auto;
  }
  .ui-menuitem-icon {
    min-width: 18px;
    font-size: 18px;
  }
}

.cm-primary {
  span {
    color: #007ad9 !important;
  }
}

.cm-accent {
  span {
    color: #34A835 !important;
  }
}

.cm-warn {
  span {
    color: darkorange !important;
  }
}

.cm-danger {
  span {
    color: #e91224 !important;
  }
}

.pg-primary {
  color: #007ad9 !important;
}

.pg-accent {
  color: #34A835 !important;
}

.pg-warn {
  color: darkorange !important;
}

.pg-danger {
  color: #e91224 !important;
}

p-contextmenu {
  .ui-menuitem-icon {
    min-width: 22px;
    font-size: 18px;
  }
}

.range-filter-values {
  white-space: nowrap;
}

body .ui-menu .ui-menuitem-link .ui-menuitem-icon, body .ui-menubar .ui-menuitem-link .ui-menuitem-icon, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-icon, body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-icon {
  margin-right: 0.3em;
}
