p-multiselect.table-filter > div {
  width: 100%;
}

.p-progress-spinner {
    width: 50px;
    height: 50px;
}

.p-form-group {
  margin-bottom: 15px;
}

.p-grid .p-grid-row {
  display: flex;
  clear: both;
}

.item-form {

  .prime-form-group {
    display: flex;
    width: 100%;

    & > * {
      align-items: center;
      display: flex;
    }

    .p-message {
      margin-left: 16px;
    }

    input {
      width: 100%;
    }

    p-dropdown {
      .p-dropdown {
        width: 100%;
      }
    }

    textarea {
      width: 100%;
    }

    //button {
    //  width: 100%;
    //}

  }

  .footer {
    display: flex;
    justify-content: space-between;

    button:last-child {
      margin-left: auto;
    }

  }

}

.p-contextmenu {
  white-space: nowrap;
  width: auto;
}

p-menu {
  white-space: nowrap;
  width: auto;
  .p-menu-dynamic {
    width: auto;
  }
  .p-menuitem-icon {
    min-width: 18px;
    font-size: 18px;
  }

  .p-menu {
    width: auto;
  }

}

.cm-primary {
  span {
    color: #007ad9 !important;
  }
}

.cm-accent {
  span {
    color: #34A835 !important;
  }
}

.cm-warn {
  span {
    color: darkorange !important;
  }
}

.cm-danger {
  span {
    color: #e91224 !important;
  }
}

.pg-primary {
  color: #007ad9 !important;
}

.pg-accent {
  color: #34A835 !important;
}

.pg-warn {
  color: darkorange !important;
}

.pg-danger {
  color: #e91224 !important;
}

p-contextmenu {
  .p-menuitem-icon {
    min-width: 22px;
    font-size: 18px;
  }
}

.range-filter-values {
  white-space: nowrap;
}

body .p-menu .p-menuitem-link .p-menuitem-icon, body .p-menubar .p-menuitem-link .p-menuitem-icon, body .p-tieredmenu .p-menuitem-link .p-menuitem-icon, body .p-contextmenu .p-menuitem-link .p-menuitem-icon, body .p-megamenu .p-menuitem-link .p-menuitem-icon, body .p-slidemenu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.3em;
}

.p-button-success .p-button.p-button-icon-only {
  color: #ffffff;
  background: #34A835;
  border: 1px solid #34A835;
}

.p-button-success .p-button.p-button-icon-only:hover {
  background: #107D11;
  color: #ffffff;
  border-color: #107D11;
}

.p-button-success .p-button.p-button-icon-only:focus {
  box-shadow: 0 0 0 0.2rem #aae5aa;
}

.p-button-success .p-button.p-button-icon-only:active {
  background: #0C6B0D;
  color: #ffffff;
  border-color: #0C6B0D;
}

.p-button-danger .p-button.p-button-icon-only {
  color: #ffffff;
  background: #e91224;
  border: 1px solid #e91224;
}

.p-button-danger .p-button.p-button-icon-only:hover {
  background: #c01120;
  color: #ffffff;
  border-color: #c01120;
}

.p-button-danger .p-button.p-button-icon-only:focus {
  box-shadow: 0 0 0 0.2rem #f9b4ba;
}

.p-button-danger .p-button.p-button-icon-only:active {
  background: #a90000;
  color: #ffffff;
  border-color: #a90000;
}
