<admin-header (toggleSidebar)="this.toggleSidebar = !this.toggleSidebar"></admin-header>
<div class="scroll-holder" #scrollHolder>
  <admin-sidebar [toggleSidebar]="toggleSidebar"></admin-sidebar>
  <div class="admin-layout-content" [ngClass]="{'-opened': toggleSidebar}">
    <router-outlet></router-outlet>
  </div>
</div>

<p-confirmDialog header="Підтвердіть дію"
                 message="Ви впевнені що хочете виконати дану дію?"
                 acceptLabel="Так"
                 rejectLabel="Ні"
                 icon="pi pi-exclamation-triangle">
</p-confirmDialog>
