:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.admin-layout-content {
  margin-left: 70px;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  transition: margin-left .2s ease;
  min-height: calc(100vh - 66px);
  max-height: calc(100vh - 66px);
  &.-opened {
    margin-left: 250px;
  }
}

.scroll-holder {
  flex-grow: 1;
  margin-top: 50px;
  height: calc(100% - 50px);
}

.panel-header {
  width: max-content;
  min-width: 100%;

  &.item {
    min-width: initial;
  }
}

.panel-content {
  width: fit-content;
  min-width: 100%;
}
