<div class="delivery">
  <div class="title">Доставка</div>
  <div class="delivery-block-inner">
    <ul>
      <li>Самовивіз з Нової Пошти</li>
      <li>Кур'єр Нова Пошта</li>
      <li>Самовивіз з Укрпошти</li>
      <li>Самовивіз з м.Ужгород</li>
    </ul>
    <div class="delivery-hint">* Доставка здійснюється згідно з тарифами перевізника</div>
  </div>
</div>

<div class="payment">
  <div class="title">Оплата</div>
  <div class="payment-block-inner">
    <p>Після оформлення замовлення ви отримаєте реквізити для оплати</p>
  </div>
</div>

<div class="warranty">
  <div class="title">Гарантія</div>
  <div class="warranty-block-inner">
    <p>Перед відправкою посадкового матеріалу ми ретельно перевіряємо його на відповідність стандартам та відправляємо своїм клієнтам тільки якісний товар.</p>
    <p>При наявності зауваженнь до стану посадкового матеріалу <a routerLink="/about-us">звяжітья з нами</a> відразу після отримання пакунку і ми зясуємо та вирішимо вашу ситуацію.</p>
    <div class="warranty-hint">* Магазин не несе відповідальності за пошкодження товару під час доставки</div>
  </div>
</div>
