<div class="delivery">
  <div class="title">Доставка</div>
  <div class="delivery-block-inner">
    <ul>
      <li>Самовивіз з <span class="highlight">Нової Пошти</span></li>
      <li>Кур'єр <span class="highlight">Нова Пошта</span></li>
      <li>Самовивіз з <span class="highlight">Укрпошти</span></li>
      <li>Самовивіз з <span class="highlight">м.Ужгород</span></li>
    </ul>
    <div class="delivery-hint">* Доставка здійснюється згідно з тарифами перевізника</div>
  </div>
</div>

<div class="payment">
  <div class="title">Оплата</div>
  <div class="payment-block-inner">
    <p>Після оформлення замовлення ви отримаєте реквізити для оплати на ваш <span class="highlight">email</span></p>
  </div>
</div>

<div class="warranty">
  <div class="title">Гарантія</div>
  <div class="warranty-block-inner">
    <p>Перед відправкою ми ретельно перевіряємо якість посадкового матеріалу і відправляємо тільки якісний товар.</p>
    <p>Покупцям необхідно прийняти посадковий метеріал по кількості та якості в день його отримання.</p>
    <p>При наявності зауваженнь щодо кількості або якості посадкового матеріалу, <a class="contact-us" (click)="contactUsService.openMessageOptionsDialog()">зв'яжітьcя з нами</a>, не пізніше наступного дня після отримання пакунку.</p>
<!--    <div class="warranty-hint">* Магазин не несе відповідальності за пошкодження товару під час доставки та зберіганні на відділенні перевізника</div>-->
  </div>
</div>
