@import '~@angular/material/theming';
@import "../../../../../theme";

:host {
  //flex-direction: column;
  //display: flex;
  border-radius: 2px;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(6);
  }

  .logo {
    min-height: 160px;
    min-width: 100px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    padding: 12px;
    .general-info {
      display: flex;
      justify-content: space-between;

      .tags {
        display: flex;
        flex-direction: row;
        place-content: flex-start space-between;
        align-items: flex-start;

        .tag {
          background-color: mat-color($primary);
          border-radius: 30px;
          padding: 0px 5px;
          margin-right: 2px;
          color: white;
          font-size: 10px;
          line-height: 160%;
        }

      }

      .created {
        color: #858585;
      }

    }
  }

}
