@import "theme";
@import "mixins.scss";

:host {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  .loading-spinner {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 250px;
  }

  .wrapper {

    .size-selector-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .size-price-block {
        font-size: 12px;
        display: flex;
        padding: 10px;

        .size-block {
          display: flex;
          align-items: center;
          width: 40px;
        }

        .price-block {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 70px;
        }
      }
    }

    .dropdown-block {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      .chosen-item {
        display: flex;
        margin-top: 5px;
        align-items: center;
        margin-left: 5px;

        .current-date-value {
          margin-left: 5px;
        }

        .color-square {
          margin-left: 5px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }


}

