<div class="panel-header item ui-grid-col-4">
  <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
  <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Квітку</b></h1>
</div>

<div class="panel-content">

  <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="name">Назва</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #name="ngModel"
            id="name"
            name="name"
            [(ngModel)]="item.name"/>
        </div>
        <div class="ui-grid-col-2">
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="nameOriginal">Назва(англ)</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #nameOriginal="ngModel"
            id="nameOriginal"
            name="nameOriginal"
            [(ngModel)]="item.nameOriginal"/>
        </div>
        <div class="ui-grid-col-2">
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="nameOriginal">Фото</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #image="ngModel"
            id="image"
            name="nameOriginal"
            [(ngModel)]="item.image"/>
        </div>
        <div class="ui-grid-col-2">
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="flowerTypeName">Тип квітки</label>
        </div>
<!--        <div class="ui-grid-col-2">-->
          <p-dropdown [options]="flowerTypes" [ngModelOptions]="{standalone: true}" optionLabel="name" [(ngModel)]="item.flowerType" placeholder="Виберіть тип квітки" id="flowerTypeName"></p-dropdown>
<!--        </div>-->
        <div class="ui-grid-col-2">
        </div>
      </div>



    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4 footer">
        <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}"></button>
      </div>
    </div>

  </form>

</div>

