<div class="panel-header item ui-grid-col-6">
  <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
  <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}} <b>Квітку</b></h1>
</div>

<div class="panel-content">

  <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

    <div class="ui-grid ui-grid-responsive ui-fluid">

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="name">Назва</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #name="ngModel"
            id="name"
            name="name"
            [(ngModel)]="item.name"
            [uniqueValidator]="dataService.isNameFree.bind(dataService)"
            [previousValue]="previousName"
          />
        </div>
        <div class="ui-grid-col-3" *ngIf="name.errors?.unique">
          <ng-container>
            <p-message severity="error" text="Дана квітка вже існує"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="nameOriginal">Назва(англ)</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #nameOriginal="ngModel"
            id="nameOriginal"
            name="nameOriginal"
            [(ngModel)]="item.nameOriginal"
            [uniqueValidator]="dataService.isNameOriginalFree.bind(dataService)"
            [previousValue]="previousNameOriginal"
          />
        </div>
        <div class="ui-grid-col-3" *ngIf="nameOriginal.errors?.unique">
          <ng-container>
            <p-message severity="error" text="Дана квітка вже існує"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="nameOriginal">Фото</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #image="ngModel"
            id="image"
            name="image"
            [(ngModel)]="item.image"/>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="flowerTypeName">Тип квітки</label>
        </div>
        <div class="ui-grid-col-2">
          <div class="dropdown-block">
            <p-dropdown [options]="flowerTypes" [ngModelOptions]="{standalone: true}" optionLabel="name" [(ngModel)]="item.flowerType"
                        placeholder="Оберіть тип квітки" id="flowerTypeName"></p-dropdown>
            <div *ngIf="this.mode == ItemSaveMode.edit" class="chosen-item">
              <div>Обраний тип:</div>
              <div style="margin-left: 5px" *ngIf="item.flowerType != undefined">{{item.flowerType.name}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="groupName">Група</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #groupName="ngModel"
            id="groupName"
            name="groupName"
            [(ngModel)]="item.groupName"/>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="flowerSizeMin">Розмір(cm)</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #flowerSizeMin="ngModel"
            id="flowerSizeMin"
            name="flowerSizeMin"
            [(ngModel)]="item.flowerSizeMin"
            rangePair
            [rangePairMax]="item.flowerSizeMax"
            [rangePair]="'flowerSizeMax'"
          /> — <input
          pInputText
          #flowerSizeMax="ngModel"
          id="flowerSizeMax"
          name="flowerSizeMax"
          [(ngModel)]="item.flowerSizeMax"
          rangePair
          required
          [rangePairMin]="item.flowerSizeMin"
        />
        </div>
        <div class="ui-grid-col-4">
          <div *ngIf="flowerSizeMax.errors?.required">
            <ng-container *ngIf="flowerSizeMax.dirty || flowerSizeMax.touched || form.submitted">
              <p-message *ngIf="flowerSizeMax.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
            </ng-container>
          </div>
          <ng-container *ngIf="flowerSizeMax.errors?.rangePair">
            <p-message  severity="error" text="Максимальне значення повинне бути більше ніж мінімальне"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="flowerHeightMin">Висота(cm)</label>
        </div>
        <div class="ui-grid-col-2">
          <input
            pInputText
            #flowerHeightMin="ngModel"
            id="flowerHeightMin"
            name="flowerHeightMin"
            [(ngModel)]="item.flowerHeightMin"
            rangePair
            [rangePairMax]="item.flowerHeightMax"
            [rangePair]="'flowerHeightMax'"
          /> — <input
          pInputText
          #flowerHeightMax="ngModel"
          id="flowerHeightMax"
          name="flowerHeightMax"
          [(ngModel)]="item.flowerHeightMax"
          rangePair
          required
          [rangePairMin]="item.flowerHeightMin"
        />
        </div>
        <div class="ui-grid-col-4">
          <div *ngIf="flowerHeightMax.errors?.required">
            <ng-container *ngIf="flowerHeightMax.dirty || flowerHeightMax.touched || form.submitted">
              <p-message *ngIf="flowerHeightMax.errors?.required" severity="error" text="Повинно бути вказано"></p-message>
            </ng-container>
          </div>
          <ng-container *ngIf="flowerHeightMax.errors?.rangePair">
            <p-message  severity="error" text="Максимальне значення повинне бути більше ніж мінімальне"></p-message>
          </ng-container>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="popularity">Рейтинг</label>
        </div>
        <p-rating
          #popularity="ngModel"
          id="popularity"
          name="popularity"
          [(ngModel)]="item.popularity" stars="10"></p-rating>
      </div>


      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="isNew">Новинка</label>
        </div>
        <div class="ui-grid-col-2">
          <p-inputSwitch
            #isNew="ngModel"
            id="isNew"
            name="isNew"
            [(ngModel)]="item.isNew"></p-inputSwitch>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="isPopular">Популярна</label>
        </div>
        <div class="ui-grid-col-2">
          <p-inputSwitch
            #isPopular="ngModel"
            id="isPopular"
            name="isPopular"
            [(ngModel)]="item.isPopular"></p-inputSwitch>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="color">Колір</label>
        </div>
        <div class="ui-grid-col-2">
          <div class="dropdown-block">
            <p-dropdown [options]="colors" id="color" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.color" placeholder="Оберіть колір квітки"
                        optionLabel="name"></p-dropdown>
            <div *ngIf="item.color" class="chosen-item">
              <div>Вибраний колір:</div>
              <div class="color-square" [ngStyle]="{'background-color': item.color.hex}"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="prime-form-group">
        <div class="ui-grid-col-2">
          <label for="created">Дата</label>
        </div>
        <div class="ui-grid-col-2">
          <div class="dropdown-block">
            <p-calendar dateFormat="dd.mm.yy" [ngModelOptions]="{standalone: true}"
                        [locale]="translation.calendar_ua" id="created"
                        [(ngModel)]="date" (onSelect)="changeDate()"
                        [showWeek]="true"></p-calendar>
            <div class="chosen-item" *ngIf="this.mode == ItemSaveMode.edit">
              <div>Дата:</div>
              <div class="current-date-value">{{item.created | date:'dd.MM.yyyy H:mm'}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="prime-form-group" style="align-items: flex-start;">
        <div class="ui-grid-col-2" style="margin-top: 7px;">
          <label for="size">Розмір та ціна(коп.)</label>
        </div>
        <div class="size-wrapper">
          <p-multiSelect id="size" [options]="sizes" [ngModelOptions]="{standalone: true}" [(ngModel)]="sizesToChange" (onClick)="isEditFlowerSizesShowed=true" (onChange)="initializeFlowerSizes()" optionLabel="name" defaultLabel="Оберіть розміри квітки"></p-multiSelect>
          <div *ngIf="isEditFlowerSizesShowed">
            <div class="size-price-block" *ngFor="let sizeToChange of sizesToChange; let i = index">
              <div class="size-block">{{sizeToChange.name}}</div>—<div class="price-block"><input [ngModelOptions]="{standalone: true}" [(ngModel)]="flowerSizes[i].price" (ngModelChange)="onSizeChange(sizeToChange, i)" style="width: 60px"></div>
            </div>
          </div>
          <div *ngIf="!isEditFlowerSizesShowed">
            <div class="size-price-block" *ngFor="let sizeToChange of this.item.flowerSizes; let i = index">
              <div class="size-block">{{sizeToChange.size.name}}</div>—<div class="price-block"><input [ngModelOptions]="{standalone: true}" [(ngModel)]="this.item.flowerSizes[i].price" style="width: 60px"></div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="ui-grid-row ui-grid-field">
      <div class="ui-grid-col-4 footer">
        <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}"></button>
      </div>
    </div>

  </form>

</div>

