<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()">close</i>

  <div class="wrapper" *ngIf="flower">

    <div class="title">
      <span class="flower-type-name">{{flower.flowerType.nameSingle}} </span>
      <span class="flower-name">{{flower.name}}</span>
    </div>
    <div class="content">

      <div class="image" [ngStyle]="{'background-image':'url(' + flower.image + ')'}"></div>

      <div class="add-to-card-block">

        <div class="add-to-card-inner">

          <table>

            <tr class="header">
              <th>Розмір</th>
              <th>Ціна</th>
              <th>Кількість</th>
            </tr>

            <ng-template ngFor let-flowerSize [ngForOf]="flower.flowerSizes" let-i="index">
              <tr [ngClass]="{'flower-size-empty': flower.flowerSizes[i].available == 0}">
                <td>{{flowerSize.size.name}}</td>
                <td>{{flowerSize.price / 100 + ' грн'}}</td>
                <td>
                  <amount-controlled-input name="amount"  [(ngModel)]="bucketItems[i].amount" [availableAmount]="bucketLocalService.getMaxAmountForFlowerSize(flower.flowerSizes[i].id, flower.flowerSizes[i].available)" [disabled]="flower.flowerSizes[i].available == 0"></amount-controlled-input>
                </td>
              </tr>
            </ng-template>

          </table>

          <button mat-flat-button color="accent" class="add-to-card-button" (click)="addToBucket()">
            <i class="material-icons">add_shopping_cart</i>
            <span>Купити</span>
          </button>

        </div>

      </div>

    </div>

  </div>

  <div *ngIf="!flower" class="spinner-wrapper">
    <mat-spinner style="margin:0 auto" diameter="30" mode="indeterminate"></mat-spinner>
  </div>

</div>



