<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()"></i>

  <div class="wrapper" *ngIf="flowerSize">

    <div class="title">
      <span class="flower-type-name">{{flowerSize.flower.flowerType.nameSingle}} </span>
      <span class="flower-name">{{flowerSize.flower.nameOriginal}}</span>
    </div>
    <div class="content">

      <div class="image" [ngStyle]="flowerSize.flower.image && {'background-image':'url(' + flowerSize.flower.image + ')'} || {'background-image':'url(' + flowerImagePlaceholder + ')'}"></div>

      <div class="add-to-card-block">

        <div class="add-to-card-inner">

          <table *ngIf="flowerSize.isAvailable">

            <tr class="header">
              <th [innerText]="'Розмір'"></th>
              <th [innerText]="'Ціна'"></th>
              <th [innerText]="'Кількість'"></th>
            </tr>

              <tr [ngClass]="{'flower-size-empty': flowerSize.available == 0}">
                <td>{{flowerSize.size.name}}</td>
                <td>{{flowerSize.price / 100 + ' грн'}}</td>
                <td>
                  <amount-controlled-input name="amount" [(ngModel)]="bucketItem.amount" [availableAmount]="bucketLocalService.getMaxAmountForFlowerSize(flowerSize.id, flowerSize.available)" [disabled]="flowerSize.available == 0"></amount-controlled-input>
                </td>
              </tr>

          </table>

          <div class="items-total-price-block-wrapper" [ngClass]="{'unavailable': !flowerSize.isAvailable}">
            <div *ngIf="flowerSize.isAvailable; else unavailable" class="items-total-price-block" [ngClass]="{'accent': bucketItem.amount * bucketItem.price > 0}">Разом на суму: <span class="items-total-price">{{bucketItem.amount * bucketItem.price / 100}} грн</span></div>
            <ng-template #unavailable>
              <div class="item-unavailable">Немає в наявності</div>
            </ng-template>
          </div>

          <button mat-flat-button color="accent" class="add-to-card-button" (click)="addToBucket()">
            <i class="material-icons">add_shopping_cart</i>
            <span>Купити</span>
          </button>

        </div>

      </div>

    </div>

  </div>

  <div *ngIf="!flowerSize" class="spinner-wrapper">
    <mat-spinner style="margin:0 auto" diameter="30" mode="indeterminate"></mat-spinner>
  </div>

</div>



