@import "theme";
@import "mixins";

:host {

  .dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;

    & > i.close {
      cursor: pointer;
      position: absolute;
      top: -16px;
      right: -16px;
      color: $grey-400;
      font-size: 24px;
    }

    .wrapper > .title {
      color: $grey-800;
      font-size: 26px;
      margin-bottom: 24px;
      .flower-name {
        color: mat-color($accent);
      }

      @include response-to(sm) {
        text-align: center;
      }

    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "image add-to-card-block";

      @include response-to(sm) {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "add-to-card-block";
      }

      .image {
        grid-area: image;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: mat-color($primary, 50);
        background-position: center;

        @include response(xs) {
          height: 200px;
        }

      }

      .add-to-card-block {
        grid-area: add-to-card-block;
        padding: 24px 16px;
        background-color: $grey-30;
        height: fit-content;
        display: grid;
        margin: 0px 24px;
        justify-content: center;
        white-space: nowrap;

        @include response(xs) {
          padding: 24px 0px;
        }

        @include response-to(sm) {
          margin: 0px;
        }

        .add-to-card-inner {
          display: grid;
          max-width: 375px;
          justify-content: center;

          table {
            border-collapse: separate;
            border-spacing: 20px 0px;

            tr {

              &.flower-size-empty {
                opacity: 0.4;
              }


              &.header {
                th {
                  color: $grey-800;
                  font-weight: 500;
                  padding-bottom: 16px;
                }
              }

              td {
                text-align: right;
                font-size: 20px;
                padding-bottom: 16px;
              }
            }
          }

          .items-total-price-block-wrapper {
            font-size: 24px;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-top: 4px;
            border-top: 1px solid $grey-100;
            text-align: center;
            color: $grey-600;

            .items-total-price-block {
              opacity: 0.5;
              &.accent {
                opacity: 1;
              }

              .items-total-price {
                font-weight: 500;
                color: $black-400;
              }
            }

          }

          .add-to-card-button {
            justify-self: center;
            width: 220px;
            font-size: 24px;
            height: 44px;
            text-transform: uppercase;
            i {
              margin-right: 8px;
            }
          }

        }

      }

    }

  }

  .spinner-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 262px;
  }

}
