<div class="loading-spinner" *ngIf="!isLoaded">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="wrapper" *ngIf="isLoaded">

  <div class="panel-header item p-col-6">
    <button pButton icon="fa fa-arrow-left" class="button-back" label="Назад" routerLink="../../"></button>
    <h1>{{mode == ItemSaveMode.new ? 'Додати' : 'Оновити'}}
      <b>Колір</b>
    </h1>
  </div>

  <div class="panel-content">

    <form #form="ngForm" class="item-form" (ngSubmit)="form.valid && onSubmit()">

      <div class="p-grid p-grid-responsive ui-fluid">

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="name">Назва</label>
          </div>
          <div class="p-col-3">
            <input
              pInputText
              #name="ngModel"
              id="name"
              name="name"
              [(ngModel)]="item.name"
              [uniqueValidator]="dataService.isNameFree.bind(dataService)"
              [previousValue]="previousName"
            />
          </div>
          <div class="p-col-3" *ngIf="name.errors?.unique">
            <ng-container>
              <p-message severity="error" text="Даний колір вже існує"></p-message>
            </ng-container>
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label>Колір</label>
          </div>
          <div class="p-col-3">
            <p-colorPicker #color="ngModel" name="color" [(ngModel)]="item.hex"></p-colorPicker>
          </div>
          <div class="p-col-3">
          </div>
        </div>

        <div class="prime-form-group">
          <div class="p-col-3">
            <label for="hex">HEX</label>
          </div>
          <div class="p-col-3">
            <input
              pInputText
              #hex="ngModel"
              id="hex"
              name="hex"
              maxlength="7"
              [uniqueValidator]="dataService.isHexFree.bind(dataService)"
              [previousValue]="previousColor"
              [(ngModel)]="item.hex"
              pattern="^#([0-9a-f]{6})$"
            />
          </div>
          <div class="p-col-3" *ngIf="hex.errors">
            <ng-container>
              <p-message *ngIf="hex.errors?.unique" severity="error" text="Даний HEX вже існує"></p-message>
              <p-message *ngIf="hex.errors?.pattern" severity="error" text="Введіть ваділдний код кольору"></p-message>
            </ng-container>
          </div>
        </div>

      </div>

      <div class="p-grid-row p-grid-field">
        <div class="p-col-6 footer">
          <button type="submit" pButton icon="{{loading ? 'fas fa-spinner fa-pulse' : 'pi pi-check'}}" class="p-button-success" label="{{mode == ItemSaveMode.new ? 'Зберегти' : 'Оновити'}}" [disabled]="loading"></button>
        </div>
      </div>

    </form>

  </div>
</div>


