<div class="wrapper">

  <i class="material-icons close" (click)="dialogRef.close()"></i>

  <div class="dialog-header">
    <div>
      Заповність, будь ласка, необхідні дані
    </div>
  </div>

  <form #addPhoneEmailForm="ngForm" class="login-form" (ngSubmit)="addPhoneEmailForm.valid && submit()">

    <div class="inputs">
      <div>
        <div class="input-group" *ngIf="!user.hasOwnProperty('email')">

          <input
            #email="ngModel"
            type="email"
            name="email"
            [(ngModel)]="userEmail"
            placeholder="Електронна адреса"
            required/>

          <div class="error-wrapper" *ngIf="(email.dirty || email.touched)">
            <div class="error-message" *ngIf="email.errors?.required">Повинно бути вказано</div>
          </div>

        </div>

        <div class="input-group" *ngIf="!user.hasOwnProperty('phone')">

          <input
            #phone="ngModel"
            name="phone"
            [(ngModel)]="userPhone"
            validation="false"
            prefix="+38 "
            mask='(000) 000-0000'
            maxlength="18"
            pattern="^[0].{9,9}"
            required/>

          <div class="error-wrapper" *ngIf="phone.dirty || phone.touched || addPhoneEmailForm.submitted">
            <div class="error-message" *ngIf="phone.errors?.required">Повинно бути вказано</div>
            <div class="error-message" *ngIf="!phone.errors?.required && phone.errors?.pattern">Введіть валідний номер телефону</div>
          </div>

        </div>
      </div>


      <div class="action">
        <button type="submit" mat-flat-button color="accent">Підтвердити</button>
      </div>
    </div>

  </form>


</div>
