<div class="dialog-container">

  <i class="material-icons close" (click)="dialogRef.close()"></i>

  <div class="dialog-header">
    Кошик
  </div>

  <div class="dialog-content">

    <div class="bucket-table">

      <div class="header">
        <div></div>
        <div></div>
        <div class="price">Ціна</div>
        <div class="amount">Кількість</div>
        <div class="total-price">Сума</div>
      </div>

      <div class="content">

        <ng-template ngFor let-bucketItem [ngForOf]="bucketLocalService.bucket" let-i="index">
          <div class="bucket-table-row">
            <div  class="bucket-item-image">
              <a [routerLink]="['shop/item', bucketItem.flowerSizeId]" (click)="dialogRef.close()">
                <img [src]="bucketItem.image || flowerImagePlaceholder">
              </a>
            </div>
            <div class="bucket-item-name">
              <div class="flower-type-name">
                <a [routerLink]="['shop']" [queryParams]="{flowerTypes: bucketItem.flowerTypeId}" (click)="dialogRef.close()">{{bucketItem.flowerTypeName}}</a>
              </div>
              <div class="flower-name">
                <a [routerLink]="['shop/item', bucketItem.flowerSizeId]" (click)="dialogRef.close()">{{bucketItem.name}}</a>
              </div>
              <div class="flower-size-name">{{bucketItem.sizeName}}</div>
            </div>
            <div class="bucket-item-price">{{bucketItem.price / 100}} грн <span class="label"> за шт</span></div>
            <div class="bucket-item-amount">
              <amount-controlled-input name="amount" [minAmount]="1" [(ngModel)]="bucketItem.amount" (ngModelChange)="onBucketChange()" [availableAmount]="bucketItem.available"></amount-controlled-input>
            </div>
            <div class="bucket-item-total-price"><span class="label">Сума: </span> {{bucketItem.price * bucketItem.amount / 100}} грн</div>

            <div class="remove-icon-wrapper">
              <i class="material-icons close" (click)="removeBucketItem(bucketItem)"></i>
            </div>

          </div>
        </ng-template>

      </div>

    </div>

    <div class="total-price-wrapper">
      <div class="total-price-block">
        <div class="label">Разом:</div>
        <div class="total-price">{{bucketLocalService.bucketInfo.totalPrice / 100}} грн</div>
      </div>
    </div>

    <div class="buttons-wrapper">
      <button mat-stroked-button color="primary" (click)="dialogRef.close()">
        <i class="material-icons">add_shopping_cart</i>
        <span>Продовжити купувати</span>
      </button>
      <button mat-flat-button color="accent" routerLink="/order" (click)="dialogRef.close()">
        <i class="material-icons">shopping_basket</i>
        <span>Оформити замовлення</span>
      </button>
    </div>

  </div>

</div>

