<div class="wrapper">
  <div class="main">Профіль</div>
  <div class="content">
    <div class="user-info">
      <div class="user-property">Ім'я</div><div class="user-value">{{securityService.getUser().name}}</div>
    </div>
    <div class="user-info">
      <div class="user-property">Емейл</div><div class="user-value">{{securityService.getUser().email}}</div>
    </div>
    <div class="user-info">
      <div class="user-property">Адреса</div><div class="user-value">м. Івано-Франківськ, вул. Дністровська 15, кв. 124</div>
    </div>
    <div class="user-info">
      <div class="user-property">Номер телефону</div><div class="user-value">+38(099)589 33 54</div>
    </div>
    <div class="user-info">
      <button mat-button>Змінити пароль</button>
    </div>
  </div>
</div>
