@import '~@angular/material/theming';
@import "theme";
@import 'mixins';

:host {
  @extend .content-thin;
  @extend .content-thin-padding;
  display: grid;
  grid-template-rows: 75px auto;

  .top-line-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @include response-to(sm) {
      padding-left: 24px;
      padding-right: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title {
      color: $grey-800;
      font-size: 26px;
      margin-bottom: 24px;

      .flower-type-name {
        cursor: pointer;
        color: $grey-800;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .flower-name {
        color: mat-color($accent);
      }

      @include response-to(sm) {
        text-align: center;
        margin-bottom: 0px;
      }

    }

    .item-code {
      display: flex;
      margin-top: 10px;
      margin-right: 24px;
      background-color: $grey-30;

      padding: 4px 8px;
      @include response-to(sm) {
        margin-bottom: 20px;
        margin-right: 24px;
      }

      .label {
        margin-right: 8px;
        color: $grey-400;
      }

      .value {
        color: $black-500;
      }
    }

  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main-info purchase-info-wrapper" "description description";
    height: fit-content;
    grid-row-gap: 24px;

    @include response-to(sm) {
      grid-template-columns: 1fr;
      grid-template-areas: "main-info" "purchase-info-wrapper" "purchase-additional-info" "description";
      grid-row-gap: 24px;
    }

    .main-info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "image" "specifications";
      grid-area: main-info;
      height: fit-content;
      grid-row-gap: 24px;

      @include response-to(sm) {
        grid-row-gap: 0px;
      }

      .image {
        grid-area: image;
        height: 400px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: mat-color($primary, 50);
        background-position: center;

        @include response(xs) {
          height: 200px;
        }

      }

      ::ng-deep specifications {
        @include response-to(sm) {
          display: none;
        }
      }

    }

    .purchase-info-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "add-to-card-block" "purchase-additional-info";
      grid-area: purchase-info-wrapper;
      height: fit-content;

      @include response-to(sm) {
        grid-row-gap: 24px;
        grid-template-areas: "add-to-card-block" "specifications";
      }

      .add-to-card-block {
        grid-area: add-to-card-block;
        padding: 24px 16px;
        background-color: $grey-30;
        height: fit-content;
        display: grid;
        justify-content: center;
        white-space: nowrap;
        margin: 0px 24px 24px;

        @include response(xs) {
          padding: 24px 0px;
        }

        @include response-to(sm) {
          margin: 0px;
          grid-row-gap: 0px;
        }

        .add-to-card-inner {
          display: grid;
          max-width: 375px;
          justify-content: center;

          table {
            border-collapse: separate;
            border-spacing: 20px 0px;

            tr {

              &.flower-size-empty {
                opacity: 0.4;
              }


              &.header {
                th {
                  color: $grey-800;
                  font-weight: 500;
                  padding-bottom: 16px;

                  &.header-size:before {
                    content: 'Розмір';
                  }

                  &.header-price:before {
                    content: 'Ціна';
                  }

                  &.header-amount:before {
                    content: 'Кількість';
                  }

                }
              }

              td {
                text-align: right;
                font-size: 20px;
                padding-bottom: 16px;
              }
            }
          }

          .items-total-price-block-wrapper {
            font-size: 24px;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-top: 4px;
            border-top: 1px solid $grey-100;
            text-align: center;
            color: $grey-600;

            .items-total-price-block {
              opacity: 0.5;

              &.accent {
                opacity: 1;
              }

              .items-total-price {
                font-weight: 500;
                color: $black-400;
              }
            }

            .item-unavailable {
              color: mat-color($warn, 300);
            }

          }

          .add-to-card-button {
            justify-self: center;
            width: 220px;
            font-size: 24px;
            height: 44px;
            text-transform: uppercase;

            i {
              margin-right: 8px;
            }
          }

        }

      }

      specifications {
        grid-area: specifications;
        @include response-from(md) {
          display: none;
        }
      }

      purchase-additional-info {
        grid-area: purchase-additional-info;
        @include response-to(sm) {
          display: none;
        }
      }

    }

    .description {
      grid-area: description;
      margin-bottom: 24px;
      line-height: 140%;

      b {
        font-weight: 500 !important;
      }

      @include response-to(sm) {
        padding: 0px 16px;
      }

      .title {
        font-size: 24px;
        color: mat-color($primary, 900);
        margin-bottom: 16px;
      }

      .sub-title {
        font-size: 20px;
        color: mat-color($primary, 900);
        margin-bottom: 16px;
      }

      .value {
        color: $black-400;
        font-size: 16px;
        line-height: 140%;
      }

    }

    & > purchase-additional-info {
      grid-area: purchase-additional-info;
      @include response-from(md) {
        display: none;
      }
    }

  }

}

