<div class="title">
  {{flower.name}} || {{flower.nameOriginal}}
</div>
<div class="main">

  <div class="content">

    <div class="content-head">

      <div class="flower-logo">
        <img src="{{flower.image}}" alt="image">
      </div>

      <div class="flower-info">
        <span>ХАРАКТЕРИСТИКИ</span>
        <p>Максимальна висота: {{flower.flowerHeightMax}}</p>
        <p>Мінімальна висота:{{flower.flowerHeightMin}}</p>
        <p>Максимальний розмір: {{flower.flowerSizeMax}}</p>
        <p>Мінімальна розмір: {{flower.flowerSizeMin}}</p>
      </div>

    </div>

    <div class="content-description">

      <div class="description-head">
        ОПИС
      </div>

      <div class="description-info">
        Опис  — композиційна форма, яку не використовують літературознавці і лінгвісти, щоб проаналізувати текст.

        Цю композиційну форму розрізняють на опис предметів, опис процесів, опис пережитого або опис життя й характеристику.

        Комплексний предмет утворює абстрактний змістовий тип, який використовується для опису предметів. Для цієї композиційної форми типове зображення просторових відношень, в якому також відображається просторове співвідношення елементів предмету. Саме ці елемети надають тексту наочності, яке реалізується через вживання засобів простору — прислівники місця або просторове позначення, дані напрямків, відстані та форми, а також відповідного спрямування прикметників. У описі також збігається час спостреження із часом опису.

        Предмет може зображуватись у минулому часі з використанням усіх лінгвістичних засобів, які типові минулості. Дуже часто предмети у цій композиційній формі описують як спогади.      </div>

    </div>

  </div>

  <div class="sidebar">
    SIDEBAR
  </div>

</div>


