<div class="title">
  {{flower.name}} || {{flower.nameOriginal}}
  <span>{{flower.flowerType}}</span>
</div>
<div class="main">

  <div class="content">

    <div class="content-head">

      <div class="flower-logo">
        <img src="{{flower.image}}" alt="image">
      </div>

      <div class="flower-info">
        <span>ХАРАКТЕРИСТИКИ</span>
        <p>Висота: {{flower.flowerHeightMin}} — {{flower.flowerHeightMax}}</p>
        <p>Розмір: {{flower.flowerSizeMin}} — {{flower.flowerSizeMax}}</p>
      </div>

      <div class="buy-menu">
        <div class="sizes-chooser">
          <mat-button-toggle-group name="sizes" aria-label="Sizes" appearance="legacy">
            <mat-button-toggle value="size1" checked="checked">Size 1</mat-button-toggle>
            <mat-button-toggle value="size2">Size 2</mat-button-toggle>
            <mat-button-toggle value="size3">Size 3</mat-button-toggle>
          </mat-button-toggle-group>
          <p>Ціна за штуку, вибраного розміру</p>
        </div>
        <div class="amount-counter">
          <button mat-raised-button onclick="this.counterDecrement()">-</button>
          <button mat-raised-button onclick="this.counterIncrement()">+</button>
        </div>
        <div class="buy-button">

        </div>
      </div>

    </div>

    <div class="content-description">

      <div class="description-head">
        ОПИС
      </div>

      <div class="description-info">
        {{flower.description}}
      </div>

    </div>

  </div>

</div>


