<div class="wrapper" *ngIf="flowerSize">

  <div class="top-line-wrapper">
    <div class="title">
      <a class="flower-type-name" [routerLink]="['/shop']" [queryParams]="{flowerTypes: flowerSize.flower.flowerType.id}">{{flowerSize.flower.flowerType.nameSingle}}</a>
      <span class="flower-name"> {{flowerSize.flower.nameOriginal}}</span>
    </div>
    <div class="item-code">
      <div class="label">Артикул: </div>
      <div class="value">{{flowerSize.code}}</div>
    </div>
  </div>

  <div class="content">

    <div class="main-info">

      <div class="image" [ngStyle]="flowerSize.flower.image && {'background-image':'url(' + flowerSize.flower.image + ')'} || {'background-image':'url(' + flowerImagePlaceholder + ')'}"></div>

      <specifications [flowerSize]="flowerSize"></specifications>

    </div>

    <div class="purchase-info-wrapper">

      <div class="add-to-card-block">

        <div class="add-to-card-inner">

          <table>

            <tr class="header">
              <th class="header-size"></th>
              <th class="header-price"></th>
              <th class="header-amount"></th>
            </tr>

            <tr [ngClass]="{'flower-size-empty': flowerSize.available == 0}">
              <td>{{flowerSize.size.name}}</td>
              <td>{{flowerSize.price / 100 + ' грн'}}</td>
              <td>
                <amount-controlled-input name="amount" [(ngModel)]="bucketItem.amount" [availableAmount]="bucketLocalService.getMaxAmountForFlowerSize(flowerSize.id, flowerSize.available)" [disabled]="!flowerSize.isAvailable"></amount-controlled-input>
              </td>
            </tr>

          </table>

          <div class="items-total-price-block-wrapper">
            <div *ngIf="flowerSize.isAvailable; else unavailable" class="items-total-price-block" [ngClass]="{'accent': bucketItem.amount * bucketItem.price > 0}">Разом на суму: <span class="items-total-price">{{bucketItem.amount * bucketItem.price / 100}} грн</span></div>
            <ng-template #unavailable>
              <div class="item-unavailable">Немає в наявності</div>
            </ng-template>
          </div>

          <button mat-flat-button color="accent" class="add-to-card-button" (click)="addToBucket()" [disabled]="!flowerSize.isAvailable">
            <i class="material-icons add_shopping_cart"></i>
            <span>Купити</span>
          </button>

        </div>

      </div>

      <specifications [flowerSize]="flowerSize"></specifications>

      <purchase-additional-info></purchase-additional-info>

    </div>

    <purchase-additional-info></purchase-additional-info>

    <div class="description">
      <div class="description-block" *ngIf="flowerSize.flower.description">
        <div class="title">Опис</div>
        <div class="value" [innerHTML]="flowerSize.flower.description | replaceLineBreaks"></div>
      </div>
      <div class="description-block" *ngIf="flowerSize.flower.group?.description">
        <div class="sub-title">{{flowerSize.flower.group.name}}</div>
        <div class="value" [innerHTML]="flowerSize.flower.group?.description | replaceLineBreaks"></div>
      </div>
      <div class="description-block" *ngIf="flowerSize.flower.flowerType.description">
        <div class="sub-title">{{flowerSize.flower.flowerType.name}}</div>
        <div class="value" [innerHTML]="flowerSize.flower.flowerType.description | replaceLineBreaks"></div>
      </div>
    </div>

  </div>

</div>
