@import "theme";
@import "mixins.scss";

:host {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    margin: 36px 0px 12px 0px;
    color: mat-color($accent);
    font-size: 2em;

    span {
      margin-top: 12px;
      font-size: 15px;
      color: $grey-900;
    }
  }

  .main {
    display: flex;
    width: 1200px;
    height: 100%;
    flex-grow: 1;
    .content{
      @include mat-elevation(2);
      padding: 12px;
      width: 1200px;

      .content-head {
        display: flex;

        .flower-logo {
          margin: 0px 12px 0px 0px;
          height: 350px;

          img {
            width: 350px;
            height: 350px;
          }

        }
        .flower-info {
          color: $grey-900;
          height: 350px;
          width: 550px;

          span {
            color: mat-color($accent);
            font-size: 1.5em;
          }

        }
        .buy-menu {
          color: $grey-900;
          height: 350px;
          width: 300px;
          .sizes-chooser {
            display: flex;
            flex-direction: column;
            height: 100px;
            align-items: center;
            mat-button-toggle-group {
              font-weight: bold;
            }

          }
          .amount-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            button {
              font-weight: bold;
            }
          }
          .buy-button {
            height: 100px;
          }

        }
      }

      .content-description {
        display: flex;
        flex-direction: column;
        margin: 24px 0px 0px 0px;

        .description-head {
          color: mat-color($accent);
          font-size: 1.5em;
          margin-bottom: 12px;
        }
        .description-info {
          color: $grey-900;
        }

      }

    }

  }

}
