<div class="sidebar">
  <div class="nav">
    Навігація
  </div>
  <div style="width: 100%; margin-bottom: 10px">
    <hr>
  </div>
  <div class="buttons">
    <button id="1-b" (click)="activateButton('1-b')" routerLink="/my/profile">Мій профіль</button>
    <button id="2-b" (click)="activateButton('2-b')" routerLink="/my/wishlist">Список бажань</button>
    <button id="3-b" (click)="activateButton('3-b')" routerLink="/my/purchases">Мої покупки</button>
    <button id="4-b" (click)="activateButton('4-b')" routerLink="/my/favourite-articles">Улюблені статті</button>
  </div>
  <div style="width: 100%; margin-bottom: 10px">
    <hr>
  </div>
</div>
