<div class="sidebar">
  <div class="nav">
    Навігація
  </div>
  <div style="width: 100%; margin-bottom: 10px">
    <hr>
  </div>
  <div class="buttons" (click)="onButtonGroupClick()">
    <button id="profile-id" type="button" routerLink="/my/profile">Мій профіль</button>
    <button id="wishlist-id" type="button" routerLink="/my/wishlist">Список бажань</button>
    <button id="purchases-id" type="button" routerLink="/my/purchases">Мої покупки</button>
    <button id="favourite-articles-id" type="button" routerLink="/my/favourite-articles">Улюблені статті</button>
  </div>
  <div style="width: 100%; margin-bottom: 10px">
    <hr>
  </div>
</div>
